<!--what-EVER! snippet-->
<div id="productExtendedInfoContainer">
    <hr />
    {% include 'social' with product %}
	<div id="productInfoTabs">
        <ul class="tabs">
            <li><a href="#">Reviews</a></li>
            <li><a href="#">Product Features</a></li>
            <li><a href="#">Ingredients</a></li>
            <li><a href="#">Tips</a></li>
            <li><a href="#">Usage Guide</a></li>
        </ul>
      	<div class="panes">
       		<div>
            	<div class="pr_review_summary">
                    <script type="text/javascript">POWERREVIEWS.display.engine(document, { pr_page_id : "{{product.id}}" });</script>
                </div><br/>
        	</div>
          	<div>
              <p class="productInfoDetail"><strong>Tough &amp; Gentle</strong>. Use what-EVER! and be amazed how it will perform on your toughest jobs, but rest assured that you are not harming your surfaces while using it. what-EVER! all-purpose cleaner is solvent-free (no ammonia, alcohol, ethers) and pH neutral.</p>
              <p class="productInfoDetail"><strong>Sensitive to scents?</strong>. Then you'll love what-EVER! It is NOT irritating to allergy and asthma sufferers because it is made without Volatile Organic Compounds (VOCs) perfumes and dyes.</p>
              <p class="productInfoDetail"><strong>Jack of all Trades</strong>. what-EVER! is your go-to for all the daily spills and little clean-ups that you encounter throughout the day. But don't keep it under the sink for those big jobs either. This is powerful stuff.</p>
              <p class="freeHighlights">GMO Free, Gluten Free, Cruelty Free, Made in USA, Fragrance Free, Sulfate Free, Petroleum Free</p>
            </div>
          	<div>
            	<h2 class="scentHeader">Scent-Free</h2>
              <table id="ingredientTable" cellpadding="0" cellspacing="0" border="1" align="center" bordercolor="#d3cabb">
                <tr>
    	            <th><h2>INGREDIENT</h2></th>
                    <th><h2>PURPOSE</h2></th>
                    <th><h2>SOURCE</h2></th>
                </tr>
                <tr>
                	<td><p class="productInfoDetail">Purified water</p></td>
                    <td><p class="productInfoDetail">Consistency</p></td>
                    <td><p class="productInfoDetail">Local Source</p></td>
                </tr>
                
                <tr>
                	<td><p class="productInfoDetail">Decyl glucoside</p></td>
                    <td><p class="productInfoDetail">Cleaning agent / Surfactant</p></td>
                    <td><p class="productInfoDetail">Corn and coconut oil</p></td>
                </tr>
                <tr>
                	<td><p class="productInfoDetail">Lauryl glucoside</p></td>
                    <td><p class="productInfoDetail">Cleaning agent / Surfactant</p></td>
                    <td><p class="productInfoDetail">Corn and coconut oil</p></td>
                </tr>
                <tr>
                	<td><p class="productInfoDetail">Disodium cocoyl glutamate</p></td>
                    <td><p class="productInfoDetail">Cleaning agent / Surfactant</p></td>
                    <td><p class="productInfoDetail">Amino acids (plant sourced) and coconut oil</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Quillaja saponaria bark extract</p></td>
                    <td><p class="productInfoDetail">Cleaning agent </p></td>
                    <td><p class="productInfoDetail">Soap bark</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Methylisothiazolinone (less than 0.01%)</p></td>
                    <td><p class="productInfoDetail">Guard freshness</p></td>
                    <td><p class="productInfoDetail">Synthetic</p></td>
                </tr>
                  
              </table><br/><br />
              <h2 class="scentHeader">Clary Sage &amp; Citrus</h2>
              <table id="ingredientTable" cellpadding="0" cellspacing="0" border="1" align="center" bordercolor="#d3cabb">
                <tr>
    	            <th><h2>INGREDIENT</h2></th>
                    <th><h2>PURPOSE</h2></th>
                    <th><h2>SOURCE</h2></th>
                </tr>
                <tr>
                	<td><p class="productInfoDetail">Purified water</p></td>
                    <td><p class="productInfoDetail">Consistency</p></td>
                    <td><p class="productInfoDetail">Local Source</p></td>
                </tr>
                <tr>
                	<td><p class="productInfoDetail">Caprylyl/capryl glucoside</p></td>
                    <td><p class="productInfoDetail">Cleaning agent / Surfactant</p></td>
                    <td><p class="productInfoDetail">Corn and coconut oil</p></td>
                </tr>
    
                <tr>
                	<td><p class="productInfoDetail">Decyl glucoside</p></td>
                    <td><p class="productInfoDetail">Cleaning agent / Surfactant</p></td>
                    <td><p class="productInfoDetail">Corn and coconut oil</p></td>
                </tr>
                <tr>
                	<td><p class="productInfoDetail">Lauryl glucoside</p></td>
                    <td><p class="productInfoDetail">Cleaning agent / Surfactant</p></td>
                    <td><p class="productInfoDetail">Corn and coconut oil</p></td>
                </tr>
                <tr>
                	<td><p class="productInfoDetail">Disodium cocoyl glutamate</p></td>
                    <td><p class="productInfoDetail">Cleaning agent / Surfactant</p></td>
                    <td><p class="productInfoDetail">Corn and coconut oil</p></td>
                </tr>
                <tr>
                	<td><p class="productInfoDetail">Quillaja saponaria bark extract</p></td>
                    <td><p class="productInfoDetail">Cleaning agent</p></td>
                    <td><p class="productInfoDetail">Soap bark</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Salvia sclarea extract</p></td>
                    <td><p class="productInfoDetail">Natural scent</p></td>
                    <td><p class="productInfoDetail">Clary sage </p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Citrus limon peel extract</p></td>
                    <td><p class="productInfoDetail">Natural scent</p></td>
                    <td><p class="productInfoDetail">Lemon</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Citrus aurantium dulcis peel extract</p></td>
                    <td><p class="productInfoDetail">Natural scent</p></td>
                    <td><p class="productInfoDetail">Orange </p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Methylisothiazolinone (less than 0.01%)</p></td>
                    <td><p class="productInfoDetail">Guard freshness</p></td>
                    <td><p class="productInfoDetail">Synthetic</p></td>
                </tr>
              </table><br/>
          	</div>
          	<div>
              <ul id="productTips">
                <li>Use what-EVER! to clean out the fridge. It’s non-toxic and leaves no residue on food surfaces.  Plus you don’t have to rinse.</li>
                <li>Use our natural all-purpose cleaner on baseboards, walls, and doors to remove scuff marks, dirt, and pet oils.</li>
                <li>Better Life’s all-purpose cleaner is solvent free (no ammonia, alcohol, ethers) and pH neutral, so it’s great for acrylic and other plastic shower/ tub enclosures.</li>
                <li>After every shower, spray down your shower with what-EVER! all-purpose cleaner to help prevent hard water stains from forming.  Squeegee glass shower doors for a streak-free shine.</li>
                <li>Use what-EVER! to bring new life to polished metal surfaces (cars, boats, bathroom fixtures, bikes, etc.)  Better Life products are ethoxylate free so waterways and marine life will not be harmed.</li>
              </ul>
          	</div>
          	<div>
              <p class="productInfoDetail"><strong>Safe and effective for use on</strong>:  toilets, countertops, appliances, baseboards, walls, floors, tables, showers, marine, recreational and automotive equipment, sporting goods and toys (whew &mdash; just to name a few).</p>
          	</div>
      	</div>
  	</div>
</div>