<div id="product-uses-directions" class="bg-{{ product.variants.first.sku }}">
	<!-- Uses and Directions for Dish Soap -->
	<p><strong>Squirt it on</strong> cookware, bakeware, cutlery, flatware, dinnerware, serveware, and other wares, except Delaware.</p>
	<p><strong>Directions.</strong> Squirt onto your toughest, greasiest messes. Scrub. Rinse. Not for use in automatic dishwashers (trust us).</p>
</div>
<div id="features-ingredients-tabs">
	<ul class="nav nav-tabs product-tabs-{{ product.variants.first.sku }}" role="tablist">
	    <li role="presentation" class="active"><a href="#features" aria-controls="features" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Features</a></li>
	    <li role="presentation"><a href="#ingredients" aria-controls="ingredients" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Ingredients</a></li>
	</ul>
	<!-- Tab panes -->
  	<div class="tab-content">
  		
    	<div role="tabpanel" class="tab-pane active in fade" id="features">
    		{% capture this_floorplan %}{{ product.variants.first.sku }}-floorplan.gif{% endcapture %}
    		{{ this_floorplan | asset_url | img_tag }}
			<h3 class="header-{{ product.variants.first.sku }}">Scented with essential oils and botanical extracts</h3>
			<p class="statement-emphasized">Better Life's soap<strong> NEVER</strong> contains:</p>
			<div class="row">
				<div class="col-sm-4">
					<ul>
						<li>Sodium lauryl/laureth sulfates</li>
						<li>Synthetic fragrances</li>
						<li>Triclosan</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Ethoxylates</li>
						<li>Dyes</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Petroleum solvents</li>
						<li>Parabens</li>
					</ul>
				</div>
			</div>
			<br>
			<ul>
				<li>Non-toxic and biodegradable</li>
				<li>Safe around kids, pets, and the planet</li>
				<li>Never tested on animals</li>
				<li>Kind to waterways and marine life</li>
				<li>Made in the USA with solar energy</li>
			</ul>
			<br>
			<p>Looking for Better Life’s <strong>Dish It Out dish soap</strong>? This is it! New look, same great product. <a href="#">Learn more</a>.</p>
    	</div>
    	<div role="tabpanel" class="tab-pane fade" id="ingredients">
    		<p class="header-{{ product.variants.first.sku }}">Unscented</p>
			<div class=" table-responsive" id="2406A">
				<table class="product-ingredients-table table">
					<tr>
						<th>INGREDIENT</th>
						<th>SOURCE</th>
						<th>PURPOSE</th>
					</tr>
					<tr>
						<td>
							Purified water
						</td>
						<td>
							Local source
						</td>
						<td>
							Consistency
						</td>
					</tr>
					<tr>
						<td>
							Potassium cocoate
						</td>
						<td>
							Coconut oil and soda ash
						</td>
						<td>
							Cleaning agent, surfactant
						</td>
					</tr>
					<tr>
						<td>
							Lauryl glucoside
						</td>
						<td>
							Corn and coconut oil
						</td>
						<td>
							Cleaning agent, surfactant
						</td>
					</tr>
					<tr>
						<td>
							Caprylyl/capryl glucoside
						</td>
						<td>
							Corn and coconut oil
						</td>
						<td>
							Cleaning agent, surfactant
						</td>
					</tr>
					<tr>
						<td>
							Decyl glucoside
						</td>
						<td>
							Corn and coconut oil
						</td>
						<td>
							Cleaning agent, surfactant
						</td>
					</tr>
					<tr>
						<td>
							Glycerin (vegetable)
						</td>
						<td>
							Vegetable oil
						</td>
						<td>
							Conditioning agent
						</td>
					</tr>
					<tr>
						<td>
							Disodium cocoglucoside citrate
						</td>
						<td>
							Corn, coconut oil, citric acid
						</td>
						<td>
							Cleaning agent, surfactant
						</td>
					</tr>
					<tr>
						<td>
							Aloe barbadensis leaf extract
						</td>
						<td>
							Aloe vera
						</td>
						<td>
							Conditioning agent
						</td>
					</tr>
					<tr>
						<td>
							Tocopherol (vitamin E)
						</td>
						<td>
							Vegetable oil
						</td>
						<td>
							Helps skin retain natural moisture
						</td>
					</tr>
				</table>
			</div>
			<br>
			<p class="header-{{ product.variants.first.sku }}">Clary Sage &amp; Citrus</p>
			<div class=" table-responsive" id="02PACK-Dish-It">
				<table class="product-ingredients-table table">
					<tr>
						<tr>
						<th>INGREDIENT</th>
						<th>SOURCE</th>
						<th>PURPOSE</th>
					</tr>
					<tr>
						<td>
							Purified water
						</td>
						<td>
							Local source
						</td>
						<td>
							Consistency
						</td>
					</tr>
					<tr>
						<td>
							Potassium cocoate
						</td>
						<td>
							Coconut oil and soda ash
						</td>
						<td>
							Cleaning agent, surfactant
						</td>
					</tr>
					<tr>
						<td>
							Lauryl glucoside
						</td>
						<td>
							Corn and coconut oil
						</td>
						<td>
							Cleaning agent, surfactant
						</td>
					</tr>
					<tr>
						<td>
							Caprylyl/capryl glucoside
						</td>
						<td>
							Corn and coconut oil
						</td>
						<td>
							Cleaning agent, surfactant
						</td>
					</tr>
					<tr>
						<td>
							Decyl glucoside
						</td>
						<td>
							Corn and coconut oil
						</td>
						<td>
							Cleaning agent, surfactant
						</td>
					</tr>
					<tr>
						<td>
							Glycerin (vegetable)
						</td>
						<td>
							Vegetable oil
						</td>
						<td>
							Conditioning agent
						</td>
					</tr>
					<tr>
						<td>
							Disodium cocoglucoside citrate
						</td>
						<td>
							Corn, coconut oil, citric acid
						</td>
						<td>
							Cleaning agent, surfactant
						</td>
					</tr>
					<tr>
						<td>
							Aloe barbadensis leaf extract
						</td>
						<td>
							Aloe vera
						</td>
						<td>
							Conditioning agent
						</td>
					</tr>
					<tr>
						<td>
							Tocopherol (vitamin E)
						</td>
						<td>
							Vegetable oil
						</td>
						<td>
							Helps skin retain natural moisture
						</td>
					</tr>
					<tr>
						<td>
							Citrus limon peel extract
						</td>
						<td>
							Lemon
						</td>
						<td>
							Natural scent
						</td>
					</tr>
					<tr>
						<td>
							Salvia sclarea extract
						</td>
						<td>
							Clary Sage
						</td>
						<td>
							Natural scent
						</td>
					</tr>
					<tr>
						<td>
							Citrus aurantium dulcis peel extract
						</td>
						<td>
							Orange
						</td>
						<td>
							Natural scent
						</td>
					</tr>
				</table>
			</tr>
			<br>
			<p class="header-{{ product.variants.first.sku }}">Lemon Mint</p>
			<div class=" table-responsive" id="24068">
				<table class="product-ingredients-table table">
					<tr>
						<th>INGREDIENT</th>
						<th>SOURCE</th>
						<th>PURPOSE</th>
					</tr>
					<tr>
						<td>
							Purified water
						</td>
						<td>
							Local source
						</td>
						<td>
							Consistency
						</td>
					</tr>
					<tr>
						<td>
							Potassium cocoate
						</td>
						<td>
							Coconut oil and soda ash
						</td>
						<td>
							Cleaning agent, surfactant
						</td>
					</tr>
					<tr>
						<td>
							Lauryl glucoside
						</td>
						<td>
							Corn and coconut oil
						</td>
						<td>
							Cleaning agent, surfactant
						</td>
					</tr>
					<tr>
						<td>
							Caprylyl/capryl glucoside
						</td>
						<td>
							Corn and coconut oil
						</td>
						<td>
							Cleaning agent, surfactant
						</td>
					</tr>
					<tr>
						<td>
							Decyl glucoside
						</td>
						<td>
							Corn and coconut oil
						</td>
						<td>
							Cleaning agent, surfactant
						</td>
					</tr>
					<tr>
						<td>
							Glycerin (vegetable)
						</td>
						<td>
							Vegetable oil
						</td>
						<td>
							Conditioning agent
						</td>
					</tr>
					<tr>
						<td>
							Disodium cocoglucoside citrate
						</td>
						<td>
							Corn, coconut oil, citric acid
						</td>
						<td>
							Cleaning agent / Surfactant
						</td>
					</tr>
					<tr>
						<td>
							Aloe barbadensis leaf extract
						</td>
						<td>
							Aloe vera
						</td>
						<td>
							Conditioning agent
						</td>
					</tr>
					<tr>
						<td>
							Tocopherol (vitamin E)
						</td>
						<td>
							Vegetable oil
						</td>
						<td>
							Helps skin retain natural moisture
						</td>
					</tr>
					<tr>
						<td>
							Citrus aurantium bergamia oil
						</td>
						<td>
							Bergamot
						</td>
						<td>
							Natural scent
						</td>
					</tr>
					<tr>
						<td>
							Citrus medica limonum oil
						</td>
						<td>
							Lemon
						</td>
						<td>
							Natural scent
						</td>
					</tr>
					<tr>
						<td>
							Cymbopogon schoenanthus oil
						</td>
						<td>
							Lemongrass
						</td>
						<td>
							Natural scent
						</td>
					</tr>
					<tr>
						<td>
							Mentha piperita oil
						</td>
						<td>
							Peppermint
						</td>
						<td>
							Natural scent
						</td>
					</tr>
					<tr>
						<td>
							Citrus grandis seed extract
						</td>
						<td>
							Grapefruit
						</td>
						<td>
							Natural scent
						</td>
					</tr>
				</table>
			</div>
    	</div>
  	</div>
</div>