<!--Dish It Out snippet-->
<div id="productExtendedInfoContainer">
    <hr />
    {% include 'social' with product %}
	<div id="productInfoTabs">
        <ul class="tabs">
            <li><a href="#">Reviews</a></li>
            <li><a href="#">Product Features</a></li>
            <li><a href="#">Ingredients</a></li>
            <li><a href="#">Tips</a></li>
            <li><a href="#">Usage Guide</a></li>
        </ul>
      	<div class="panes"> 
       		<div>
            	<div class="pr_review_summary">
                    <script type="text/javascript">POWERREVIEWS.display.engine(document, { pr_page_id : "{{product.id}}" });</script>
                </div><br/>
        	</div>
          	<div>
              <p class="productInfoDetail"><strong>I Can Take It</strong>. Dish It Out will boldly show you how Better Life is <em>revolutionizing the power of plants</em><sup>©</sup>.  It’s tough on grease and food soils so that you can get back to waltzing across your kitchen floor.</p>
              <p class="productInfoDetail"><strong>Gentle on Your Hands</strong>. Dish It Out is pH balanced and infused with nourishing Vitamin E &amp; Aloe instead of sulfates like SLS and SLES.  We’re putting the hurt on grease, not your hands.</p>
              <p class="productInfoDetail"><strong>Grandma’s China</strong>. Don’t worry about ruining grandma’s china, our plant derived formula is free of phosphates and chemical solvents.</p>
              <p class="freeHighlights">GMO Free, Gluten Free, Cruelty Free, Made in USA, Fragrance Free, Sulfate Free, Petroleum Free</p>
            </div>
          	<div>
              <h2 class="scentHeader">Scent-Free</h2>
              <table id="ingredientTable" cellpadding="0" cellspacing="0" border="1" align="center" bordercolor="#d3cabb">
                <tr>
    	            <th><h2>INGREDIENT</h2></th>
                    <th><h2>PURPOSE</h2></th>
                    <th><h2>SOURCE</h2></th>
                </tr>
                <tr>
                	<td><p class="productInfoDetail">Purified water</p></td>
                    <td><p class="productInfoDetail">Consistency</p></td>
                    <td><p class="productInfoDetail">Local Source</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Potassium cocoate </p></td>
                    <td><p class="productInfoDetail">Cleaning agent / Surfactant</p></td>
                    <td><p class="productInfoDetail">Coconut oil and soda ash</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Lauryl glucoside</p></td>
                    <td><p class="productInfoDetail">Cleaning agent / Surfactant</p></td>
                    <td><p class="productInfoDetail">Corn and coconut oil</p></td>
                </tr>  <tr>
                    <td><p class="productInfoDetail">Caprylyl/capryl glucoside</p></td>
                    <td><p class="productInfoDetail">Cleaning agent / Surfactant</p></td>
                    <td><p class="productInfoDetail">Corn and coconut oil</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Decyl glucoside</p></td>
                    <td><p class="productInfoDetail">Cleaning agent / Surfactant</p></td>
                    <td><p class="productInfoDetail">Corn and coconut oil</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Glycerin (vegetable)</p></td>
                    <td><p class="productInfoDetail">Conditioning agent</p></td>
                    <td><p class="productInfoDetail">Vegetable oil</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Disodium coco-glucoside citrate</p></td>
                    <td><p class="productInfoDetail">Cleaning agent / Surfactant</p></td>
                    <td><p class="productInfoDetail">Corn, coconut oil, citric acid</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Aloe barbadensis leaf extract</p></td>
                    <td><p class="productInfoDetail">Soothe & moisturize skin</p></td>
                    <td><p class="productInfoDetail">Plant extract</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Tocopherol (vitamin E)</p></td>
                    <td><p class="productInfoDetail">Help skin retain natural moisture</p></td>
                    <td><p class="productInfoDetail">Vegetable oil</p></td>
                </tr>

 


           
              </table><br/><br />
              <h2 class="scentHeader">Lemon Mint</h2>
              <table id="ingredientTable" cellpadding="0" cellspacing="0" border="1" align="center" bordercolor="#d3cabb">
                <tr>
    	            <th><h2>INGREDIENT</h2></th>
                    <th><h2>PURPOSE</h2></th>
                    <th><h2>SOURCE</h2></th>
                </tr>
                <tr>
                	<td><p class="productInfoDetail">Purified water</p></td>
                    <td><p class="productInfoDetail">Consistency</p></td>
                    <td><p class="productInfoDetail">Local Source</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Potassium cocoate </p></td>
                    <td><p class="productInfoDetail">Cleaning agent / Surfactant</p></td>
                    <td><p class="productInfoDetail">Coconut oil and soda ash</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Lauryl glucoside</p></td>
                    <td><p class="productInfoDetail">Cleaning agent / Surfactant</p></td>
                    <td><p class="productInfoDetail">Corn and coconut oil</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Caprylyl/capryl glucoside</p></td>
                    <td><p class="productInfoDetail">Cleaning agent / Surfactant</p></td>
                    <td><p class="productInfoDetail">Corn and coconut oil</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Decyl glucoside</p></td>
                    <td><p class="productInfoDetail">Cleaning agent / Surfactant</p></td>
                    <td><p class="productInfoDetail">Corn and coconut oil</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Glycerin (vegetable)</p></td>
                    <td><p class="productInfoDetail">Conditioning agent</p></td>
                    <td><p class="productInfoDetail">Vegetable oil</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Disodium coco-glucoside citrate</p></td>
                    <td><p class="productInfoDetail">Cleaning agent / Surfactant</p></td>
                    <td><p class="productInfoDetail">Corn, coconut oil, citric acid</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Aloe barbadensis leaf extract</p></td>
                    <td><p class="productInfoDetail">Soothe & moisturize skin</p></td>
                    <td><p class="productInfoDetail">Plant extract</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Tocopherol (vitamin E)</p></td>
                    <td><p class="productInfoDetail">Help skin retain natural moisture</p></td>
                    <td><p class="productInfoDetail">Vegetable oil</p></td>
                </tr>
                
               
                  <tr>
                    <td><p class="productInfoDetail">Citrus auranitum bergamia oil</p></td>
                    <td><p class="productInfoDetail">Natural Scent</p></td>
                    <td><p class="productInfoDetail">bergamot </p></td>
                </tr>
                
                 <tr>
                    <td><p class="productInfoDetail">Citrus medica limonum oil</p></td>
                    <td><p class="productInfoDetail">Natural Scent</p></td>
                    <td><p class="productInfoDetail">lemon </p></td>
                </tr>
                
                 <tr>
                    <td><p class="productInfoDetail">Cymbopogon schoenanthus oil</p></td>
                    <td><p class="productInfoDetail">Natural Scent</p></td>
                    <td><p class="productInfoDetail">lemongrass </p></td>
                </tr>
                
                 <tr>
                    <td><p class="productInfoDetail">Menthe piperita oil</p></td>
                    <td><p class="productInfoDetail">Natural Scent</p></td>
                    <td><p class="productInfoDetail">peppermint </p></td>
                </tr>
                
                 <tr>
                    <td><p class="productInfoDetail">Citrus grandis seed extract </p></td>
                    <td><p class="productInfoDetail">Natural Scent</p></td>
                    <td><p class="productInfoDetail">grapefruit </p></td>
                </tr>
                
               
     
                
              </table><br/>
          	</div>
          	<div>
              <ul id="productTips">
                <li>Use Dish It Out directly on your surfaces or squirt into a sink filled with water for a bubbly bliss.</li>
                <li>Next time you are washing your car, try squirting Dish It Out into your bucket.  Road grime be gone!</li>
                <li>Our co-founder, Tim, loves to wash his dog with Dish It Out.  His golden retriever has sensitive skin and Dish It Out gets him clean and irritation free.</li>
              </ul>
          	</div>
          	<div>
              <p class="productInfoDetail">Use directly on surfaces or squirt into basin filled with water.  Do not use in automatic dishwashers.</p>
          	</div>
      	</div>
  	</div>
</div>