<div id="product-uses-directions" class="bg-{{ product.variants.first.sku }}">
	<!-- Uses and Directions for Dishwasher Gel-->
	<p><strong>Directions.</strong> First, shake it up! For regular loads, squirt 1 tbsp. into your automatic dishwasher’s detergent cup. Double up with 2 tbsp. if the racks are a little more crowded. Rinse dishes before loading for best results.</p>
</div>
<div id="features-ingredients-tabs">
	<ul class="nav nav-tabs product-tabs-{{ product.variants.first.sku }}" role="tablist">
	    <li role="presentation" class="active"><a href="#features" aria-controls="features" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Features</a></li>
	    <li role="presentation"><a href="#ingredients" aria-controls="ingredients" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Ingredients</a></li>
	</ul>
	<!-- Tab panes -->
  	<div class="tab-content">
  		
    	<div role="tabpanel" class="tab-pane active in fade" id="features">
    		{% capture this_floorplan %}{{ product.variants.first.sku }}-floorplan.gif{% endcapture %}
    		{{ this_floorplan | asset_url | img_tag }}
			<h3 class="header-{{ product.variants.first.sku }}">Scented with essential oils and botanical extracts</h3>
			<p class="statement-emphasized">Better Life's dishwasher gel<strong> NEVER</strong> contains:</p>
			<div class="row">
				<div class="col-sm-4">
					<ul>
						<li>Sodium lauryl/laureth sulfates</li>
						<li>Synthetic fragrances</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Bleach</li>
						<li>Dyes</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Phosphates</li>
					</ul>
				</div>
			</div>
			<br>
			<ul>
			<li>Non-toxic and biodegradable</li>
			<li>Safe around kids, pets, and the planet</li>
			<li>Never tested on animals</li>
			<li>Kind to waterways and marine life</li>
			<li>Made in the USA with solar energy</li>
			</ul>
			<br>
			<p>Looking for Better Life’s <strong>Automatic Magic</strong> dishwasher gel? This is it! New look, same great product. <a href="/blogs/better-life/33804164-a-new-look-and-new-stores-too">Learn more.</a></p>
    	</div>
    	<div role="tabpanel" class="tab-pane fade" id="ingredients">
    		<p class="header-{{ product.variants.first.sku }}">Unscented</p>
			<div class="table-responsive" id="24074">
			<table class="product-ingredients-table table">
				<tr>
					<th>INGREDIENT</th>
					<th>SOURCE</th>
					<th>PURPOSE</th>
				</tr>
				<tr>
					<td>Purified water</td>
					<td>Local source</td>
					<td>Consistency</td>
				</tr>
				<tr>
					<td>Potassium cocoate</td>	
					<td>Coconut oil and soda ash</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Sodium citrate</td>	
					<td>Mineral</td>
					<td>Cleaning agent, water softener</td>
				</tr>
				<tr>
					<td>Coco glucoside</td>	
					<td>Coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Sodium silicate</td>	
					<td>Mineral</td>
					<td>Cleaning agent, water softener</td>
				</tr>
				<tr>
					<td>Decyl glucoside</td>	
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Quillaja saponaria bark extract</td>	
					<td>Soap bark extract</td>
					<td>Cleaning agent</td>
				</tr>
				<tr>
					<td>Glycerin (vegetable)</td>
					<td>Vegetable oil</td>
					<td>Conditioning agent</td>
				</tr>
				<tr>
					<td>Sodium carbonate</td>	
					<td>Mineral</td>
					<td>Cleaning agent, water softener</td>
				</tr>
				<tr>
					<td>Xanthan gum</td>	
					<td>Vegetable matter</td>
					<td>Thickener</td>
				</tr>
				
				<tr>
					<td>Sorbitan oleate</td>	
					<td>Corn</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Enzyme blend</td>	
					<td>Natural enzymes</td>
					<td>Cleaning agent</td>
				</tr>
				<tr>
					<td>Citric acid</td>		
					<td>Citrus fruit</td>
					<td>pH adjustment</td>
				</tr>
			</table>
			</div>
    	</div>
  	</div>
</div>