<div id="product-uses-directions" class="bg-{{ product.variants.first.sku }}">
	<!-- Uses and Directions for All-Purpose Cleaner -->
	<p><strong>Spray it on</strong> toilets, countertops, appliances, upholstery, baseboards, walls, floors, tables, showers, boats, cars, sporting equipment, toys – whatever!</p>
	<p><strong>Directions.</strong> Spray and wipe. Watch grease, grime, and gunk take a long walk off a short pier.</p>
</div>
<div id="features-ingredients-tabs">
	<ul class="nav nav-tabs product-tabs-{{ product.variants.first.sku }}" role="tablist">
	    <li role="presentation" class="active"><a href="#features" aria-controls="features" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Features</a></li>
	    <li role="presentation"><a href="#ingredients" aria-controls="ingredients" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Ingredients</a></li>
	    <li role="presentation"><a href="#videos" aria-controls="videos" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Videos</a></li>
	</ul>
	<!-- Tab panes -->
  	<div class="tab-content">
  		
    	<div role="tabpanel" class="tab-pane active in fade" id="features">
    		{% capture this_floorplan %}{{ product.variants.first.sku }}-floorplan.gif{% endcapture %}
    		{{ this_floorplan | asset_url | img_tag }}
			<h3 class="header-{{ product.variants.first.sku }}">Scented with essential oils and botanical extracts</h3>
			<p class="statement-emphasized">Better Life's all-purpose cleaner<strong> NEVER</strong> contains:</p>
			<div class="row">
				<div class="col-sm-4">
					<ul>
						<li>Sodium lauryl/laureth sulfates</li>
						<li>Petroleum solvent</li>
						<li>Parabens</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Ethers</li>
						<li>Synthetic fragrances</li>
						<li>Alcohol</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Ethoxylates</li>
						<li>Dyes</li>
					</ul>
				</div>
			</div>
			<br>
			<ul>
			<li>Non-toxic and biodegradable</li>
			<li>Safe for kids, pets, and the planet</li>
			<li>Never tested on animals</li>
			<li>Kind to waterways and marine life</li>
			<li>Made in the USA with solar energy</li>
			</ul>
			<br>
			<p>Looking for Better Life’s <strong>what-EVER!</strong> all-purpose cleaner? This is it! New look, same great product. <a href="/blogs/better-life/33804164-a-new-look-and-new-stores-too">Learn more.</a></p>
    	</div>
    	<div role="tabpanel" class="tab-pane fade" id="ingredients">
    		<p class="header-{{ product.variants.first.sku }}">Unscented</p>
			<div class="table-responsive" id="24098">
			<table class="product-ingredients-table table">
				<tr>
					<th>INGREDIENT</th>
					<th>SOURCE</th>
					<th>PURPOSE</th>
				</tr>
				<tr>
					<td>Purified water</td>
					<td>Local source</td>
					<td>Consistency</td>
				</tr>
				<tr>
					<td>Decyl glucoside</td>	
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Lauryl glucoside</td>	
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Disodium cocoyl glutamate</td>
					<td>Amino acids (plant-derived), coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Quillaja saponaria bark extract</td>	
					<td>Soap bark</td>
					<td>Cleaning agent</td>
				</tr>
				<tr>
					<td>Methylisothiazolinone (less than 0.01%)</td>		
					<td>Synthetic</td>
					<td>Preservative to guard freshness</td>
				</tr>
			</table>
			</div>
			
			<p class="header-{{ product.variants.first.sku }}">Clary Sage &amp; Citrus</p>
			<div class="table-responsive" id="24097">
			<table class="product-ingredients-table table">
				<tr>
					<th>INGREDIENT</th>
					<th>SOURCE</th>
					<th>PURPOSE</th>
				</tr>
				<tr>
					<td>Purified water</td>
					<td>Local source</td>
					<td>Consistency</td>
				</tr>
				<tr>
					<td>Decyl glucoside</td>	
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Lauryl glucoside</td>	
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Disodium cocoyl glutamate</td>
					<td>Amino acids (plant-derived), coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Quillaja saponaria bark extract</td>	
					<td>Soap bark</td>
					<td>Cleaning agent</td>
				</tr>
				<tr>
					<td>Salvia sclarea extract</td>	
					<td>Clary Sage</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Citrus limon peel extract</td>	
					<td>Lemon</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Citrus aurantium dulcis peel extract</td>	
					<td>Orange</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Methylisothiazolinone (less than 0.01%)</td>		
					<td>Synthetic</td>
					<td>Preservative to guard freshness</td>
				</tr>
			</table>
			</div>
    	</div>
    	<div role="tabpanel" class="tab-pane fade" id="videos">
    		<h3>Better Life Tackles Baked-on Gunk</h3>
    		<p>Our natural all-purpose cleaner packs a punch, outperforming cleaners that sting. Simply spray, wipe, and watch as it tackles scuff marks on the wall, spilled juice on the floor, peanut butter on the counter, bacon grease on the stove, toothpaste on the vanity, or coffee spills on the couch.</p>
    			<a href="#" data-toggle="modal" data-target=".microwave-modal">
					<div class="video-thumb" style="background: url(https://img.youtube.com/vi/KuAb5AUMkkA/maxresdefault.jpg) no-repeat scroll center center / cover;" >
    					{{ 'play-btn.png' | asset_url | img_tag }}
    				</div>
    			</a>
				<div class="modal fade microwave-modal product-modals" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		            <div class="modal-dialog modal-xl">
		              <div class="modal-content">
		                <iframe src="https://www.youtube.com/embed/KuAb5AUMkkA?rel=0" frameborder="0" allowfullscreen width="1100" height="600"></iframe>
		              </div>
		            </div>
		        </div>
    	</div>
  	</div>
</div>