<div id="product-uses-directions" class="bg-{{ product.variants.first.sku }}">
	<!-- Uses and Directions for Granite and Stone Cleaner -->
	<p><strong>Safe for</strong> high-end stone surfaces, including granite, marble, quartz, slate, concrete, travertine, terrazzo, limestone, Silestone<sup>&reg;</sup>, soapstone, and the Rosetta Stone (not recommended).</p>
	<p><strong>Directions.</strong> Spray and wipe with a cloth. Stare at the sparkle a while. No rinsing required.</p>
</div>
<div id="features-ingredients-tabs">
	<ul class="nav nav-tabs product-tabs-{{ product.variants.first.sku }}" role="tablist">
	    <li role="presentation" class="active"><a href="#features" aria-controls="features" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Features</a></li>
	    <li role="presentation"><a href="#ingredients" aria-controls="ingredients" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Ingredients</a></li>
	</ul>
	<!-- Tab panes -->
  	<div class="tab-content">
  		
    	<div role="tabpanel" class="tab-pane active in fade" id="features">
    		{% capture this_floorplan %}{{ product.variants.first.sku }}-floorplan.gif{% endcapture %}
    		{{ this_floorplan | asset_url | img_tag }}
			<h3 class="header-{{ product.variants.first.sku }}">Scented with essential oils and botanical extracts</h3>
			<p class="statement-emphasized">Better Life's granite and stone cleaner<strong> NEVER</strong> contains:</p>
			<div class="row">
				<div class="col-sm-4">
					<ul>
						<li>Sodium lauryl/laureth sulfates</li>
						<li>Synthetic fragrances</li>
						<li>Alcohol</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Petroleum solvents</li>
						<li>Dyes</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Ethers</li>
						<li>Parabens</li>
					</ul>
				</div>
			</div>
			<br>
			<ul>
			<li>Non-toxic and biodegradable</li>
			<li>Safe around kids, pets, and the planet</li>
			<li>Never tested on animals</li>
			<li>Kind to waterways and marine life</li>
			<li>Made in the USA with solar energy</li>
			</ul>
			<br>
			<p>Looking for Better Life’s <strong>Take It For Granite</strong> stone and countertop cleaner? This is it! New look, same great product. <a href="/blogs/better-life/33804164-a-new-look-and-new-stores-too">Learn more.</a></p>
    	</div>
    	<div role="tabpanel" class="tab-pane fade" id="ingredients">
    		<p class="header-{{ product.variants.first.sku }}">Pomegranate Grapefruit</p>
			<div class="table-responsive" id="24116">
			<table class="product-ingredients-table table">
				<tr>
					<th>INGREDIENT</th>
					<th>SOURCE</th>
					<th>PURPOSE</th>
				</tr>
				<tr>
					<td>Purified water</td>
					<td>Local source</td>
					<td>Consistency</td>
				</tr>
				<tr>
					<td>Lauryl glucoside</td>	
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
              
				<tr>
					<td>Decyl glucoside</td>	
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Glycerin (vegetable)</td>	
					<td>Corn oil</td>
					<td>Conditioning agent</td>
				</tr>
				<tr>
					<td>Lecithin</td>
					<td>Soybean</td>
					<td>Cleaning agent</td>
				</tr>
				<tr>
					<td>Dimethicone</td>	
					<td>Synthetic</td>
					<td>Shine</td>
				</tr>
                <tr>
					<td>Citrus grandis peel extract</td>	
					<td>Grapefruit</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Punica granatum extract</td>	
					<td>Pomegranate</td>
					<td>Natural scent</td>
				</tr>
				
				<tr>
					<td>Calendula officinalis flower extract</td>	
					<td>Marigold</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Elettaria cardamomum seed extract</td>	
					<td>Cardamom</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Lavandula angustifolia extract</td>	
					<td>Lavender</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Pyrus malus fruit extract</td>	
					<td>Apple</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Pyrus communis fruit extract</td>	
					<td>Pear</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Citrus aurantium dulcis peel extract</td>	
					<td>Orange</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Rose extract</td>	
					<td>Rose</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Ananas sativus fruit extract</td>	
					<td>Pineapple</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Citrus auranitum bergamia fruit extract</td>		
					<td>Bergamot</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Acrylates copolymer (less than 0.09%)</td>	
					<td>Synthetic</td>
					<td>Stabilizer</td>
				</tr>
				<tr>
					<td>Methylisothiazolinone (less than 0.01%)</td>		
					<td>Synthetic</td>
					<td>Preservative to guard freshness</td>
				</tr>
			</table>
			</div>
    	</div>
  	</div>
</div>