<div id="product-uses-directions" class="bg-{{ product.variants.first.sku }}">
	<!-- Uses and Directions for Nursery Cleaner -->
	<p><strong>Spray it on</strong> cribs, changing tables, toys, walls, mattresses, highchairs, strollers, car seats, and anything else your pint-sized mischief-maker might touch. Can also be used to pre-treat clothes, bibs, cloth diapers, and sheets. </p>
	<p><strong>Directions.</strong> Spray and wipe. Go back to sleep. No rinsing required. To clean carpet, fabric, or upholstery, wipe up excess mess, spray onto icky spots, and blot with a towel.</p>
</div>
<div id="features-ingredients-tabs">
	<ul class="nav nav-tabs product-tabs-{{ product.variants.first.sku }}" role="tablist">
	    <li role="presentation" class="active"><a href="#features" aria-controls="features" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Features</a></li>
	    <li role="presentation"><a href="#ingredients" aria-controls="ingredients" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Ingredients</a></li>
	</ul>
	<!-- Tab panes -->
  	<div class="tab-content">
  		
    	<div role="tabpanel" class="tab-pane active in fade" id="features">
    		{% capture this_floorplan %}{{ product.variants.first.sku }}-floorplan.gif{% endcapture %}
    		{{ this_floorplan | asset_url | img_tag }}
			<h3 class="header-{{ product.variants.first.sku }}">Scented with essential oils and botanical extracts</h3>
			<p class="statement-emphasized">Better Life's nursery cleaner<strong> NEVER</strong> contains:</p>
			<div class="row">
				<div class="col-sm-4">
					<ul>
						<li>Sodium lauryl/laureth sulfates</li>
						<li>Petroleum solvent</li>
						<li>Ammonia</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Ethoxylates</li>
						<li>Synthetic fragrances</li>
						<li>Alcohol</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Ethers</li>
						<li>Dyes</li>
						<li>Parabens</li>
					</ul>
				</div>
			</div>
			<br>
			<ul>
			<li>Non-toxic and biodegradable</li>
			<li>Safe around kids, pets, and the planet</li>
			<li>Never tested on animals</li>
			<li>Kind to waterways and marine life</li>
			<li>Made in the USA with solar energy</li>
			</ul>
			<br>
			<p>Looking for Better Life’s <strong>2am Miracle</strong> nursery cleaner? This is it! New look, same great product. <a href="/blogs/better-life/33804164-a-new-look-and-new-stores-too">Learn more.</a></p>
    	</div>
    	<div role="tabpanel" class="tab-pane fade" id="ingredients">
			<p class="header-{{ product.variants.first.sku }}">Lavender &amp; Chamomile</p>
			<div class="table-responsive" id="24132">
			<table class="product-ingredients-table table">
				<tr>
					<th>INGREDIENT</th>
					<th>SOURCE</th>
					<th>PURPOSE</th>
				</tr>
				<tr>
					<td>Purified water</td>
					<td>Local source</td>
					<td>Consistency</td>
				</tr>
				<tr>
					<td>Lauryl glucoside</td>	
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Decyl glucoside</td>	
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Disodium cocoyl glutamate</td>
					<td>Amino acids (plant sourced), coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Quillaja saponaria bark extract</td>	
					<td>Soap bark</td>
					<td>Cleaning agent</td>
				</tr>
				<tr>
					<td>Yeast extract</td>	
					<td>Fermented plant extract</td>
					<td>Deodorizer</td>
				</tr>
				<tr>
					<td>Anthemis nobilis flower oil</td>	
					<td>Chamomile flower</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Lavandula angustifolia oil</td>	
					<td>Lavender</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Methylisothiazolinone (less than 0.01%)</td>		
					<td>Synthetic</td>
					<td>Preservative to guard freshness</td>
				</tr>
			</table>
			</div>
    	</div>
  	</div>
</div>