<div id="product-uses-directions" class="bg-{{ product.variants.first.sku }}">
	<!-- Uses and Directions for Produce Wash -->
	<p><strong>Spray it on</strong> any fruit or vegetable – strawberries, grapes, oranges, beets, spinach, peppers, and so on.</p>
	<p><strong>Directions.</strong> Spray on your fruits or vegetables and rub with hands or a produce brush to remove wax, dirt and residues.  Don't forget to clean the rinds and skins, even if you don't plan to eat them. Berries and other small fruit may be placed in a colander, then sprayed and agitated. Rinse thoroughly with cold water. To soak, add 2 tbsp. to a bowl of cold water. Swish the produce and rinse thoroughly with cold water.</p>
</div>
<div id="features-ingredients-tabs">
	<ul class="nav nav-tabs product-tabs-{{ product.variants.first.sku }}" role="tablist">
	    <li role="presentation" class="active"><a href="#features" aria-controls="features" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Features</a></li>
	    <li role="presentation"><a href="#ingredients" aria-controls="ingredients" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Ingredients</a></li>
	</ul>
	<!-- Tab panes -->
  	<div class="tab-content">
  		
    	<div role="tabpanel" class="tab-pane active in fade" id="features">
    		{% capture this_floorplan %}{{ product.variants.first.sku }}-floorplan.gif{% endcapture %}
    		{{ this_floorplan | asset_url | img_tag }}
			<h3 class="header-{{ product.variants.first.sku }}">Scented with essential oils and botanical extracts</h3>
			<p class="statement-emphasized">Better Life's produce wash<strong> NEVER</strong> contains:</p>
			<div class="row">
				<div class="col-sm-4">
					<ul>
						<li>Sodium lauryl/laureth sulfates</li>
						<li>Petroleum solvent</li>
						<li>Parabens</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Ethers</li>
						<li>Synthetic fragrances</li>
						<li>Alcohol</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Ethoxylates</li>
						<li>Dyes</li>
					</ul>
				</div>
			</div>
			<br>
			<ul>
			<li>Non-toxic and biodegradable</li>
			<li>Safe around kids, pets, and the planet</li>
			<li>Never tested on animals</li>
			<li>Kind to waterways and marine life</li>
			<li>Made in the USA with solar energy</li>
			</ul>
    	</div>
    	<div role="tabpanel" class="tab-pane fade" id="ingredients">
    		<p class="header-{{ product.variants.first.sku }}">Basil Lemon</p>
			<div class="table-responsive" id="24143">
			<table class="product-ingredients-table table">
				<tr>
					<th>INGREDIENT</th>
					<th>SOURCE</th>
					<th>PURPOSE</th>
				</tr>
              <tr>
					<td>Purified water</td>
					<td>Local source</td>
					<td>Consistency</td>
				</tr>
				<tr>
					<td>Organic acetic acid</td>
					<td>Fermented grain</td>
					<td>Cleansing, antiseptic</td>
				</tr>
				<tr>
					<td>Glycerin</td>	
					<td>Vegetable oil</td>
					<td>Natural solvent</td>
				</tr>
              <tr>
					<td>Quillaja saponaria bark extract </td>	
					<td>Soap Bark</td>
					<td>Cleaning agent</td>
				</tr>
              
				<tr>
					<td>Citrus medica limonum peel oil</td>	
					<td>Lemon</td>
					<td>Cleansing, antimicrobial</td>
				</tr>
				<tr>
					<td>Sea salt</td>	
					<td>Seawater</td>
					<td>Conditioning agent</td>
				</tr>
				<tr>
					<td>Cocoglucoside</td>
					<td>Corn sugars, coconut, palm</td>
					<td>Cleaning agent</td>
				</tr>
				<tr>
					<td>Citric Acid</td>
					<td>Citrus fruit</td>
					<td>pH adjustment</td>
				</tr>
				<tr>
					<td>Ocimum basilicum oil</td>
					<td>Basil</td>
					<td>Natural scent</td>
				</tr>
			</table>
			</div>
			<br>
			<p>*Certified organic ingredient</p>
    	</div>
  	</div>
</div>