<!--Simply Floored snippet-->
<div id="productExtendedInfoContainer">
    <hr />
    {% include 'social' with product %}
	<div id="productInfoTabs">
        <ul class="tabs">
            <li><a href="#">Reviews</a></li>
            <li><a href="#">Product Features</a></li>
            <li><a href="#">Ingredients</a></li>
            <li><a href="#">Tips</a></li>
            <li><a href="#">Usage Guide</a></li>
        </ul>
      	<div class="panes">
       		<div>
            	<div class="pr_review_summary">
                    <script type="text/javascript">POWERREVIEWS.display.engine(document, { pr_page_id : "{{product.id}}" });</script>
                </div><br/>
        	</div>
          	<div>
              <p class="productInfoDetail"><strong>Safe for all floors</strong>. Other cleaners leave a grimy and damaging chemical film on floors. SIMPLY FLOORED! cleans without any residue and can actually remove the dull haze left on by those other lackluster cleaners.</p>
              <p class="productInfoDetail"><strong>5 second rule</strong>. We all know it, most of us eat off the floor. Our toddlers and pets actually lick it at times. Don't clean your floors with chemicals that are toxic and harmful to you and your family (and to the chocolate chip cookie).</p>
              <p class="productInfoDetail"><strong>Asthma and Allergies</strong>. No need for you or your kids to suffer due to chemical cleaning fumes. Breathe easy, our products are natural and made with only essential oils which means no irritation. Ahhhhh.</p>
              <p class="freeHighlights">GMO Free, Gluten Free, Cruelty Free, Made in USA, Fragrance Free, Sulfate Free, Petroleum Free</p>
            </div>
          	<div>
              <table id="ingredientTable" cellpadding="0" cellspacing="0" border="1" align="center" bordercolor="#d3cabb">
                <tr>
    	            <th><h2>INGREDIENT</h2></th>
                    <th><h2>PURPOSE</h2></th>
                    <th><h2>SOURCE</h2></th>
                </tr>
                <tr>
                	<td><p class="productInfoDetail">Purified water</p></td>
                    <td><p class="productInfoDetail">Consistency</p></td>
                    <td><p class="productInfoDetail">Local Source</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Lauryl glucoside</p></td>
                    <td><p class="productInfoDetail">Cleaning agent / Surfactant</p></td>
                    <td><p class="productInfoDetail">Corn and coconut oil</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Decyl glucoside</p></td>
                    <td><p class="productInfoDetail">Cleaning agent / Surfactant</p></td>
                    <td><p class="productInfoDetail">Corn and coconut oil</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Glycerin (vegetable)</p></td>
                    <td><p class="productInfoDetail">Conditioning agent</p></td>
                    <td><p class="productInfoDetail">Corn oil</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Mentha piperita leaf extract</p></td>
                    <td><p class="productInfoDetail">Natural scent</p></td>
                    <td><p class="productInfoDetail">Peppermint leaves</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Citrus limon peel extract</p></td>
                    <td><p class="productInfoDetail">Natural scent</p></td>
                    <td><p class="productInfoDetail">Lemon </p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Mentha viridis extract</p></td>
                    <td><p class="productInfoDetail">Natural scent</p></td>
                    <td><p class="productInfoDetail">Spearmint leaves</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Citrus aurantium dulcis peel extract</p></td>
                    <td><p class="productInfoDetail">Natural scent</p></td>
                    <td><p class="productInfoDetail">Orange</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Citrus grandis fruit extract</p></td>
                    <td><p class="productInfoDetail">Natural scent</p></td>
                    <td><p class="productInfoDetail">Grapefruit</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Elettaria cardamomum seed extract</p></td>
                    <td><p class="productInfoDetail">Natural scent</p></td>
                    <td><p class="productInfoDetail">Cardamom</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Citrus aurantifolia peel extract</p></td>
                    <td><p class="productInfoDetail">Natural scent</p></td>
                    <td><p class="productInfoDetail">Lime</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Citrus auranitum bergamia fruit extract</p></td>
                    <td><p class="productInfoDetail">Natural scent</p></td>
                    <td><p class="productInfoDetail">Bergamot</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Citrus tangerine extract</p></td>
                    <td><p class="productInfoDetail">Natural scent</p></td>
                    <td><p class="productInfoDetail">Tangerine</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Citrus nobilis peel extract</p></td>
                    <td><p class="productInfoDetail">Natural scent</p></td>
                    <td><p class="productInfoDetail">Mandarin orange</p></td>
                </tr>
                  <tr>
                    <td><p class="productInfoDetail">Methylisothiazolinone (less than 0.01%)</p></td>
                    <td><p class="productInfoDetail">Guard Freshness</p></td>
                    <td><p class="productInfoDetail">Synthetic</p></td>
                </tr>
                
                
              </table><br/>
          	</div>
          	<div>
              <ul id="productTips">
                <li>Simply Floored! may be used with a dry mop.  Just squeeze out in a swooping motion and mop with a washable microfiber or terry cloth mop to quickly remove dirt and grime leaving a dazzling shine.</li>
                <li>Simply Floored! also works fabulous with a wet mop. Squirt, and clean with a damp mop-- rinse often so you do not spread the dirt around.  Our no-wax formula won’t dull and will leave your floors sparkling without leaving a residue.</li>
                <li>Keep an extra bottle of Simply Floored! in the kitchen to clean up small spills.  Just squirt onto the spill and wipe clean with a sponge, cloth, or paper towel.  You don’t need to rinse.  (You may also replace the cap with a sprayer for a lighter mist application.)</li>
              </ul>
          	</div>
          	<div>
              <p class="productInfoDetail"><strong>Cleans and restores a brilliant shine to</strong>:  hardwood, tile, marble, bamboo, vinyl, laminate, and other sealed floors.</p>
          	</div>
      	</div>
  	</div>
</div>