<div id="product-uses-directions" class="bg-{{ product.variants.first.sku }}">
	<!-- Uses and Directions for Stain and Odor Eliminator -->
	<p><strong>Clothing.</strong> Pre-treat tough stains and smells from grass, dirt, blood, sweat, and grease by spraying directly onto the problem area until it’s saturated. Launder as usual. Use as a laundry booster by adding 2 oz. to your wash cycle.</p>
	<p><strong>Carpet and Furniture.</strong> Clean up any excess mess. Spray directly onto the area and blot with a damp towel. Repeat if necessary.</p>
	<p><strong>Athletic Gear.</strong> Simply spray and wipe to clean and deodorize. Great for yoga mats, moisture-wicking fabric, fitness equipment, shoes, gym bags, massage tables, and more.</p>
</div>
<div id="features-ingredients-tabs">
	<ul class="nav nav-tabs product-tabs-{{ product.variants.first.sku }}" role="tablist">
	    <li role="presentation" class="active"><a href="#features" aria-controls="features" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Features</a></li>
	    <li role="presentation"><a href="#ingredients" aria-controls="ingredients" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Ingredients</a></li>
	    <li role="presentation"><a href="#videos" aria-controls="videos" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Videos</a></li>
	</ul>
	<!-- Tab panes -->
  	<div class="tab-content">
  		
    	<div role="tabpanel" class="tab-pane active in fade" id="features">
    		{% capture this_floorplan %}{{ product.variants.first.sku }}-floorplan.gif{% endcapture %}
    		{{ this_floorplan | asset_url | img_tag }}
			<h3 class="header-{{ product.variants.first.sku }}">Scented with essential oils and botanical extracts</h3>
			<p class="statement-emphasized">Better Life's stain and odor eliminator<strong> NEVER</strong> contains:</p>
			<div class="row">
				<div class="col-sm-4">
					<ul>
						<li>Sodium lauryl/laureth sulfates</li>
						<li>Petroleum solvent</li>
						<li>Parabens</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Ethers</li>
						<li>Synthetic fragrances</li>
						<li>Alcohol</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Ethoxylates</li>
						<li>Dyes</li>
					</ul>
				</div>
			</div>
			<br>
			<ul>
			<li>Non-toxic and biodegradable</li>
			<li>Safe around kids, pets, and the planet</li>
			<li>Never tested on animals</li>
			<li>Kind to waterways and marine life</li>
			<li>Made in the USA with solar energy</li>
			</ul>
    	</div>
    	<div role="tabpanel" class="tab-pane fade" id="ingredients">
    		<p class="header-{{ product.variants.first.sku }}">Eucalyptus &amp; Lemongrass</p>
			<div class="table-responsive" id="24176">
			<table class="product-ingredients-table table">
				<tr>
					<th>INGREDIENT</th>
					<th>SOURCE</th>
					<th>PURPOSE</th>
				</tr>
				<tr>
					<td>Purified water</td>
					<td>Local source</td>
					<td>Consistency</td>
				</tr>
				<tr>
					<td>Disodium coco-glucoside citrate</td>
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
              <tr>
					<td>Sodium citrate</td>
					<td>Mineral</td>
					<td>Cleaning agent</td>
				</tr>
              <tr>
					<td>Melaleuca alternifolia oil</td>
					<td>Tea tree</td>
					<td>Cleaning properties, Natural scent</td>
				</tr>
				
				<tr>
					<td>Lauryl glucoside</td>	
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Quillaja saponaria bark extract</td>	
					<td>Soap bark</td>
					<td>Cleaning agent</td>
				</tr>
				<tr>
					<td>Eucalyptus globulus oil</td>	
					<td>Eucalyptus leaf</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Anthemis nobilis flower oil</td>
					<td>Chamomile flower</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Cymbopogon schoenanthus oil</td>
					<td>Lemongrass</td>
					<td>Natural scent</td>
				</tr>
			
				<tr>
					<td>Lavandula angustifolia oil</td>
					<td>Lavender</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Mentha viridis leaf oil</td>
					<td>Spearmint</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Yeast extract</td>
					<td>Fermented plant extract</td>
					<td>Deodorizer</td>
				</tr>
				<tr>
					<td>Methylisothiazolinone (less than 0.01%)</td>		
					<td>Synthetic</td>
					<td>Preservative to guard freshness</td>
				</tr>
			</table>
			</div>
    	</div>
    	<div role="tabpanel" class="tab-pane fade" id="videos">
			<h3>Better Life Tackles Red Wine Stains</h3>
    		<p>We love the many uses of our Naturally Stain-Slapping Stain &amp; Odor Eliminator. Check out how it tackles this spill on white carpet.</p>
			    <a href="#" data-toggle="modal" data-target=".redwine-modal">
					<div class="video-thumb" style="background: url(https://img.youtube.com/vi/2PPlU90brEo/maxresdefault.jpg) no-repeat scroll center center / cover;" >
    					{{ 'play-btn.png' | asset_url | img_tag }}
    				</div>
    			</a>
				<div class="modal fade redwine-modal product-modals" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		            <div class="modal-dialog modal-xl">
		              <div class="modal-content">
		                <iframe src="https://www.youtube.com/embed/2PPlU90brEo?rel=0" frameborder="0" allowfullscreen width="1100" height="600"></iframe>
		              </div>
		            </div>
		        </div>
		        <br/><br/>
			<h3>Better Life Tackles Tough Stains</h3>
    		<p>Pre-treat your stains with Better Life Natural Stain and Odor Eliminator and use our Laundry Detergent to leave fabrics fresh. </p>
    			<a href="#" data-toggle="modal" data-target=".laundry-modal">
					<div class="video-thumb" style="background: url(https://img.youtube.com/vi/7nhTE3wWY1Q/maxresdefault.jpg) no-repeat scroll center center / cover;" >
    					{{ 'play-btn.png' | asset_url | img_tag }}
    				</div>
    			</a>
				<div class="modal fade laundry-modal product-modals" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		            <div class="modal-dialog modal-xl">
		              <div class="modal-content">
		                <iframe src="https://www.youtube.com/embed/7nhTE3wWY1Q?rel=0" frameborder="0" allowfullscreen width="1100" height="600"></iframe>
		              </div>
		            </div>
		        </div>

    	</div>
  	</div>
</div>