<div id="product-uses-directions" class="bg-{{ product.variants.first.sku }}">
	<!-- Uses and Directions for Stainless Steel Cleaner -->
	<p><strong>Spray it on</strong> stainless steel appliances: refrigerators, dishwashers, ovens, cooktops, and range hoods. Also great on chrome, nickel, titanium, and other fine metal surfaces.</p>
	<p><strong>Directions.</strong> Shake, give the surface a spritz, and wipe with a clean, dry cloth. Buff for a long-lasting brilliant shine.</p>
</div>
<div id="features-ingredients-tabs">
	<ul class="nav nav-tabs product-tabs-{{ product.variants.first.sku }}" role="tablist">
	    <li role="presentation" class="active"><a href="#features" aria-controls="features" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Features</a></li>
	    <li role="presentation"><a href="#ingredients" aria-controls="ingredients" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Ingredients</a></li>
	</ul>
	<!-- Tab panes -->
  	<div class="tab-content">
  		
    	<div role="tabpanel" class="tab-pane active in fade" id="features">
    		{% capture this_floorplan %}{{ product.variants.first.sku }}-floorplan.gif{% endcapture %}
    		{{ this_floorplan | asset_url | img_tag }}
			<h3 class="header-{{ product.variants.first.sku }}">Scented with essential oils and botanical extracts</h3>
			<p class="statement-emphasized">Better Life's stainless steel cleaner<strong> NEVER</strong> contains:</p>
			<div class="row">
				<div class="col-sm-4">
					<ul>
						<li>Sodium lauryl/laureth sulfates</li>
						<li>Petroleum solvents</li>
						<li>Silicones</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Ethers</li>
						<li>Synthetic fragrances</li>
						<li>Aerosols</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Ethoxylates</li>
						<li>Dyes</li>
					</ul>
				</div>
			</div>
			<br>
			<ul>
			<li>Non-toxic and biodegradable</li>
			<li>Safe around kids, pets, and the planet</li>
			<li>Never tested on animals</li>
			<li>Kind to waterways and marine life</li>
			<li>Made in the USA with solar energy</li>
			</ul>
			<br>
			<p>Looking for Better Life’s <strong>Einshine</strong> stainless steel polish? This is it! New look, same great product. <a href="/blogs/better-life/33804164-a-new-look-and-new-stores-too">Learn more.</a></p>
    	</div>
    	<div role="tabpanel" class="tab-pane fade" id="ingredients">
    		<p class="header-{{ product.variants.first.sku }}">Lavender &amp; Chamomile</p>
			<div class="table-responsive" id="24186">
			<table class="product-ingredients-table table">
				<tr>
					<th>INGREDIENT</th>
					<th>SOURCE</th>
					<th>PURPOSE</th>
				</tr>
				<tr>
					<td>Purified water</td>
					<td>Local source</td>
					<td>Consistency</td>
				</tr>
				<tr>
					<td>Cocos nucifera oil</td>	
					<td>Coconut</td>
					<td>Conditioning agent</td>
				</tr>
				<tr>
					<td>Glycine soja</td>
					<td>Soybean</td>
					<td>Conditioning agent</td>
				</tr>
				<tr>
					<td>Canola oil</td>	
					<td>Vegetable oil</td>
					<td>Conditioning, shine</td>
				</tr>
				<tr>
					<td>Sorbitan laurate</td>	
					<td>Sugar</td>
					<td>Emulsifier</td>
				</tr>
				<tr>
					<td>Glycerin</td>	
					<td>Vegetable oil</td>
					<td>Conditioning, shine</td>
				</tr>
				<tr>
					<td>Sodium oleate</td>	
					<td>Olive oil</td>
					<td>Conditioning, cleaning agent</td>
				</tr>
				<tr>
					<td>Anthemis nobilis flower oil</td>	
					<td>Chamomile flower</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Lavandula angustifolia oil</td>	
					<td>Lavender</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Decyl glucoside</td>	
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Acrylates copolymer (less than 0.09%)</td>	
					<td>Synthetic</td>
					<td>Stabilizer</td>
				</tr>
				<tr>
					<td>Methylisothiazolinone (less than 0.01%)</td>		
					<td>Synthetic</td>
					<td>Preservative to guard freshness</td>
				</tr>
			</table>
			</div>
    	</div>
  	</div>
</div>