<div id="product-uses-directions" class="bg-{{ product.variants.first.sku }}">
	<!-- Uses and Directions for Tub and Tile Cleaner -->
	<p><strong>Spray it on</strong> tile, grout, fixtures, sinks, toilet seats, and tubs, or on your shower's walls, doors, and curtains.</p>
	<p><strong>Directions.</strong> Spray the surface, scrub, and rinse clean. <strong>Safe for use on</strong> ceramic, porcelain, stainless steel, fiberglass, acrylic, and chrome surfaces. <strong>Do not use on</strong> brass, wood, marble, or granite. Always test on an inconspicuous area first.</p>
</div>
<div id="features-ingredients-tabs">
	<ul class="nav nav-tabs product-tabs-{{ product.variants.first.sku }}" role="tablist">
	    <li role="presentation" class="active"><a href="#features" aria-controls="features" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Features</a></li>
	    <li role="presentation"><a href="#ingredients" aria-controls="ingredients" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Ingredients</a></li>
	</ul>
	<!-- Tab panes -->
  	<div class="tab-content">
  		
    	<div role="tabpanel" class="tab-pane active in fade" id="features">
    		{% capture this_floorplan %}{{ product.variants.first.sku }}-floorplan.gif{% endcapture %}
    		{{ this_floorplan | asset_url | img_tag }}
			<h3 class="header-{{ product.variants.first.sku }}">Plant-derived cleaning agents and scents</h3>
			<p class="statement-emphasized">Better Life's Tub &amp; Tile Cleaner<strong> NEVER</strong> contains:</p>
			<div class="row">
				<div class="col-sm-4">
					<ul>
						<li>Alcohol</li>
						<li>Dyes</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Petroleum solvents</li>
						<li>Chlorine or bleach</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Synthetic fragrances</li>
						<li>Sodium lauryl/laureth sulfates</li>
					</ul>
				</div>
			</div>
			<br>
			<ul>
			<li>Non-toxic and biodegradable</li>
			<li>Safe around kids, pets, and the planet</li>
			<li>Never tested on animals</li>
			<li>Kind to waterways and marine life</li>
			<li>Made in the USA with solar energy</li>
			</ul>
    	</div>
    	<div role="tabpanel" class="tab-pane fade" id="ingredients">
    		<p class="header-{{ product.variants.first.sku }}">Tea Tree &amp; Eucalyptus</p>
			<div class="table-responsive" id="24205">
			<table class="product-ingredients-table table">
				<tr>
					<th>INGREDIENT</th>
					<th>SOURCE</th>
					<th>PURPOSE</th>
				</tr>
				<tr>
			<td>
				Purified water
			</td>
			<td>
				Local source
			</td>
			<td>
				Consistency
			</td>
		</tr>
		<tr>
			<td>
				Decyl glucoside
			</td>
			<td>
				Corn and coconut oil
			</td>
			<td>
				Cleaning agent, surfactant
			</td>
		</tr>
		<tr>
			<td>
				Cocopolyglucoside
			</td>
			<td>
				Cocounut oil
			</td>
			<td>
				Cleaning agenst, surfactant
			</td>
		</tr>
		<tr>
			<td>
				Citric acid
			</td>
			<td>
				Citrus fruit
			</td>
			<td>
				pH adjustment
			</td>
		</tr>
		<tr>
			<td>
				Lactic acid
			</td>
			<td>
				Corn
			</td>
			<td>
				Cleaning agent
			</td>
		</tr>
		<tr>
			<td>
				Sodium gluconate
			</td>
			<td>
				Fermentation of glucose
			</td>
			<td>
				Water softener
			</td>
		</tr>
		<tr>
			<td>
				Sodium citrate
			</td>
			<td>
				Mineral
			</td>
			<td>
				Cleaning agent
			</td>
		</tr>
		<tr>
			<td>
				Melaleuca alternifolia oil
			</td>
			<td>
				Tea tree
			</td>
			<td>
				Cleaning properties, natural scent
			</td>
		</tr>
	
		<tr>
			<td>
				Eucalyptus globulus leaf oil
			</td>
			<td>
				Eucalyptus leaf
			</td>
			<td>
				Natural scent
			</td>
		</tr>
		<tr>
			<td>
				Mentha piperita oil
			</td>
			<td>
				Peppermint
			</td>
			<td>
				Natural scent
			</td>
		</tr>
		<tr>
			<td>
				Potassium sorbate
			</td>
			<td>
				Synthetic
			</td>
			<td>
				Food grade preservative
			</td>
		</tr>
		<tr>
			<td>
				Coco betaine
			</td>
			<td>
				Coconut oil
			</td>
			<td>
				Surfactant
			</td>
		</tr>
		<tr>
			<td>
				Citrus aurantifolia extract
			</td>
			<td>
				Lime
			</td>
			<td>
				Natural scent
			</td>
		</tr>
		<tr>
			<td>
				Cymbopogon schoenanthus oil
			</td>
			<td>
				Lemongrass
			</td>
			<td>
				Natural scent
			</td>
		</tr>
			</table>
			</div>
    	</div>
  	</div>
</div>