<div id="product-uses-directions" class="bg-{{ product.variants.first.sku }}">
	<!-- Uses and Directions for Natural Dryer Sheets -->
	<p><strong>Directions.</strong> Use one dryer sheet per load. Separate along the center perforation and place both halves in the dryer on top of wet clothes. Discard after use – these sheets are biodegradable and compostable. Seeing spots? Simply wet the fabric, scrub with bar soap, rinse, and rewash.</p>
	<p><strong>Not for use</strong> on children’s sleepwear or other garments labeled as flame resistant as it may reduce flame resistance. Fabric softeners can increase the flammability of fabric.</p>
</div>
<div id="features-ingredients-tabs">
	<ul class="nav nav-tabs product-tabs-{{ product.variants.first.sku }}" role="tablist">
	    <li role="presentation" class="active"><a href="#features" aria-controls="features" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Features</a></li>
	    <li role="presentation"><a href="#ingredients" aria-controls="ingredients" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Ingredients</a></li>
	    <li role="presentation"><a href="#videos" aria-controls="videos" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Videos</a></li>
	</ul>
	<!-- Tab panes -->
  	<div class="tab-content">
  		
    	<div role="tabpanel" class="tab-pane active in fade" id="features">
    		{% capture this_floorplan %}{{ product.variants.first.sku }}-floorplan.gif{% endcapture %}
    		{{ this_floorplan | asset_url | img_tag }}
			<h3 class="header-{{ product.variants.first.sku }}">Scented with essential oils and botanical extracts</h3>
			<p class="statement-emphasized">Better Life's dryer sheets<strong> NEVER</strong> contain:</p>
			<div class="row">
				<div class="col-sm-4">
					<ul>
						<li>Alcohol</li>
						<li>Chlorine</li>
						<li>Chloroform</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Bleach</li>
						<li>Synthetic fragrances</li>
						<li>Phlalates</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Phosphates</li>
						<li>Dyes</li>
					</ul>
				</div>
			</div>
			<br>
			<ul>
			<li>Non-toxic and biodegradable</li>
			<li>Safe around kids, pets, and the planet</li>
			<li>Never tested on animals</li>
			<li>Made in the USA with solar energy</li>
			</ul>
			<br>
    	</div>
    	<div role="tabpanel" class="tab-pane fade" id="ingredients">
    		<p class="header-{{ product.variants.first.sku }}">Lavender Grapefruit</p>
			<div class="table-responsive" id="2422">
			<table class="product-ingredients-table table">
				<tr>
					<th>INGREDIENT</th>
					<th>SOURCE</th>
					<th>PURPOSE</th>
				</tr>
				<tr>
					<td>Unbleached paper</td>
					<td>Pulp</td>
					<td>Carrier</td>
				</tr>
				<tr>
					<td>Dihydrogenated palmoylethyl hydroxyethylmonium methosulfate</td>	
					<td>Natural oils/synthetic</td>
					<td>Softening agent</td>
				</tr>
				<tr>
					<td>Glyceryl palmitate/stearate</td>	
					<td>Natural Oils</td>
					<td>Emulsifier</td>
				</tr>
				<tr>
					<td>Lavendula angustifolia</td>
					<td>Lavender</td>
					<td>missing</td>
				</tr>
				<tr>
					<td>Lavandula hybrida oil</td>	
					<td>Lavandin</td>
					<td>missing</td>
				</tr>
				<tr>
					<td>Citrus paradisi oil</td>		
					<td>Pink Grapefruit</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Citrus aurantium bergamia oil</td>
					<td>Bergamot</td>
					<td>Natural scent</td>
				</tr>
			</table>
			</div>
			
			<p class="header-{{ product.variants.first.sku }}">Unscented</p>
			<div class="table-responsive" id="24223"> 
			<table class="product-ingredients-table table">
				<tr>
					<th>INGREDIENT</th>
					<th>SOURCE</th>
					<th>PURPOSE</th>
				</tr>
				<tr>
					<td>Unbleached paper</td>
					<td>Pulp</td>
					<td>Carrier</td>
				</tr>
				<tr>
					<td>Dihydrogenated palmoylethyl hydroxyethylmonium methosulfate</td>	
					<td>Natural oils/synthetic</td>
					<td>Softening agent</td>
				</tr>
				<tr>
					<td>Glyceryl palmitate/stearate</td>	
					<td>Natural Oils</td>
					<td>Emulsifier</td>
				</tr>
			</table>
			</div>
    	</div>
    	<div role="tabpanel" class="tab-pane fade" id="videos">
			<h3>Better Life Tackles Frying Pan Filth</h3>
    		<p>Didn't have time to wash that pan from dinner last night? Use a dryer sheet! Easily wipe away caked on grease and food with this tip from Better Life Natural Cleaning products.</p>
			 <a href="#" data-toggle="modal" data-target=".fryingpan-modal">
					<div class="video-thumb" style="background: url(https://img.youtube.com/vi/3tVYEJ5ZsjQ/maxresdefault.jpg) no-repeat scroll center center / cover;" >
    					{{ 'play-btn.png' | asset_url | img_tag }}
    				</div>
    			</a>
				<div class="modal fade fryingpan-modal product-modals" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		            <div class="modal-dialog modal-xl">
		              <div class="modal-content">
		                <iframe data-src="https://www.youtube.com/embed/3tVYEJ5ZsjQ?rel=0" allowfullscreen="" src="https://www.youtube.com/embed/3tVYEJ5ZsjQ?r" width="1100" height="600" frameborder="0"></iframe>
		              </div>
		            </div>
		        </div>

    	</div>
  	</div>
</div>