<div id="product-uses-directions" class="bg-{{ product.variants.first.sku }}">
	<!-- Uses and Directions for Laundry Detergent -->
	<p><strong>Directions.</strong> For regular loads, turn on your machine and pour in half a cap (1 oz). Throw in your dirtiest clothing and let our detergent strut its stuff. For extra grime or larger loads, double the dose.</p>
	<p><strong>Stains overstaying their welcome?</strong> For supernaturally stubborn spills, smears, and smudges, pre-treat with <a href="/products/natural-stain-and-odor-eliminator">Better Life Natural Stain and Odor Eliminator</a>. Spray directly onto fabric and launder as usual.</p>
</div>
<div id="features-ingredients-tabs">
	<ul class="nav nav-tabs product-tabs-{{ product.variants.first.sku }}" role="tablist">
	    <li role="presentation" class="active"><a href="#features" aria-controls="features" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Features</a></li>
	    <li role="presentation"><a href="#ingredients" aria-controls="ingredients" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Ingredients</a></li>
	    <li role="presentation"><a href="#videos" aria-controls="videos" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Videos</a></li>
	</ul>
	<!-- Tab panes -->
  	<div class="tab-content">
  		
    	<div role="tabpanel" class="tab-pane active in fade" id="features">
    		{% capture this_floorplan %}{{ product.variants.first.sku }}-floorplan.gif{% endcapture %}
    		{{ this_floorplan | asset_url | img_tag }}
			<h3 class="header-{{ product.variants.first.sku }}">Scented with essential oils and botanical extracts</h3>
			<p class="statement-emphasized">Better Life's laundry detergent<strong> NEVER</strong> contains:</p>
			<div class="row">
				<div class="col-sm-4">
					<ul>
						<li>Sodium lauryl/laureth sulfates</li>
						<li>Petroleum solvent</li>
						<li>Bleach</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Ethoxylates</li>
						<li>Synthetic fragrances</li>
						<li>Chlorine</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Phosphates</li>
						<li>Dyes</li>
						<li>Optical brighteners</li>
					</ul>
				</div>
			</div>
			<br>
			<ul>
			<li>Non-toxic and biodegradable</li>
			<li>Safe around kids, pets, and the planet</li>
			<li>Never tested on animals</li>
			<li>Kind to waterways and marine life</li>
			<li>Made in the USA with solar energy</li>
			</ul>
			<br>
			<p>Looking for Better Life’s <strong>Spin-Credible</strong> laundry detergent? This is it! New look, same great product. <a href="/blogs/better-life/33804164-a-new-look-and-new-stores-too">Learn more.</a></p>
    	</div>
    	<div role="tabpanel" class="tab-pane fade" id="ingredients">
    		<p class="header-{{ product.variants.first.sku }}">Lavender Grapefruit</p>
			<div class="table-responsive" id="2423A">
			<table class="product-ingredients-table table">
				<tr>
					<th>INGREDIENT</th>
					<th>SOURCE</th>
					<th>PURPOSE</th>
				</tr>
				<tr>
					<td>Purified water</td>
					<td>Local source</td>
					<td>Consistency</td>
				</tr>
				<tr>
					<td>Potassium cocoate</td>
					<td>Coconut oil and soda ash</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Decyl glucoside</td>	
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Lauryl glucoside</td>	
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Oleic acid</td>	
					<td>Vegetable oil</td>
					<td>Consistency</td>
				</tr>
               
              <tr>
                    <td>Citrus aurantium dulcis oil</td>	
					<td>Orange</td>
					<td>Natural Scent</td>
              
              </tr>
				<tr>
					<td>Sodium citrate</td>	
					<td>Mineral</td>
					<td>Cleaning agent, water softener</td>
				</tr>
				<tr>
					<td>Quillaja saponaria bark extract</td>
					<td>Soap bark</td>
					<td>Cleaning agent</td>
				</tr>
				<tr>
					<td>Glycerin (vegetable)</td>
					<td>Vegetable oil</td>
					<td>Conditioning agent</td>
				</tr>
				<tr>
					<td>Sodium carbonate</td>
					<td>Mineral</td>
					<td>Cleaning agent, water softener</td>
				</tr>
				<tr>
					<td>Citric acid</td>
					<td>Citrus fruit</td>
					<td>pH adjustment</td>
				</tr>
				
				<tr>
					<td>Citrus grandis peel oil</td>
					<td>Grapefruit</td>
					<td>Natural scent</td>
				</tr>
              <tr>
					<td>Lavandula angustifolia extract</td>
					<td>Lavender</td>
					<td>Natural scent</td>
				</tr>
               <tr>
                    <td>Citrus bergamia oil</td>	
					<td>Bergamot</td>
					<td>Natural Scent</td>
              
              </tr>
			</table>
			</div>
			
			<p class="header-{{ product.variants.first.sku }}">Unscented</p>
			<div class="table-responsive" id="2423B">
			<table class="product-ingredients-table table">
				<tr>
					<th>INGREDIENT</th>
					<th>SOURCE</th>
					<th>PURPOSE</th>
				</tr>
				<tr>
					<td>Purified water</td>
					<td>Local source</td>
					<td>Consistency</td>
				</tr>
				<tr>
					<td>Potassium cocoate</td>
					<td>Coconut oil and soda ash</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Decyl glucoside</td>	
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Lauryl glucoside</td>	
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Oleic acid</td>	
					<td>Vegetable oil</td>
					<td>Consistency</td>
				</tr>
				<tr>
					<td>Sodium citrate</td>	
					<td>Mineral</td>
					<td>Cleaning agent, water softener</td>
				</tr>
				<tr>
					<td>Quillaja saponaria bark extract</td>
					<td>Soap bark</td>
					<td>Cleaning agent</td>
				</tr>
				<tr>
					<td>Glycerin (vegetable)</td>
					<td>Vegetable oil</td>
					<td>Conditioning agent</td>
				</tr>
				<tr>
					<td>Sodium carbonate</td>
					<td>Mineral</td>
					<td>Cleaning agent, water softener</td>
				</tr>
				<tr>
					<td>Citric acid</td>
					<td>Citrus fruit</td>
					<td>pH adjustment</td>
				</tr>
			</table>
			</div>
    	</div>
    	<div role="tabpanel" class="tab-pane fade" id="videos">
			<h3>Better Life Tackles Tough Stains</h3>
    		<p>Pre-treat your stains with Better Life Natural Stain and Odor Eliminator and use our Laundry Detergent to leave fabrics fresh. </p>
			<a href="#" data-toggle="modal" data-target=".laundry-modal">
					<div class="video-thumb" style="background: url(https://img.youtube.com/vi/7nhTE3wWY1Q/maxresdefault.jpg) no-repeat scroll center center / cover;" >
    					{{ 'play-btn.png' | asset_url | img_tag }}
    				</div>
    			</a>
				<div class="modal fade laundry-modal product-modals" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		            <div class="modal-dialog modal-xl">
		              <div class="modal-content">
		                <iframe src="https://www.youtube.com/embed/27nhTE3wWY1Q?rel=0" frameborder="0" allowfullscreen width="1100" height="600"></iframe>
		              </div>
		            </div>
		        </div>
    	</div>
  	</div>
</div>