<div id="product-uses-directions" class="bg-{{ product.variants.first.sku }}">
	<!-- Uses and Directions for Hand and Body Soap -->
	<p><strong>Directions.</strong> Use as a hand wash, face wash, body wash, soothing shower gel, or gentle shampoo.</p>
</div>
<div id="features-ingredients-tabs">
	<ul class="nav nav-tabs product-tabs-{{ product.variants.first.sku }}" role="tablist">
	    <li role="presentation" class="active"><a href="#features" aria-controls="features" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Features</a></li>
	    <li role="presentation"><a href="#ingredients" aria-controls="ingredients" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Ingredients</a></li>
	</ul>
	<!-- Tab panes -->
  	<div class="tab-content">
  		
    	<div role="tabpanel" class="tab-pane active in fade" id="features">
			<h3 class="header-{{ product.variants.first.sku }}">Scented with essential oils and botanical extracts</h3>
			<p class="statement-emphasized">Better Life's soap<strong> NEVER</strong> contains:</p>
			<div class="row">
				<div class="col-sm-4">
					<ul>
						<li>Sodium lauryl/laureth sulfates</li>
						<li>Phlalates</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Parabens</li>
						<li>Synthetic fragrances</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Triclosan</li>
						<li>Dyes</li>
					</ul>
				</div>
			</div>
			<br>
			<ul>
			<li>Non-toxic and biodegradable</li>
			<li>Safe around kids, pets, and the planet</li>
			<li>Never tested on animals</li>
			<li>Kind to waterways and marine life</li>
			<li>Made in the USA with solar energy</li>
			</ul>
			<br>
			<p>Looking for <strong>Go Forth &amp; Conquer Soap (Clary Sage &amp; Citrus)</strong>, or <strong>No Regrets Soap (Citrus Mint)</strong>? You’re in the right place! The bottles look different, but these are the same great products. <a href="/blogs/better-life/33804164-a-new-look-and-new-stores-too">Learn more.</a></p>
    	</div>
    	<div role="tabpanel" class="tab-pane fade" id="ingredients">
    		<p class="header-{{ product.variants.first.sku }}">Citrus Mint</p>
			<div class="table-responsive" id="24249">
			<table class="product-ingredients-table table">
				<tr>
					<th>INGREDIENT</th>
					<th>SOURCE</th>
					<th>PURPOSE</th>
				</tr>
				<tr>
					<td>Purified water</td>
					<td>Local source</td>
					<td>Consistency</td>
				</tr>
				<tr>
					<td>Aloe barbadensis leaf juice</td>	
					<td>Aloe vera</td>
					<td>Conditioning agent</td>
				</tr>
              <tr>
					<td>Cetyl betaine</td>	
					<td>Coconut oil</td>
					<td>Surfactant</td>
				</tr>
				<tr>
					<td>Decyl glucoside</td>	
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Cocopolyglucose citrate</td>		
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Lauroyl lactylate</td>		
					<td>Coconut Oil</td>
					<td>Emulsifier</td>
				</tr>
				<tr>
					<td>Glycerin</td>		
					<td>Vegetable oil</td>
					<td>Conditioning agent</td>
				</tr>
				<tr>
					<td>Potassium cocoate</td>		
					<td>Coconut oil and soda ash</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Tocopheryl acetate (vitamin E)</td>		
					<td>Plant sources</td>
					<td>Moisturizer, antioxidant</td>
				</tr>
				<tr>
					<td>Cucumis sativus fruit extract</td>		
					<td>Cucumber</td>
					<td>Moisturizer, conditioner</td>
				</tr>
				<tr>
					<td>Camellia sinensis extract</td>		
					<td>Green Tea</td>
					<td>Moisturizer, antioxidant</td>
				</tr>
				<tr>
					<td>Citrus grandis extract</td>		
					<td>Grapefruit</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Citrus auranitum bergamia fruit extract</td>		
					<td>Bergamot</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Citrus limon peel extract</td>		
					<td>Lemon</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Citrus aurantifolia peel extract</td>		
					<td>Lime</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Citrus aurantium dulcis extract</td>		
					<td>Orange</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Elettaria cardamomum seed extract</td>		
					<td>Cardamom</td>
					<td>Natural scent</td>
				</tr>
              <tr>
					<td>Citrus tangerina extract</td>		
					<td>Tangerine</td>
					<td>Natural scent</td>
				</tr>
              <tr>
					<td>Citrus nobilis peel extract </td>		
					<td>Mandarin orange</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Mentha piperita extract</td>		
					<td>Peppermint</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Mentha viridis extract</td>		
					<td>Spearmint</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>PEG-150 stearate</td>		
					<td>Natural oils/ Synthetic</td>
					<td>Stabilizer</td>
				</tr>
				<tr>
					<td>Phenoxyethanol</td>		
					<td>Synthetic</td>
					<td>Preservative to guard freshness</td>
				</tr>
				<tr>
					<td>Ethylhexylglycerin</td>		
					<td>Synthetic</td>
					<td>Preservative to guard freshness</td>
				</tr>
			</table>
			</div>
			
			<p class="header-{{ product.variants.first.sku }}">Clary Sage &amp; Citrus</p>
			<div class="table-responsive" id="2424J">
			<table class="product-ingredients-table table">
				<tr>
					<th>INGREDIENT</th>
					<th>SOURCE</th>
					<th>PURPOSE</th>
				</tr>
				<tr>
					<td>Purified water</td>
					<td>Local source</td>
					<td>Consistency</td>
				</tr>
				<tr>
					<td>Aloe barbadensis leaf juice</td>	
					<td>Aloe vera</td>
					<td>Conditioning agent</td>
				</tr>
              	<tr>
					<td>Cetyl betaine</td>	
					<td>Coconut oil</td>
					<td>Surfactant</td>
				</tr>
				<tr>
					<td>Decyl glucoside</td>	
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Cocopolyglucose citrate</td>		
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Lauroyl lactylate</td>		
					<td>Coconut Oil</td>
					<td>Emulsifier</td>
				</tr>
				<tr>
					<td>Glycerin</td>		
					<td>Vegetable oil</td>
					<td>Conditioning agent</td>
				</tr>
				<tr>
					<td>Potassium cocoate</td>		
					<td>Coconut oil and soda ash</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Tocopheryl acetate (vitamin E)</td>		
					<td>Plant sources</td>
					<td>Moisturizer, antioxidant</td>
				</tr>
				
				<tr>
					<td>Cucumis sativus fruit extract</td>		
					<td>Cucumber</td>
					<td>Moisturizer, conditioner</td>
				</tr>
				<tr>
					<td>Camellia sinensis extract</td>		
					<td>Green Tea</td>
					<td>Moisturizer, antioxidant</td>
				</tr>
				<tr>
					<td>Citrus limon extract</td>		
					<td>Lemon</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Citrus aurantium dulcis extract</td>		
					<td>Orange</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Salvia sclarea extract</td>		
					<td>Clary Sage</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>PEG-150 stearate</td>		
					<td>Natural oils/ Synthetic</td>
					<td>Stabilizer</td>
				</tr>
				<tr>
					<td>Phenoxyethanol</td>		
					<td>Synthetic</td>
					<td>Preservative to guard freshness</td>
				</tr>
				<tr>
					<td>Ethylhexylglycerin</td>		
					<td>Synthetic</td>
					<td>Preservative to guard freshness</td>
				</tr>
			</table>
			</div>

			<p class="header-{{ product.variants.first.sku }}">Citrus Spice</p>
			<div class="table-responsive" id="24244">
			<table class="product-ingredients-table table">
				<tr>
					<th>INGREDIENT</th>
					<th>SOURCE</th>
					<th>PURPOSE</th>
				</tr>
				<tr>
					<td>Purified water</td>
					<td>Local source</td>
					<td>Consistency</td>
				</tr>
				<tr>
					<td>Aloe barbadensis leaf juice</td>	
					<td>Aloe vera</td>
					<td>Conditioning agent</td>
				</tr>
                <tr>
					<td>Cetyl betaine</td>	
					<td>Coconut oil</td>
					<td>Surfactant</td>
				</tr>
				<tr>
					<td>Decyl glucoside</td>	
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Cocopolyglucose citrate</td>		
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Lauroyl lactylate</td>		
					<td>Coconut Oil</td>
					<td>Emulsifier</td>
				</tr>
				<tr>
					<td>Glycerin</td>		
					<td>Vegetable oil</td>
					<td>Conditioning agent</td>
				</tr>
				<tr>
					<td>Potassium cocoate</td>		
					<td>Coconut oil and soda ash</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Tocopheryl acetate (vitamin E)</td>		
					<td>Plant sources</td>
					<td>Moisturizer, antioxidant</td>
				</tr>
				
				<tr>
					<td>Cucumis sativus fruit extract</td>		
					<td>Cucumber</td>
					<td>Moisturizer, conditioner</td>
				</tr>
				<tr>
					<td>Camellia sinensis extract</td>		
					<td>Green Tea</td>
					<td>Moisturizer, antioxidant</td>
				</tr>
				<tr>
					<td>PEG-150 stearate</td>		
					<td>Natural oils/ Synthetic</td>
					<td>Stabilizer</td>
				</tr>
				<tr>
					<td>Phenoxyethanol</td>		
					<td>Synthetic</td>
					<td>Preservative to guard freshness</td>
				</tr>
				<tr>
					<td>Ethylhexylglycerin</td>		
					<td>Synthetic</td>
					<td>Preservative to guard freshness</td>
				</tr>
				<tr>
					<td>Citrus aurantium dulcis extract</td>
					<td>Orange</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Citrus limon peel extract</td>
					<td>Lemon</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Cinnamomum cassia leaf oil</td>
					<td>Cinnamon</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Vanilla planifolia fruit extract</td>
					<td>Vanilla</td>
					<td>Natural scent</td>
				</tr>
				<tr>
					<td>Eugenia caryophyllus leaf oil</td>
					<td>Clove</td>
					<td>Natural scent</td>
				</tr>
			</table>
			</div>
			
			<p class="header-{{ product.variants.first.sku }}">Unscented</p>
			<div class="table-responsive" id="24241">
			<table class="product-ingredients-table table">
				<tr>
					<th>INGREDIENT</th>
					<th>SOURCE</th>
					<th>PURPOSE</th>
				</tr>
				<tr>
					<td>Purified water</td>
					<td>Local source</td>
					<td>Consistency</td>
				</tr>
				<tr>
					<td>Aloe barbadensis leaf juice</td>	
					<td>Aloe vera</td>
					<td>Conditioning agent</td>
				</tr>
                <tr>
					<td>Cetyl betaine</td>	
					<td>Coconut oil</td>
					<td>Surfactant</td>
				</tr>
				<tr>
					<td>Decyl glucoside</td>	
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Cocopolyglucose citrate</td>		
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Lauroyl lactylate</td>		
					<td>Coconut Oil</td>
					<td>Emulsifier</td>
				</tr>
				<tr>
					<td>Glycerin</td>		
					<td>Vegetable oil</td>
					<td>Conditioning agent</td>
				</tr>
				<tr>
					<td>Potassium cocoate</td>		
					<td>Coconut oil and soda ash</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Tocopheryl acetate (vitamin E)</td>		
					<td>Plant sources</td>
					<td>Moisturizer, antioxidant</td>
				</tr>
				
				<tr>
					<td>Cucumis sativus fruit extract</td>		
					<td>Cucumber</td>
					<td>Moisturizer, conditioner</td>
				</tr>
				<tr>
					<td>Camellia sinensis extract</td>		
					<td>Green Tea</td>
					<td>Moisturizer, antioxidant</td>
				</tr>
				<tr>
					<td>PEG-150 stearate</td>		
					<td>Natural oils/ Synthetic</td>
					<td>Stabilizer</td>
				</tr>
				<tr>
					<td>Phenoxyethanol</td>		
					<td>Synthetic</td>
					<td>Preservative to guard freshness</td>
				</tr>
				<tr>
					<td>Ethylhexylglycerin</td>		
					<td>Synthetic</td>
					<td>Preservative to guard freshness</td>
				</tr>
			</table>
			</div>
    	</div>
  	</div>
</div>