<div id="product-uses-directions" class="bg-{{ product.variants.first.sku }}">
	<!-- Uses and Directions for Hand and Body Lotion -->
	<p><strong>Directions.</strong> Indulge yourself daily from face to foot.</p>
</div>
<div id="features-ingredients-tabs">
	<ul class="nav nav-tabs product-tabs-{{ product.variants.first.sku }}" role="tablist">
	    <li role="presentation" class="active"><a href="#features" aria-controls="features" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Features</a></li>
	    <li role="presentation"><a href="#ingredients" aria-controls="ingredients" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Ingredients</a></li>
	</ul>
	<!-- Tab panes -->
  	<div class="tab-content">
  		
    	<div role="tabpanel" class="tab-pane active in fade" id="features">
			<h3 class="header-{{ product.variants.first.sku }}">Scented with essential oils and botanical extracts</h3>
			<p class="statement-emphasized">Better Life's lotion<strong> NEVER</strong> contains:</p>
			<div class="row">
				<div class="col-sm-4">
					<ul>
						<li>Parabens</li>
						<li>Silicones</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Phlalates</li>
						<li>Synthetic fragrances</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Mineral oils</li>
						<li>Dyes</li>
					</ul>
				</div>
			</div>
			<br>
			<ul>
			<li>Non-toxic and biodegradable</li>
			<li>Safe around kids, pets, and the planet</li>
			<li>Never tested on animals</li>
			<li>Kind to waterways and marine life</li>
			<li>Made in the USA with solar energy</li>
			</ul>
			<br>
			<p>Looking for <strong>Work It Own It Lotion (Clary Sage &amp; Citrus)</strong>, or <strong>Cool Calm Collected Lotion (Citrus Mint)</strong>? You’re in the right place! The bottles look different, but these are the same great products. <a href="#">Learn more</a>.</p>
    	</div>
    	<div role="tabpanel" class="tab-pane fade" id="ingredients">
    		<p class="header-{{ product.variants.first.sku }}">Citrus Mint</p>
			<div class="table-responsive" id="2425E">
			<table class="product-ingredients-table table">
				<tr>
					<th>INGREDIENT</th>
					<th>SOURCE</th>
					<th>PURPOSE</th>
				</tr>
				    <tr>
					<td>Purified water</td>
					<td>Local source</td>
					<td>Consistency</td>
					</tr>
                    <tr>
					<td>Aloe barbadensis leaf juice</td>
					<td>Aloe vera</td>
					<td>Conditioning agent</td>
					</tr>
					
					<tr>
					<td>Glycerin</td>
					<td>Vegetable oil</td>
					<td>Conditioning agent</td>
					</tr>
					<tr>
					<td>Carthamus tinctorius oil</td>
					<td>Safflower</td>
					<td>Moisturizer</td>
					</tr>
					<tr>
					<td>Capric/caprylic triglycerides</td>
					<td>Vegetable Oil</td>
					<td>Moisturizer</td>
					</tr>
					<tr>
					<td>Tea-stearate</td>
					<td>Vegetable Oil</td>
					<td>Emulsifier</td>
					</tr>
					<tr>
					<td>Cocos nucifera oil</td>
					<td>Coconut</td>
					<td>Cleaning agent, surfactant</td>
					</tr>
                <!--
          <tr>
			<td>
				Cetyl alcohol
			</td>
			<td>
				Coconut Oil
			</td>
			<td>
				Moisturizer
			</td>
		</tr>    
           -->    
              
					<tr>
					<td>Butyrospermum parkii (shea butter)</td>
					<td>Shea Tree</td>
					<td>Conditioning agent</td>
					</tr>
					<tr>
					<td>Simmondsia chinensis seed oil</td>
					<td>Jojoba</td>
					<td>Moisturizer</td>
					</tr>
					<tr>
					<td>Persea gratissima oil</td>
					<td>Avocado</td>
					<td>Moisturizer</td>
					</tr>
					<tr>
					<td>Tocopheryl (vitamin E) acetate</td>
					<td>Plant sources</td>
					<td>Moisturizer, antioxidant</td>
					</tr>
					<tr>
					<td>Cucumis sativus fruit extract</td>
					<td>Cucumber</td>
					<td>Moisturizer, conditioner</td>
					</tr>
					<tr>
					<td>Camellia sinensis extract</td>
					<td>Green Tea</td>
					<td>Natural scent</td>
					</tr>
					<tr>
					<td>Citrus grandis extract</td>
					<td>Grapefruit</td>
					<td>Natural scent</td>
					</tr>
					<tr>
					<td>Mentha citrata extract</td>
					<td>Bergamot mint</td>
					<td>Natural scent</td>
					</tr>
					<tr>
					<td>Citrus medica limonum extract</td>
					<td>Lemon</td>
					<td>Natural scent</td>
					</tr>
					<tr>
					<td>Citrus aurantifolia extract</td>
					<td>Lime</td>
					<td>Natural scent</td>
					</tr>
					<tr>
					<td>Citrus aurantium dulcis extract</td>
					<td>Orange</td>
					<td>Natural scent</td>
					</tr>
					<tr>
					<td>Vanilla planifolia fruit extract</td>
					<td>Vanilla orchid</td>
					<td>Natural scent</td>
					</tr>
					<tr>
					<td>Mentha piperita extract</td>
					<td>Peppermint</td>
					<td>Natural scent</td>
					</tr>
					<tr>
					<td>Mentha viridis extract</td>
					<td>Spearmint</td>
					<td>Natural scent</td>
					</tr>
					<tr>
					<td>Sodium stearoyl lactylate</td>
					<td>Plant Source</td>
					<td>Emulsifier</td>
					</tr>
					<tr>
					<td>Cetearyl alcohol</td>
					<td>Vegetable oil</td>
					<td>Natural wax</td>
					</tr>
					<tr>
					<td>Ethylhexylglycerin</td>
					<td>Synthetic</td>
					<td>Preservative to guard freshness</td>
					</tr>
					<tr>
					<td>Phenoxyethanol</td>
					<td>Synthetic</td>
					<td>Preservative to guard freshness</td>
					</tr>
					<tr>
					<td>Glyceryl stearate</td>
					<td>Plant source</td>
					<td>Emulsifier</td>
					</tr>
			</table>
			</div>
			
			<p class="header-{{ product.variants.first.sku }}">Clary Sage &amp; Citrus</p>
			<div class="table-responsive" id="2425F">
			<table class="product-ingredients-table table">
				<tr>
					<tr>
					<th>INGREDIENT</th>
					<th>SOURCE</th>
					<th>PURPOSE</th>
				</tr>
			
                          <tr>
							<td>
								Purified water
							</td>
							<td>
								Local source
							</td>
							<td>
								Consistency
							</td>
						</tr>	
              
              <tr>
							<td>
								Aloe barbadensis leaf juice
							</td>
							<td>
								Aloe vera
							</td>
							<td>
								Conditioning agent
							</td>
						</tr>
						
						<tr>
							<td>
								Glycerin
							</td>
							<td>
								Vegetable oil
							</td>
							<td>
								Conditioning agent
							</td>
						</tr>
						<tr>
							<td>
								Carthamus tinctorius oil
							</td>
							<td>
								Safflower
							</td>
							<td>
								Moisturizer
							</td>
						</tr>
						<tr>
							<td>
								Capric/caprylic triglycerides 
							</td>
							<td>
								Vegetable Oil
							</td>
							<td>
								Moisturizer
							</td>
						</tr>
						<tr>
							<td>
								Tea-stearate
							</td>
							<td>
								Vegetable Oil
							</td>
							<td>
								Emulsifier
							</td>
						</tr>
						<tr>
							<td>
								Cocos nucifera oil
							</td>
							<td>
								Coconut
							</td>
							<td>
								Cleaning agent, surfactant
							</td>
						</tr>
                <!--
          <tr>
			<td>
				Cetyl alcohol
			</td>
			<td>
				Coconut Oil
			</td>
			<td>
				Moisturizer
			</td>
		</tr>    
           -->    
              
						<tr>
							<td>
								Butyrospermum parkii (shea butter)
							</td>
							<td>
								Shea Tree
							</td>
							<td>
								Conditioning agent
							</td>
						</tr>
						<tr>
							<td>
								Simmondsia chinensis seed oil
							</td>
							<td>
								Jojoba
							</td>
							<td>
								Moisturizer
							</td>
						</tr>
						<tr>
							<td>
								Persea gratissima oil
							</td>
							<td>
								Avocado
							</td>
							<td>
								Moisturizer
							</td>
						</tr>
						<tr>
							<td>
								Tocopheryl (vitamin E) acetate
							</td>
							<td>
								Plant sources
							</td>
							<td>
								Moisturizer, antioxidant
							</td>
						</tr>
						<tr>
							<td>
								Cucumis sativus fruit extract
							</td>
							<td>
								Cucumber
							</td>
							<td>
								Moisturizer, conditioner
							</td>
						</tr>
						<tr>
							<td>
								Citrus limon (lemon) extract
							</td>
							<td>
								Lemon
							</td>
							<td>
								Natural scent
							</td>
						</tr>
						<tr>
							<td>
								Citrus aurantium dulcis (orange) extract
							</td>
							<td>
								Orange
							</td>
							<td>
								Natural scent
							</td>
						</tr>
						<tr>
							<td>
								Salvia sclarea (clary sage) extract
							</td>
							<td>
								Clary Sage
							</td>
							<td>
								Natural scent
							</td>
						</tr>
						<tr>
							<td>
								Sodium stearoyl lactylate
							</td>
							<td>
								Plant Source
							</td>
							<td>
								Emulsifier
							</td>
						</tr>
						<tr>
							<td>
								Camelia sinensis
							</td>
							<td>
								Green tea
							</td>
							<td>
								Natural scent
							</td>
						</tr>
						<tr>
							<td>
								Cetearyl alcohol
							</td>
							<td>
								Vegetable oil
							</td>
							<td>
								Natural wax
							</td>
						</tr>
						<tr>
							<td>
								Phenoxyethanol
							</td>
							<td>
								Synthetic
							</td>
							<td>
								Preservative to guard freshness
							</td>
						</tr>
						<tr>
							<td>
								Ethylhexylglycerin
							</td>
							<td>
								Synthetic
							</td>
							<td>
								Preservative to guard freshness
							</td>
						</tr>
						<tr>
							<td>
								Glyceryl stearate
							</td>
							<td>
								Plant source
							</td>
							<td>
								Emulsifier
							</td>
						</tr>
			</table>
			</div>
			
			<p class="header-{{ product.variants.first.sku }}">Unscented</p>
			<div class="table-responsive" id="2425">
			<table class="product-ingredients-table table">
			<tr>
					<th>INGREDIENT</th>
					<th>SOURCE</th>
					<th>PURPOSE</th>
				</tr>
				<tr>
			<td>
				Purified water
			</td>
			<td>
				Local source
			</td>
			<td>
				Consistency
			</td>
		</tr>
              
              
              <tr>
			<td>
				Aloe barbadensis leaf juice
			</td>
			<td>
				Aloe vera
			</td>
			<td>
				Conditioning agent
			</td>
		</tr>
		
		<tr>
			<td>
				Glycerin
			</td>
			<td>
				Vegetable oil
			</td>
			<td>
				Conditioning agent
			</td>
		</tr>
		<tr>
			<td>
				Carthamus tinctorius oil
			</td>
			<td>
				Safflower
			</td>
			<td>
				Moisturizer
			</td>
		</tr>
		<tr>
			<td>
				Capric/caprylic triglycerides
			</td>
			<td>
				Vegetable Oil
			</td>
			<td>
				Moisturizer
			</td>
		</tr>
		<tr>
			<td>
				Tea-stearate
			</td>
			<td>
				Vegetable Oil
			</td>
			<td>
				Emulsifier
			</td>
		</tr>
		<tr>
			<td>
				Cocos nucifera oil
			</td>
			<td>
				Coconut
			</td>
			<td>
				Cleaning agent, surfactant
			</td>
		</tr>
           <!--
          <tr>
			<td>
				Cetyl alcohol
			</td>
			<td>
				Coconut Oil
			</td>
			<td>
				Moisturizer
			</td>
		</tr>    
           -->       
              
		<tr>
			<td>
				Butyrospermum parkii (shea butter)
			</td>
			<td>
				Shea Tree
			</td>
			<td>
				Conditioning agent
			</td>
		</tr>
		<tr>
			<td>
				Simmondsia chinensis seed oil
			</td>
			<td>
				Jojoba
			</td>
			<td>
				Moisturizer
			</td>
		</tr>
		<tr>
			<td>
				Persea gratissima oil
			</td>
			<td>
				Avocado
			</td>
			<td>
				Moisturizer
			</td>
		</tr>
		<tr>
			<td>
				Tocopheryl (vitamin E) acetate
			</td>
			<td>
				Plant sources
			</td>
			<td>
				Moisturizer, antioxidant
			</td>
		</tr>
		<tr>
			<td>
				Cucumis sativus fruit extract
			</td>
			<td>
				Cucumber
			</td>
			<td>
				Moisturizer, conditioner
			</td>
		</tr>
		<tr>
			<td>
				Sodium stearoyl lactylate
			</td>
			<td>
				Plant Source
			</td>
			<td>
				Emulsifier
			</td>
		</tr>
		<tr>
			<td>
				Camelia sinensis
			</td>
			<td>
				Green tea
			</td>
			<td>
				Natural scent
			</td>
		</tr>
         
              
		<tr>
			<td>
				Cetearyl alcohol
			</td>
			<td>
				Vegetable oil
			</td>
			<td>
				Natural wax
			</td>
		</tr>
		<tr>
			<td>
				Phenoxyethanol
			</td>
			<td>
				Synthetic
			</td>
			<td>
				Preservative to guard freshness
			</td>
		</tr>
		<tr>
			<td>
				Ethylhexylglycerin
			</td>
			<td>
				Synthetic
			</td>
			<td>
				Preservative to guard freshness
			</td>
		</tr>
		<tr>
			<td>
				Glyceryl stearate
			</td>
			<td>
				Plant source
			</td>
			<td>
				Emulsifier
			</td>
		</tr>
              
              
			</table>
			</div>
           <p class="header-{{ product.variants.first.sku }}">Citrus Spice</p>
			<div class="table-responsive" id="24254">
			<table class="product-ingredients-table table">
              <tr>
					<th>INGREDIENT</th>
					<th>SOURCE</th>
					<th>PURPOSE</th>
				</tr>
			<tr>
					<td>Aloe barbadensis leaf juice</td>
					<td>Aloe vera</td>
					<td>Conditioning agent</td>
					</tr>
					<tr>
					<td>Purified water</td>
					<td>Local source</td>
					<td>Consistency</td>
					</tr>
					<tr>
					<td>Glycerin (vegetable)</td>
					<td>Vegetable oil</td>
					<td>Conditioning agent</td>
					</tr>
					<tr>
					<td>Carthamus tinctorius oil</td>
					<td>Safflower</td>
					<td>Moisturizer</td>
					</tr>
					<tr>
					<td>Capric/caprylic triglycerides (vegetable)</td>
					<td>Vegetable Oil</td>
					<td>Moisturizer</td>
					</tr>
					<tr>
					<td>Tea-stearate</td>
					<td>Vegetable Oil</td>
					<td>Emulsifier</td>
					</tr>
					<tr>
					<td>Cocos nucifera oil</td>
					<td>Coconut</td>
					<td>Cleaning agent, surfactant</td>
					</tr>
					<tr>
					<td>Butyrospermum parkii (shea butter)</td>
					<td>Shea Tree</td>
					<td>Conditioning agent</td>
					</tr>
					<tr>
					<td>Simmondsia chinensis seed oil</td>
					<td>Jojoba</td>
					<td>Moisturizer</td>
					</tr>
					<tr>
					<td>Persea gratissima oil</td>
					<td>Avocado</td>
					<td>Moisturizer</td>
					</tr>
					<tr>
					<td>Tocopheryl (vitamin E) acetate</td>
					<td>Plant sources</td>
					<td>Moisturizer, antioxidant</td>
					</tr>
					<tr>
					<td>Cucumis sativus fruit extract</td>
					<td>Cucumber</td>
					<td>Moisturizer, conditioner</td>
					</tr>
					<tr>
					<td>Citrus Spice Essential Oil Blend</td>
					<td>Plant sources</td>
					<td>Natural scent</td>
					</tr>
					<tr>
					<td>Sodium stearoyl lactylate</td>
					<td>Plant source</td>
					<td>Emulsifier</td>
					</tr>
					<tr>
					<td>Cetearyl alcohol</td>
					<td>Vegetable oil</td>
					<td>Natural wax</td>
					</tr>
					<tr>
					<td>Phenoxyethanol</td>
					<td>Synthetic</td>
					<td>Preservative to guard freshness</td>
					</tr>
              		<tr>
					<td>Ethylhexylglycerin</td>
					<td>Synthetic</td>
					<td>Preservative to guard freshness</td>
					</tr>
					<tr>
					<td>Glyceryl stearate</td>
					<td>Plant source</td>
					<td>Emulsifier</td>
					</tr>
			</table>
			</div>
    	</div>
  	</div>
</div>