<div id="product-uses-directions" class="bg-{{ product.variants.first.sku }}">
	<!-- Uses and Directions for Glass Cleaner -->
	<p><strong>Spray it on</strong> glass, plexiglass, auto glass, windows, tinted windows, light fixtures, chrome, acrylic, mirrors, magic mirrors, glass slippers, or other reflective fairy-tale objects.</p>
	<p><strong>Directions.</strong> Aim the sprayer at the offending area and squeeze. Wipe clean with a dry cloth. Ooh – shiny!</p>
</div>
<div id="features-ingredients-tabs">
	<ul class="nav nav-tabs product-tabs-{{ product.variants.first.sku }}" role="tablist">
	    <li role="presentation" class="active"><a href="#features" aria-controls="features" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Features</a></li>
	    <li role="presentation"><a href="#ingredients" aria-controls="ingredients" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Ingredients</a></li>
	</ul>
	<!-- Tab panes -->
  	<div class="tab-content">
  		
    	<div role="tabpanel" class="tab-pane active in fade" id="features">
    		{% capture this_floorplan %}{{ product.variants.first.sku }}-floorplan.gif{% endcapture %}
    		{{ this_floorplan | asset_url | img_tag }}
			<h3 class="header-{{ product.variants.first.sku }}">Plant-derived cleaning agents</h3>
			<p class="statement-emphasized">Better Life's glass cleaner<strong> NEVER</strong> contains:</p>
			<div class="row">
				<div class="col-sm-4">
					<ul>
						<li>Sodium lauryl/laureth sulfates</li>
						<li>Petroleum solvent</li>
						<li>Parabens</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Ethers</li>
						<li>Synthetic fragrances</li>
						<li>Alcohol</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Ethoxylates</li>
						<li>Dyes</li>
						<li>Ammonia</li>
					</ul>
				</div>
			</div>
			<br>
			<ul>
			<li>Non-toxic and biodegradable</li>
			<li>Safe around kids, pets, and the planet</li>
			<li>Never tested on animals</li>
			<li>Kind to waterways and marine life</li>
			<li>Made in the USA with solar energy</li>
			</ul>
			<br>
			<p>Looking for Better Life’s <strong>I Can See Clearly, WOW!</strong> window and glass cleaner? This is it! New look, same great product. <a href="/blogs/better-life/33804164-a-new-look-and-new-stores-too">Learn more.</a></p>
    	</div>
    	<div role="tabpanel" class="tab-pane fade" id="ingredients">
    		<p class="header-{{ product.variants.first.sku }}">Unscented</p>
    		<div class="table-responsive" id="24426">
			<table class="product-ingredients-table table">
				<tr>
					<th>INGREDIENT</th>
					<th>SOURCE</th>
					<th>PURPOSE</th>
				</tr>
				<tr>
					<td>Purified water</td>
					<td>Local source</td>
					<td>Consistency</td>
				</tr>
				<tr>
					<td>Decyl glucoside</td>	
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Lauryl glucoside</td>	
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Methylisothiazolinone (less than 0.01%)</td>		
					<td>Synthetic</td>
					<td>Preservative to guard freshness</td>
				</tr>
			</table>
			</div>
    	</div>
  	</div>
</div>