<!--I Can See Clearly Wow! snippet-->
<div id="productExtendedInfoContainer">
    <hr />
    {% include 'social' with product %}
	<div id="productInfoTabs">
        <ul class="tabs">
            <li><a href="#">Reviews</a></li>
            <li><a href="#">Product Features</a></li>
            <li><a href="#">Ingredients</a></li>
            <li><a href="#">Tips</a></li>
            <li><a href="#">Usage Guide</a></li>
        </ul>
      	<div class="panes">
       		<div>
            	<div class="pr_review_summary">
                    <script type="text/javascript">POWERREVIEWS.display.engine(document, { pr_page_id : "{{product.id}}" });</script>
                </div><br/>
        	</div>
          	<div>
              <p class="productInfoDetail"><strong>Streak-free and film-free...come on</strong>. If you are skeptical try out our fool-proof test. Smear a little butter on your kitchen window, clean with WOW! and you will be amazed. Absolutely no residue or streaks.</p>
              <p class="productInfoDetail"><strong>No alcohol or ammonia</strong>. You won't find harmful ingredients such as solvents and Volatile Organic Compounds (VOCs) in this glass cleaner making it safe to use on treated windows and even glasses &mdash; eye wear or wine wear. I Can See Clearly, WOW! is solvent-free (no ammonia, alcohol, ethers) and pH neutral.</p>
              <p class="productInfoDetail"><strong>Feeling dizzy?</strong>. Our apologies if you like getting that dizzy and nauseous sensation when using other glass cleaners. You will, however, be intoxicated by the sparkling shine after using WOW!</p>
              <p class="freeHighlights">GMO Free, Gluten Free, Cruelty Free, Made in USA, Fragrance Free, Sulfate Free, Petroleum Free</p>
            </div>
          	<div>
             <table id="ingredientTable" cellpadding="0" cellspacing="0" border="1" align="center" bordercolor="#d3cabb">
                <tr>
                    <th><h2>INGREDIENT</h2></th>
                    <th><h2>PURPOSE</h2></th>
                    <th><h2>SOURCE</h2></th>
                </tr>
                <tr>
                    <td><p class="productInfoDetail">Purified water</p></td>
                    <td><p class="productInfoDetail">Consistency</p></td>
                    <td><p class="productInfoDetail">Local Source</p></td>
                </tr>
                <tr>
                	<td><p class="productInfoDetail">Caprylyl/capryl glucoside</p></td>
                    <td><p class="productInfoDetail">Cleaning agent / Surfactant</p></td>
                    <td><p class="productInfoDetail">Corn and coconut oil</p></td>
                </tr>
                <tr>
                	<td><p class="productInfoDetail">Decyl glucoside</p></td>
                    <td><p class="productInfoDetail">Cleaning agent / Surfactant</p></td>
                    <td><p class="productInfoDetail">Corn and coconut oil</p></td>
                </tr>
                <tr>
                	<td><p class="productInfoDetail">Lauryl glucoside</p></td>
                    <td><p class="productInfoDetail">Cleaning agent / Surfactant</p></td>
                    <td><p class="productInfoDetail">Corn and coconut oil</p></td>
                </tr>
                <tr>
                    <td><p class="productInfoDetail">Methylisothiazolinone (less than 0.01%)</p></td>
                    <td><p class="productInfoDetail">Guard freshness</p></td>
                    <td><p class="productInfoDetail">Synthetic</p></td>
                </tr>
              </table><br/>
          	</div>
          	<div>
              <ul id="productTips">
                <li>I Can See Clearly, WOW! glass cleaner is solvent free (no ammonia, alcohol, or ethers) and pH neutral, so it’s safe to use on acrylic and tinted/treated windows and glass.</li>
                <li>For great results and less environmental impact, use Better Life’s natural glass cleaner with a microfiber cloth.</li>
                <li>I Can See Clearly, WOW! works great on glass tables and glass tile.</li>
                <li>For quick cleanups and a streak-free shine, use on glass range tops and ceramic tile.  (For bigger jobs, use Better Life’s Even The Kitchen Sink gentle scrubber.)</li>
                <li>If using on LCD TV screens, apply product to non-abrasive cloth to prevent product dripping into component.</li>
              </ul>
          	</div>
          	<div>
              <p class="productInfoDetail"><strong>Streak-free, safe cleaning for</strong>:  glass, windows, mirrors, plexiglass, auto glass, tinted windows, light fixtures, chrome, plastics, and acrylic.</p>
          	</div>
      	</div>
  	</div>
</div>