<div id="product-uses-directions" class="bg-{{ product.variants.first.sku }}">
	<!-- Uses and Directions for Kitchen & Bath Scrubber -->
	<p><strong>Scrub it on</strong> tubs, tile, grout, toilet bowls, stovetops, glass cooktops, ovens, stainless steel sinks, pots, pans, porcelain, ceramic, enamel, non-polished countertops, stone, cultured stone, and stone with bad manners, too.</p>
	<p><strong>Directions.</strong> Shake well and apply directly to the surface. Rub with a dry scrub pad, sponge, or cloth. Rinse for a stunning shine (and leave the scratches to the DJs).</p>
</div>
<div id="features-ingredients-tabs">
	<ul class="nav nav-tabs product-tabs-{{ product.variants.first.sku }}" role="tablist">
	    <li role="presentation" class="active"><a href="#features" aria-controls="features" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Features</a></li>
	    <li role="presentation"><a href="#ingredients" aria-controls="ingredients" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Ingredients</a></li>
	    <li role="presentation"><a href="#videos" aria-controls="videos" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Videos</a></li>
	</ul>
	<!-- Tab panes -->
  	<div class="tab-content">
  		
    	<div role="tabpanel" class="tab-pane active in fade" id="features">
    	{% capture this_floorplan %}{{ product.variants.first.sku }}-floorplan.gif{% endcapture %}
    		{{ this_floorplan | asset_url | img_tag }}
			<h3 class="header-{{ product.variants.first.sku }}">Scented with essential oils and botanical extracts</h3>
			<p class="statement-emphasized">Better Life's kitchen and bath scrubber <strong>NEVER</strong> contains:</p>
			<div class="row">
				<div class="col-sm-6">
					<ul>
						<li>Sodium lauryl/laureth sulfates</li>
						<li>Ethoxylates</li>
						<li>Petroleum solvent</li>
						<li>Synthetic fragrances</li>
						<li>Bleach</li>
					</ul>
				</div>
				<div class="col-sm-6">
					<ul>
						<li>Dyes</li>
						<li>Parabens</li>
						<li>Ethers</li>
						<li>Alcohol</li>
					</ul>
				</div>
			</div>
			<br>
			<ul>
			<li>Safe around kids, pets, and the planet</li>
			<li>Never tested on animals</li>
			<li>Kind to waterways and marine life</li>
			<li>Made in the USA with solar energy</li>
			</ul>
			<br>
			<p>Looking for Better Life’s <strong>Even the Kitchen Sink</strong> kitchen and bath scrubber? This is it! New look, same great product. <a href="/blogs/better-life/33804164-a-new-look-and-new-stores-too">Learn more.</a></p>
    	</div>
    	<div role="tabpanel" class="tab-pane fade" id="ingredients">
    		<p class="header-{{ product.variants.first.sku }}">Unscented</p>
			<div class="table-responsive" id="24435">
			<table class="product-ingredients-table table">
				<tr>
					<th>INGREDIENT</th>
					<th>SOURCE</th>
					<th>PURPOSE</th>
				</tr>
				<tr>
					<td>Purified water</td>
					<td>Local source</td>
					<td>Consistency</td>
				</tr>
				<tr>
					<td>Calcium carbonate</td>	
					<td>Purified calcium</td>
					<td>Gentle natural abrasive</td>
				</tr>
				<tr>
					<td>Decyl glucoside</td>	
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Potassium cocoate</td>
					<td>Coconut oil and soda ash</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Cetyl alcohol</td>	
					<td>Vegetable oil</td>
					<td>Natural wax</td>
				</tr>
				<tr>
					<td>Cocos nucifera oil</td>		
					<td>Coconut</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Cetearyl alcohol</td>
					<td>Vegetable oil</td>
					<td>Natural wax</td>
				</tr>
				<tr>
					<td>Xanthan gum</td>
					<td>Vegetable matter</td>
					<td>Thickener</td>
				</tr>
				<tr>
					<td>Methylisothiazolinone (less than 0.01%)</td>
					<td>Synthetic</td>
					<td>Preservative to guard freshness</td>
				</tr>
			</table>
			</div>
    	</div>
    	<div role="tabpanel" class="tab-pane fade" id="videos">
    		<h3>Better Life Tackles Permanet Marker</h3>
    		<p>Watch as we remove Sharpie<sup>&reg;</sup> stains from a hardwood floor! </p>
    			<a href="#" data-toggle="modal" data-target=".sharpie-modal">
					<div class="video-thumb" style="background: url(https://img.youtube.com/vi/R8UtKws-csc/maxresdefault.jpg) no-repeat scroll center center / cover;" >
    					{{ 'play-btn.png' | asset_url | img_tag }}
    				</div>
    			</a>
				<div class="modal fade sharpie-modal product-modals" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		            <div class="modal-dialog modal-xl">
		              <div class="modal-content">
		                <iframe src="https://www.youtube.com/embed/R8UtKws-csc?rel=0" frameborder="0" allowfullscreen width="1100" height="600"></iframe>
		              </div>
		            </div>
		        </div>
    		<br/><br/>
    		<h3>Better Life Tackles a Dirty Sink</h3>
    		<p>Kitchen &amp; Bath Scrubber cleans and protects stainless, and repels spots and water marks.</p>
    			<a href="#" data-toggle="modal" data-target=".sink-modal">
					<div class="video-thumb" style="background: url(https://img.youtube.com/vi/UQtPl5g7agI/maxresdefault.jpg) no-repeat scroll center center / cover;" >
    					{{ 'play-btn.png' | asset_url | img_tag }}
    				</div>
    			</a>
				<div class="modal fade sink-modal product-modals" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		            <div class="modal-dialog modal-xl">
		              <div class="modal-content">
		                <iframe src="https://www.youtube.com/embed/UQtPl5g7agI?rel=0" frameborder="0" allowfullscreen width="1100" height="600"></iframe>
		              </div>
		            </div>
		        </div>
    		<br/><br/>
    		<h3>Better Life Tackles Frying Pan Filth</h3>
    		<p>Didn't have time to wash that pan from dinner last night? Use a dryer sheet! Easily wipe away caked on grease and food with this tip from Better Life Natural Cleaning products.</p>
			    <a href="#" data-toggle="modal" data-target=".fryingpan-modal">
					<div class="video-thumb" style="background: url(https://img.youtube.com/vi/3tVYEJ5ZsjQ/maxresdefault.jpg) no-repeat scroll center center / cover;" >
    					{{ 'play-btn.png' | asset_url | img_tag }}
    				</div>
    			</a>
				<div class="modal fade fryingpan-modal product-modals" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		            <div class="modal-dialog modal-xl">
		              <div class="modal-content">
		                <iframe src="https://www.youtube.com/embed/3tVYEJ5ZsjQ?rel=0" frameborder="0" allowfullscreen width="1100" height="600"></iframe>
		              </div>
		            </div>
		        </div>
    	</div>
  	</div>
</div>