<div id="product-uses-directions" class="bg-{{ product.variants.first.sku }}">
	<!-- Uses and Directions for Screen Cleaner -->
	<p><strong>Spray it on</strong> LED and LCD screens, phones, tablets, laptops, monitors, cameras, telescope and projector lenses, binoculars, eyeglasses, and more.</p>
	<p><strong>Directions.</strong> To clean and protect your screen, first turn off and unplug the device. Spray directly onto a microfiber cloth. Working in small sections, wipe in a consistent, circular motion and buff dry.</p>
</div>
<div id="features-ingredients-tabs">
	<ul class="nav nav-tabs product-tabs-{{ product.variants.first.sku }}" role="tablist">
	    <li role="presentation" class="active"><a href="#features" aria-controls="features" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Features</a></li>
	    <li role="presentation"><a href="#ingredients" aria-controls="ingredients" role="tab" data-toggle="tab" class="tab-header-{{ product.variants.first.sku }}">Ingredients</a></li>
	</ul>
	<!-- Tab panes -->
  	<div class="tab-content">
  		
    	<div role="tabpanel" class="tab-pane active in fade" id="features">
    		{% capture this_floorplan %}{{ product.variants.first.sku }}-floorplan.gif{% endcapture %}
    		{{ this_floorplan | asset_url | img_tag }}
			<h3 class="header-{{ product.variants.first.sku }}">Scented with essential oils and botanical extracts</h3>
			<p class="statement-emphasized">Better Life's screen cleaner<strong> NEVER</strong> contains:</p>
			<div class="row">
				<div class="col-sm-4">
					<ul>
						<li>Alcohol</li>
						<li>Petroleum solvent</li>
						<li>Bleach</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Ammonia</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>Synthetic fragrances</li>
					</ul>
				</div>
			</div>
			<br>
			<ul>
			<li>Non-toxic and biodegradable</li>
			<li>Safe around kids, pets, and the planet</li>
			<li>Never tested on animals</li>
			<li>Kind to waterways and marine life</li>
			<li>Made in the USA with solar energy</li>
			</ul>
			<br>
			<p>Looking for Better Life’s <strong>Green Screen</strong> screen cleaner? This is it! New look, same great product. <a href="/blogs/better-life/33804164-a-new-look-and-new-stores-too">Learn more.</a></p>
    	</div>
    	<div role="tabpanel" class="tab-pane fade" id="ingredients">
    		<p class="header-{{ product.variants.first.sku }}">Unscented</p>
			<div class=" table-responsive">
			<table class="product-ingredients-table table">
				<tr>
					<th>INGREDIENT</th>
					<th>SOURCE</th>
					<th>PURPOSE</th>
				</tr>
				<tr>
					<td>Purified water</td>
					<td>Local source</td>
					<td>Consistency</td>
				</tr>
				<tr>
					<td>Biodegradable polymeric surfactant</td>
					<td>Plant derived</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Methylisothiazolinone</td>	
					<td>Synthetic</td>
					<td>Preservative to guard freshness</td>
				</tr>
			</table>
			</div>
    	</div>
  	</div>
</div>