<div id="customer-recover-password-form">
  <p class="note">We will send you an email to reset your password.</p>
  {% form 'recover_customer_password' %}
    {% include '_form-error' %}
    
    <div id="login_email" class="form-group {% if form.errors contains 'email' %}has-error has-feedback{% endif %}">
      <!--<label for="customer_email" class="{% include '__form-horizontal-label' %} control-label">Email</label>-->
      <div class="{% include '__form-horizontal-input' %}">
        <input type="email" value="" name="email" id="recover-email" class="form-control home-email-signup" placeholder="Email" />
        {% if form.errors contains 'email' %}<span class="fa fa-times form-control-feedback"></span>{% endif %}
      </div>
    </div>
  
    <div class="form-group">
      <div class="{% include '__form-horizontal-input' %}">
        <input class="btn btn-primary home-call-to-action-2" type="submit" value="Reset" />
        <span id="recover-password-link" class="note">or <a href="#customer-login-form" class="hide-recover-password-form">Cancel</a></span>
      </div>
    </div>
  {% endform %}
</div>