<div id="customer-register-form">
  {% form 'create_customer' %}
    {% include '_form-error' %}
    
    <div id="first_name" class="form-group">
      <!--<label for="first_name" class="{% include '__form-horizontal-label' %} control-label">First Name</label>-->
      <div>
        <input type="text" value="" name="customer[first_name]" id="first_name" class="form-control home-email-signup" placeholder="First Name" />
      </div>
    </div>
    
    <div id="last_name" class="form-group">
      <!--<label for="last_name" class="{% include '__form-horizontal-label' %} control-label">Last Name</label>-->
      <div>
        <input type="text" value="" name="customer[last_name]" id="last_name" class="form-control home-email-signup" placeholder="Last Name" />
      </div>
    </div>
    
    <div id="email" class="form-group {% if form.errors contains 'email' %}has-error has-feedback{% endif %}">
      <!--<label for="customer_email" class="{% include '__form-horizontal-label' %} control-label">Email</label>-->
      <div>
        <input type="email" value="" name="customer[email]" id="customer_email" class="form-control home-email-signup" placeholder="Email" />
        {% if form.errors contains 'email' %}<span class="fa fa-times form-control-feedback"></span>{% endif %}
      </div>
    </div>
    
    <div id="password" class="form-group {% if form.errors contains 'password' %}has-error has-feedback{% endif %}">
      <!--<label for="customer_password" class="{% include '__form-horizontal-label' %} control-label">Password</label>-->
      <div>
        <input type="password" value="" name="customer[password]" id="customer_password" class="form-control home-email-signup" placeholder="Passsword" />
        {% if form.errors contains 'password' %}<span class="fa fa-times form-control-feedback"></span>{% endif %}
      </div>
    </div>
  
    <div class="form-group">
      <div>
        {% if current_url %}<input type="hidden" name="checkout_url" value="{{ current_url }}" />{% endif %}
        <input class="btn btn-primary home-call-to-action-2" type="submit" value="Register" />
        <!--<span class="note">or <a href="{{ shop.url }}">Return to Store</a></span>-->
      </div>
    </div>
  {% endform %}
</div>