<!--<div class="addthis_toolbox addthis_default_style addthis_32x32_style" {% if article.url %} addthis:url={{shop.url}}{{article.url}} addthis:title={{article.title}} {% endif %} >
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>-->
<p class="share-btns">Share this article:</p>
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_inline_share_toolbox"></div>
            
<script class="trustecm_done" trackertype="required" type="text/javascript">
var addthis_product = 'sfy-2.0.2';
var addthis_plugin_info = {"info_status":"enabled","cms_name":"Shopify","cms_version":null,"plugin_name":"AddThis Sharing Tool","plugin_version":"2.0.2","plugin_mode":"AddThis"};
var addthis_config     = {/*AddThisShopify_config_begins*/pubid:'ra-5b1803f18db8acc4', button_style:'style3', services_compact:'facebook,twitter,pinterest_share,email', ui_delay:0, ui_click:false, ui_language:'', data_track_clickback:true, data_ga_tracker:'', custom_services:'', custom_services_size:true/*AddThisShopify_config_ends*/};
</script>
<script class="trustecm_done" trackertype="advertising" src="//s7.addthis.com/js/300/addthis_widget.js#pubid_ra-5b1803f18db8acc4" type="text/javascript"></script>