{% for option in product-loop.options %}

  {% assign option_handle = option | handle %}
  {% assign option_index = forloop.index0 %}

  {% assign is_color = false %}
  {% capture downcased_option %}{{ option | downcase }}{% endcapture %}
  {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
    {% assign is_color = true %}
  {% endif %}

  {% unless option_handle == 'name' or option_handle == 'title' %}
  <div class="swatch clearfix">
    {% comment %}
    <h5>{{ option }}</h5>
    {% endcomment %}
    
    <ul data-option-index="{{ option_index }}" class="{{ option_handle }} options">
    {% assign values = '' %}
    {% for variant in product-loop.variants %}
      {% assign option-loop_index = forloop.index0 %}
      {% assign value = variant.options[option_index] %}
      {% assign value_handle = value | handle %}
      {% capture wrapped_value %},{{ value }},{% endcapture %}
      {% unless values contains wrapped_value %}
      {% if collection.handle == 'unscented' %}
        {% if value_handle == 'unscented' or value_handle == 'scent-free' %}
          <li data-option-title="{{ value | escape }}" data-option-value="{{ variant.id }}" data-product-id="{{ product-loop.id }}" class="{% if is_color %}color {% endif %}{{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %} option-active">
          <!--<img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" />-->
          <input type="hidden" value="{{ variant.image | product_img_url: 'grande' }}" />
          {% if is_color %}
            <div class="tooltip">{{ value }}</div>
          {% endif %}
          {% if is_color %}
            <span style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: '.png' | asset_url }})"></span>
          {% else %}
            <span>{{ value }}</span>
          {% endif %}
          </li>
          {% capture values %}{{ values }}{{ wrapped_value }}{% endcapture %}
        {% endif %}
      {% elsif collection.handle == 'pomegranate-scented' %}
        {% if value_handle == 'pomegranate' %}
          <li data-option-title="{{ value | escape }}" data-option-value="{{ variant.id }}" data-product-id="{{ product-loop.id }}" class="{% if is_color %}color {% endif %}{{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %} option-active">
          <!--<img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" />-->
          <input type="hidden" value="{{ variant.image | product_img_url: 'grande' }}" />
          {% if is_color %}
            <div class="tooltip">{{ value }}</div>
          {% endif %}
          {% if is_color %}
            <span style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: '.png' | asset_url }})"></span>
          {% else %}
            <span>{{ value }}</span>
          {% endif %}
          </li>
          {% capture values %}{{ values }}{{ wrapped_value }}{% endcapture %}
        {% endif %}
      {% else %}
      <li data-option-title="{{ value | escape }}" data-option-value="{{ variant.id }}" data-product-id="{{ product-loop.id }}" class="{% if is_color %}color {% endif %}{{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %}{% if option-loop_index == 0 %} option-active{% endif %}">
        <!--<img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" />-->
        <input type="hidden" value="{{ variant.image | product_img_url: 'grande' }}" />
        {% if is_color %}
        <div class="tooltip">{{ value }}</div>
        {% endif %}
        {% if is_color %}
        <span style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: '.png' | asset_url }})"></span>
        {% else %}
        <span>{{ value }}</span>
        {% endif %}
      </li>
      {% endif %}
      {% endunless %}
    {% endfor %}
    </ul>
  </div><!-- .swatch -->
  {% endunless %}

{% endfor %}