{% include 'theme-variables' %}
<section id="blog-wrap" class="section-wrap">
	<div class="container full-width-container" id="blog-header">
		<div id="blog-border"></div>
			<div class="container" id="blog-header-container">
					<div class="col-md-12">
						{% for article in blog.articles %}
							{% if forloop.first == true %}
							<div class="col-md-6 col-sm-6 col-xs-12" id="featured-blog-article">
								{% if article.image %}
									<img src="{{ article.image.src | img_url: '750x' }}" alt="{{ article.title | escape }}" />
								{% elsif article.content contains 'img' %}
	    							{% assign src = article.content | split: 'src="' %}
	    							{% assign src = src[1] | split: '"' | first %}
	    							<img src="{{ src }}" alt="{{ article.title | escape }}" />
	    						{% else %}
	    							<img src="{{ 'blog-default.jpg' | asset_url }}" alt="Default Blog Image" />
								{% endif %}
						    </div>
							<div class="col-md-6 col-sm-6 col-xs-12" id="blog-article-excerpt">
								{% for tag in article.tags %}
									{% if tag.handle == 'green' or tag.handle == 'misc' or tag.handle == 'product-news' or tag.handle == 'tips-tricks' %}
						    			<p class="date-stamp stamp-{{ tag }}">{{ article.published_at | date: "%B %d, %Y" }}</p>
						    		{% endif %}
						    	{% endfor %}
						    	<h3 class="blog-article-title"><a href="{{ article.url }}">{{ article.title }}</a></h3>
						    	{% for tag in article.tags %}
									{% if tag.handle == 'green' or tag.handle == 'misc' or tag.handle == 'product-news' or tag.handle == 'tips-tricks' %}
						    			<a class="excerpt-tag-link" href="/blogs/better-life/tagged/{{ tag | handle }}">{{ tag }}</a>
						    		{% endif %}
						    	{% endfor %}
						        <p>{{ article.excerpt | strip_html }}</p>
						    </div>
							{% endif %}
						{% endfor %}
					</div>
			</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<div class="row" id="article-capsules-container">
			{% if current_tags.size > 0 %}
				{% paginate blog.articles by 5 %}
				{% for article in blog.articles %}
					<div class="col-md-3 col-sm-6 col-xs-12 article-capsule">
						{% if article.image %}
							<img src="{{ article.image.src | img_url: '600x' }}" alt="{{ article.title | escape }}" />
						{% else %}
							{% if article.content contains 'img' %}
		    					{% assign src = article.content | split: 'src="' %}
		    					{% assign src = src[1] | split: '"' | first %}
		    					<img src="{{ src }}" alt="{{ article.title | escape }}">
		    				{% else %}
		    					<img src="{{ 'blog-default.jpg' | asset_url }}" alt="Default Blog Image" />
							{% endif %}
						{% endif %}
						{% for tag in article.tags %}
							{% if tag.handle == 'green' or tag.handle == 'misc' or tag.handle == 'product-news' or tag.handle == 'tips-tricks' %}
								<p class="date-stamp stamp-{{ tag }}">{{ article.published_at | date: "%B %d, %Y" }}</p>
							{% endif %}
						{% endfor %}
						<h3 class="blog-article-sub-title"><a href="{{ article.url }}">{{ article.title }}</a></h3>
						{% for tag in article.tags %}
							{% if tag.handle == 'green' or tag.handle == 'misc' or tag.handle == 'product-news' or tag.handle == 'tips-tricks' %}
								<a class="excerpt-tag-link" href="/blogs/better-life/tagged/{{ tag | handle }}">{{ tag }}</a>
							{% endif %}
						{% endfor %}
					</div>
				{% endfor %}
				<div id="mailing-list" class="col-md-4 col-sm-6 col-xs-12">
		          <div id="mailing-list-container">
		              <h4>Join Our Mailing List</h4>
		              <p>For discounts, new product news, and tips.</p>
		              <div id="mc_embed_signup">
			                <form action="//cleanhappens.us2.list-manage.com/subscribe/post?u=49c891c4b7723d9be668988ac&amp;id=ad62d6a7e1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			                    <div id="mc_embed_signup_scroll">
			                <!--<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>-->
			                <div class="mc-field-group">
			                  <!--<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
			                </label>-->
			                  <input placeholder="E-mail Address" type="email" value="" name="EMAIL" class="required email home-email-signup" id="mce-EMAIL">
			                </div>
			                  <div id="mce-responses" class="clear">
			                    <div class="response" id="mce-error-response" style="display:none"></div>
			                    <div class="response" id="mce-success-response" style="display:none"></div>
			                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_49c891c4b7723d9be668988ac_ad62d6a7e1" tabindex="-1" value=""></div>
			                    <div class="clear"><input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default home-call-to-action-2"></div>
			                    </div>
			                </form>
			              </div>
		          </div>
		        </div>
		        <div class="col-md-12">
		        {% include 'blog-pagination' %}
		        </div>
		        {% endpaginate %}
			{% else %}
				{% paginate blog.articles by 6 %}
				{% for article in blog.articles %}
				<div class="col-md-3 col-sm-6 col-xs-12 article-capsule">
						{% if article.image %}
							<img src="{{ article.image.src | img_url: '600x' }}" alt="{{ article.title | escape }}" />
						{% else %}
							{% if article.content contains 'img' %}
		    					{% assign src = article.content | split: 'src="' %}
		    					{% assign src = src[1] | split: '"' | first %}
		    					<img src="{{ src }}" alt="{{ article.title | escape }}">
		    				{% else %}
		    					<img src="{{ 'blog-default.jpg' | asset_url }}" alt="Default Blog Image" />
							{% endif %}
						{% endif %}
						{% for tag in article.tags %}
							{% if tag.handle == 'green' or tag.handle == 'misc' or tag.handle == 'product-news' or tag.handle == 'tips-tricks' %}
								<p class="date-stamp stamp-{{ tag }}">{{ article.published_at | date: "%B %d, %Y" }}</p>
							{% endif %}
						{% endfor %}
						<h3 class="blog-article-title"><a href="{{ article.url }}">{{ article.title }}</a></h3>
						{% for tag in article.tags %}
							{% if tag.handle == 'green' or tag.handle == 'misc' or tag.handle == 'product-news' or tag.handle == 'tips-tricks' %}
								<a class="excerpt-tag-link" href="/blogs/better-life/tagged/{{ tag | handle }}">{{ tag }}</a>
							{% endif %}
						{% endfor %}
				</div>
				{% endfor %}
				<div id="mailing-list" class="col-md-6 col-sm-6 col-xs-12">
		          <div id="mailing-list-container">
		              <h4>Join Our Mailing List</h4>
		              <p>For discounts, new product news, and tips.</p>
		              <div id="mc_embed_signup">
			                <form action="//cleanhappens.us2.list-manage.com/subscribe/post?u=49c891c4b7723d9be668988ac&amp;id=ad62d6a7e1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			                    <div id="mc_embed_signup_scroll">
			                <!--<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>-->
			                <div class="mc-field-group">
			                  <!--<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
			                </label>-->
			                  <input placeholder="E-mail Address" type="email" value="" name="EMAIL" class="required email home-email-signup" id="mce-EMAIL">
			                </div>
			                  <div id="mce-responses" class="clear">
			                    <div class="response" id="mce-error-response" style="display:none"></div>
			                    <div class="response" id="mce-success-response" style="display:none"></div>
			                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_49c891c4b7723d9be668988ac_ad62d6a7e1" tabindex="-1" value=""></div>
			                    <div class="clear"><input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default home-call-to-action-2"></div>
			                    </div>
			                </form>
			              </div>
		          </div>
		        </div>
		        <div class="col-md-12">
		        {% include 'blog-pagination' %}
		        </div>
		        {% endpaginate %}
		    {% endif %}
			</div>

			{% comment %}
			{% include '__default-pagination' %}
			{% paginate blog.articles by default-pagination %}
			{% for a in blog.articles %}
		    {% include 'blog-loop' with a %}
		  	{% unless forloop.last %}<hr>{% endunless %}
			{% endfor %}
			{% include 'pagination' %}
			{% endpaginate %}
			{% endif %}
			{% endcomment %}

			<!--<p class="text-right rss-subscribe">
				<i class="fa fa-rss-square text-muted"></i> <a class="text-muted" href="{{ blog.url | append: '.atom' }}">{% include '__localize' with 'Subscribe to RSS feed for ' %} {{ blog.title }}</a>
			</p>-->
			</div>
		</div>
	</div>	
</section>