<section id="blog-pagination" class="section-wrap">
  <div class="row">
    <div id="blog-tag-nav">
      <ul>
        {% for tag in blogs.better-life.tags %}
          {% if tag.handle == 'green' or tag.handle == 'misc' or tag.handle == 'product-news' or tag.handle == 'tips-tricks' %}
          {% unless forloop.last == true %}
          <li><a class="tag-filter-link" href="/blogs/better-life/tagged/{{ tag | handle }}">{{ tag }}</a> <span class="tag-divider">/</span></li>
          {% else %}
          <li><a class="tag-filter-link" href="/blogs/better-life/tagged/{{ tag | handle }}">{{ tag }}</a></li>
          {% endunless %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    {% if paginate.pages > 1 %}
      <div class="blog-pagination-container">
        <ul class="blog-pagination">
          {% if paginate.previous %}
          <li class="active"><a href="{{ paginate.previous.url }}">< NEWER</a></li>
          {% else %}
          <li>< NEWER</li>
          {% endif %}
          {% comment %}
          {% for p in paginate.parts %}
          {% if p.is_link or p.title == paginate.current_page %}
          <!--<li{% if p.title == paginate.current_page %} class="active"{% endif %}>{{ p.title | link_to: p.url }}</li>
          {% else %}
          <li class="disabled">{{ p.title | link_to: p.url }}</li> -->       
          {% endif %}        
          {% endfor %} 
          {% endcomment %}  
          <li class="blog-paginate-separator">|</li>   
          {% if paginate.next %}
          <li class="active"><a href="{{ paginate.next.url }}">OLDER ></a></li>
          {% else %}
          <li>OLDER ></li>
          {% endif %}
        </ul>
      </div>
    {% endif %}
  </div>
</section>