{% include 'theme-variables' %}

{% if settings.collection-header-placement == 'above-products' %}
{% include 'collection-header' with collection %}
{% else %}
<div class="container">
  <h1 class="page-header">{{ page_title }}</h1>
</div>
{% endif %}

{% comment %}
{{ collection_slider }}
{% endcomment %}

{% include 'collection-nested' %}

{% unless hide_products %}
{% if collection.all_products_count == 0 %}
<section class="section-wrap">
	{% include '__containers-open' %}
	<p>Sorry, no {% include '__localize' with 'products' %} were found in the {{ collection.title }} collection.</p>
	{% include '__containers-close' %}
</section>
{% elsif collection.products_count == 0 %}
<section class="section-wrap">
	{% include '__containers-open' %}
	<h2>Whoops! You might need to broaden your search.</h2>
	<p>There {{ collection.all_products_count | pluralize: 'is', 'are' }}<strong> {{ collection.all_products_count | count }} {{ collection.all_products_count | pluralize: 'style', 'styles' }} of {% include '__localize' with 'Products' %}</strong> in the {{ collection.title }} collection&mdash;try removing some filters.</p>
	<ul>
		{% for tag in current_tags %}
		<li>{{ tag }} ({{ 'remove' | link_to_remove_tag: tag }})</li>
		{% endfor %}
	</ul>
	<p><br>Or, view <strong><a href="{{ collection.url }}">all {{ collection.all_products_count }} {% include '__localize' with 'Products' %} in the {{ collection.title }} {% include '__localize' with 'Collection' %}</a></strong>.</p>
	{% include '__containers-close' %}
</section>
{% else %}
{% if settings.tag-placement == 'main-content' or settings.show-product-sorter %}
<section id="collection-sort" class="section-wrap">
	{% include '__containers-open' %}
	<div class="clearfix">
		{% if settings.tag-placement == 'main-content' %}
		<div class="pull-left">
			{% include 'tag-buttons' %}
		</div>
		{% endif %}

		{% if settings.show-product-sorter %}
		{% assign sort_orders = 'Featured,Price Ascending,Price Descending,Title Ascending,Title Descending,Created Ascending,Created Descending,Best Selling' | split: ',' %}
		<ul class="nav nav-pills {% if settings.tag-placement == 'sidebar' %}nav-stacked{% else %}pull-right{% endif %}">
			<li class="dropdown">
				<a role="button" data-toggle="dropdown" href="#" id="sort_menu">{% include '__localize' with 'Refine' %} <span class="caret"></span></a>
				<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="sort_menu">
					<li><a href="{{ collections.natural-cleaners.url }}">{{ collections.natural-cleaners.title }}</a></li>
					<li><a href="{{ collections.soaps-and-lotions.url }}">{{ collections.soaps-and-lotions.title }}</a></li>
					<li><a href="{{ collections.laundry.url }}">{{ collections.laundry.title }}</a></li>
					<li><a href="{{ collections.dish.url }}">{{ collections.dish.title }}</a></li>
					<li><a href="{{ collections.unscented.url }}">{{ collections.unscented.title }}</a></li>
					<li><a href="{{ collections.pomegranate-scented.url }}">{{ collections.pomegranate-scented.title }}</a></li>
					<li><a href="{{ collections.kits.url }}">{{ collections.kits.title }}</a></li>
					<li><a href="{{ collections.bulk-products.url }}">{{ collections.bulk-products.title }}</a></li>
					<li><a href="{{ collections.accessories.url }}">{{ collections.accessories.title }}</a></li>
					<!--{% comment %}{% for so in sort_orders %}{% if forloop.index == 1 and collection.sort_by == blank %}{% assign default_sort = true %}{% else %}{% assign default_sort = false %}{% endif %}
					{% if so contains 'Price' or so contains 'Selling' %}{% assign price_sort = true %}{% else %}{% assign price_sort = false %}{% endif %}
					{% unless collection_has_prices == false and price_sort %}
					{% assign so_param = so | replace: ' ','-' | downcase %}
					<li{% if collection.sort_by == so_param or default_sort %} class="active"{% endif %}><a href="?sort_by={{ so_param }}">{% include '__localize' with so %}</a></li>
					{% endunless %}
					{% endfor %}{% endcomment %}-->
				</ul>
			</li>
		</ul>
		{% endif %}
	</div>
	{% include '__containers-close' %}
</section>
<hr>
{% endif %}

<section id="product-list" class="section-wrap">
{% assign is-product-list = true %}
{% include '__containers-open' %}
{% include '__default-pagination' %}
{% paginate collection.products by default-pagination %}
{% include 'products-list' %}
{% include 'pagination' %}
{% endpaginate %}
{% include '__containers-close' %}
</section>
{% endif %}
{% endunless %}
<!--<section id="find-store-callout" class="section-wrap">
{% include '__containers-open' %}
	{{ 'overview-store-callout-image.jpg' | asset_url | img_tag:'Find a Store' }}
	<div id="shark-tank-box">
		<h4>Find a Store</h4>
		<p><a href="/pages/find-a-store">Find Better Life products near you.</a></p>
	</div>
{% include '__containers-close' %}
</section>-->

{% if settings.collection-header-placement == 'below-products' %}
{% include 'collection-header' with collection %}
{% endif %}

{% if collection.handle == 'unscented' or collection.handle == 'pomegranate-scented' %}
<script>
$(document).ready(function(){
	$('.swatch li').each(function(){
		var this_element_init = $(this);
		var parent_element_init = this_element_init.parent();
		var img_wrapper_init = this_element_init.parents('.product-thumbnail');
		var variantImgPath_init = this_element_init.find('input[type=hidden]').val();
		var img_element_init = $(img_wrapper_init).find('img')[0];
		$(img_element_init).attr('src', variantImgPath_init);
		var option_value_init = this_element_init.data('option-value');
    	var productid_value_init = this_element_init.data('product-id');
		$(this).addClass('option-active');
        $('input[data-product-id='+productid_value_init+']').val(option_value_init);
	})
	
    $('.swatch li').click(function(){
    	var this_element = $(this);
    	var parent_element = this_element.parent();
   		var img_wrapper = this_element.parents('.product-thumbnail');
    	var variantImgPath = this_element.find('input[type=hidden]').val();
        var img_element = $(img_wrapper).find('img')[0];
        $(img_element).attr('src', variantImgPath);
    	var scent_list_items = parent_element.find(' li');
    	scent_list_items.each(function() {
    		$(this).removeClass('option-active');
		});
    	var option_value = this_element.data('option-value');
    	var productid_value = this_element.data('product-id');
        $(this).addClass('option-active'); 
        $('input[data-product-id='+productid_value+']').val(option_value); 
    });
});
</script>
{% else %}
<script>
$(document).ready(function(){
    $('.swatch li').click(function(){
    	var this_element = $(this);
    	var parent_element = this_element.parent();
   		var img_wrapper = this_element.parents('.product-thumbnail');
    	var variantImgPath = this_element.find('input[type=hidden]').val();
        var img_element = $(img_wrapper).find('img')[0];
        $(img_element).attr('src', variantImgPath);
    	var scent_list_items = parent_element.find(' li');
    	scent_list_items.each(function() {
    		$(this).removeClass('option-active');
		});
    	var option_value = this_element.data('option-value');
    	var productid_value = this_element.data('product-id');
        $(this).addClass('option-active'); 
        $('input[data-product-id='+productid_value+']').val(option_value);  
    });
});
</script>
{% endif %}