<div class="container qa-box">
	<!-- overlay content -->
	<div class="qa-overlay-content" id="on-green-overlay-content">
		<span class="qa-close-btn">&times;</span>
		<h4>On Green?</h4>
		<h5>All of Better Life’s cleaning agents come from plants.</h5>
		<p>Our products are cruelty-free, natural, non-toxic, biodegradable, safe for waterways and marine life, and packaged in recyclable containers, and our primary manufacturing facility is largely powered by solar energy.</p>
	</div>
	<div class="qa-overlay-content" id="on-safety-overlay-content">
		<span class="qa-close-btn">&times;</span>
		<h4>On Safety?</h4>
		<h5>We’re not just safe for the planet. We’re safe for people, pets, and surfaces, too.</h5>
		<p>This isn’t true for all “environmentally friendly” products. Products and ingredients that biodegrade aren’t always safe for humans and their animal companions. Take poison ivy for example, which is natural and biodegradable. You wouldn’t bring it into your home or put it into contact with your skin. Many of these cleaners also incorporate aggressive solvents (like alcohol) that are technically “plant-based,” but which can damage high-end surfaces. We don’t like those ingredients, and we don’t include them!</p>
	</div>
	<div class="qa-overlay-content" id="on-scents-overlay-content">
		<span class="qa-close-btn">&times;</span>
		<h4>On Scents?</h4>
		<h5>We only use essential oils in our scented products. They’re naturally derived, they smell wonderful, and they’re a healthy, responsible replacement for synthetic fragrances.</h5>
		<p>Many household cleaning products that claim to use essential oils are really using blends made with synthetic perfumes and a minimal amount of natural botanical extracts. Our scents are always 100% plant-derived.</p>
	</div>
	<div class="qa-overlay-content" id="on-labeling-overlay-content">
		<span class="qa-close-btn">&times;</span>
		<h4>On Labeling?</h4>
		<h5>Better Life provides full ingredient lists on our products, and we always will.</h5>
		<p>Household cleaning product manufacturers are not required to list ingredients on their packaging. It’s true! This makes it hard for people to understand and decide which products are safest for their homes. Our lists are always complete, and always easy to find. We only make exceptions for our sample-sized bottles, where label space is limited. Have no fear – you can always find ingredient lists on our website.</p>
	</div>
	<div class="qa-overlay-content" id="vs-cleaners-overlay-content">
		<span class="qa-close-btn">&times;</span>
		<h4>VS. Homemade Cleaners?</h4>
		<h5>Our products have been tested and approved for performance, safety, surface compatibility, and stability.</h5>
		<p>We understand why many people feel that homemade cleaners are the best choice for their families. Unfortunately, it’s difficult to perform the necessary performance and safety testing on these products. Ineffective formulas will cause you to work harder with fewer results. Many of these homemade formulas are also unstable, causing them to quickly spoil or grow bacteria, yeasts and mold.</p>
	</div>
	<div class="qa-overlay-content" id="vs-disinfectants-overlay-content">
		<span class="qa-close-btn">&times;</span>
		<h4>VS. Disinfectants?</h4>
		<h5>We’ve made a conscious decision to keep harsh chemicals out of our products. We invest in our products’ cleaning agents.</h5>
		<p>Unless you follow the directions perfectly by letting pesticides sit on your surfaces for the directed amount of time – sometimes ten minutes! – you’re dumping money (and nasty chemicals) down the drain. There’s a better way!</p>
	</div>
	<div class="qa-overlay-content" id="on-value-overlay-content">
		<span class="qa-close-btn">&times;</span>
		<h4>On value?</h4>
		<h5>Better Life products are more effective than traditional cleaners, and are made without Volatile Organic Compounds (VOCs). That means you get more out of the product that’s in the bottle – and lose less of it while you’re dispensing it.</h5>
		<p>We’ll explain. VOCs, such as alcohol, are prevalent in household cleaning products. They actually vaporize when they’re dispensed from the product. This isn’t just a health concern – it means that your product is literally disappearing into thin air as you use it. Not with Better Life!</p>
	</div>
	<!-- end overlay content -->
	<div class="row">
		<div class="col-sm-4 col-xs-12 qa-box-container">
			<div class="qa-single-box" id="on-green">
				<div class="qa-text-container">
					<h4>On Green?</h4>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-xs-12 qa-box-container">
			<div class="qa-single-box" id="on-safety">
				<div class="qa-text-container">
					<h4>On Safety?</h4>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-xs-12 qa-box-container">
			<div class="qa-single-box" id="on-scents">
				<div class="qa-text-container">
					<h4>On Scents?</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-xs-12 qa-box-container">
			<div class="qa-single-box" id="on-label">
				<div class="qa-text-container">
					<h4>On Labeling?</h4>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-xs-12 qa-box-container">
			<div class="qa-single-box" id="vs-homemade">
				<div class="qa-text-container">
					<h4>VS. Homemade Cleaners?</h4>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-xs-12 qa-box-container">
			<div class="qa-single-box" id="vs-disinfectants">
				<div class="qa-text-container">
					<h4>VS. Disinfectants?</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-xs-12 qa-box-container">
			<div class="qa-single-box" id="on-value">
				<div class="qa-text-container">
					<h4>On Value?</h4>
				</div>
			</div>
		</div>
		<div class="col-sm-8 col-xs-12 qa-box-container">
			<div class="qa-single-box" id="compare-grid-bg"></div>
		</div>
	</div>
</div>