<div id="featured-product" class="row">
	<h6>Featured Product</h6>
	<h4>Pet paws, muddy shoes, sticky spills?</h4>
	<h5>Power through with our naturally dirt-destroying floor cleaner.</h5>
	<div class="input-group">
		<a href="/products/simply-floored-natural-floor-cleaner" class="btn btn-default home-call-to-action">SHOP NOW</a>
	</div>
	{{ 'floor-cleaner-bottle.png' | asset_url | img_tag:'Stain and Odor Eliminator' }}
</div>