<footer id="footer-content" class="footer">
  <div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-6 col-xs-12 footer-links-1">
    {% include 'main-nav' %}
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 footer-links-2">
      {% include 'footer-links' %}
      <h5>#cleanhappens</h5>
      <div id="footer-share-icons">
      {% include 'social-links' %}
      </div>
    </div>
    <div class="col-md-6 col-sm-12 footer-right">
        <div class="change-region dropdown">
          <span>Change Region</span>
          <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            CA <img class="d-inline-block" src="//cdn.shopify.com/s/files/1/0033/0625/8530/t/1/assets/flag-ca.png?7622931957139391213">
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="https://www.cleanhappens.com/" rel="nofollow">US <img class="d-inline-block" src="//cdn.shopify.com/s/files/1/0033/0625/8530/t/1/assets/us-flag.png?7622931957139391213"></a>
          </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-sm-12">
                          <h4>Recieve email-exclusive discounts, cleaning tips, replenishment alerts and more!</h4>
                          <div id="mc_embed_signup">
                            <form action="https://betterlifecleaning.us20.list-manage.com/subscribe/post?u=0577a3042f18491590342096a&amp;id=f568692d52&SIGNUP=Footer" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                            <!--<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>-->
                            <div class="mc-field-group">
                              <!--<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                            </label>-->
                              <input placeholder="Enter Your Email" type="email" value="" name="EMAIL" class="required email home-email-signup" id="mce-EMAIL"> <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe-footer" class="btn btn-default home-call-to-action">
                            </div>
                              <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_49c891c4b7723d9be668988ac_ad62d6a7e1" tabindex="-1" value=""></div>
                                <div class="clear"></div>
                                </div>
                            </form>
                            </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <svg version="1.1" id="footer-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 72 56.1" enable-background="new 0 0 72 56.1" xml:space="preserve">
                <g>
                  <rect width="72" height="56.1"/>
                  <g>
                    <g>
                      <path fill="#fff" d="M7.1,21.3V9h3.5c4,0,5,1.4,5,3.4c0,1.2-0.6,2-1.6,2.5c1.1,0.5,1.8,1.6,1.8,2.8c0,2.1-1.7,3.5-4,3.5H7.1z
                         M9.6,14c1.8,0,3.5,0.2,3.5-1.5c0-1.8-1.8-1.6-3.5-1.6V14z M11.2,19.4c0.7,0,2.2,0.1,2.2-1.8c0-1.7-1.4-1.9-3.8-1.7v3.5H11.2z"/>
                      <path fill="#fff" d="M25,11.1h-5.2V14h4.3v2.1h-4.3v3.1h5.5v2.1h-8V9H25V11.1z"/>
                      <path fill="#fff" d="M35,11.1h-3.2v10.2h-2.5V11.1h-3.2V9H35V11.1z"/>
                      <path fill="#fff" d="M44.7,11.1h-3.2v10.2h-2.5V11.1h-3.2V9h8.9V11.1z"/>
                      <path fill="#fff" d="M53.4,11.1h-5.2V14h4.3v2.1h-4.3v3.1h5.5v2.1h-8V9h7.7V11.1z"/>
                      <path fill="#fff" d="M60,9c2.8,0,3.9,2,3.9,3.6c0,1.3-0.8,2.6-2.1,3.1l2.5,5.6h-2.6l-2.2-5.1h-1.9v5.1h-2.5V9H60z M58.7,14.1
                        c1.1,0,2.7,0.1,2.7-1.5c0-1.7-1.7-1.6-2.9-1.6h-0.9v3H58.7z"/>
                      <path fill="#fff" d="M12.6,43.6h9.8v4H7.9V24.2h4.7V43.6z"/>
                      <path fill="#fff" d="M25,47.6V24.2h4.7v23.4H25z"/>
                      <path fill="#fff" d="M48.4,28.1h-9.9v5.6h7.6v4h-7.6v9.9h-4.7V24.2h14.6V28.1z"/>
                      <path fill="#fff" d="M65.6,28.1h-9.9v5.6h8.2v4h-8.2v5.9h10.5v4H51V24.2h14.6V28.1z"/>
                    </g>
                    <g>
                      <path fill="#fff" d="M69.8,25.9c0,0.4-0.2,0.8-0.5,1.1c-0.3,0.3-0.7,0.5-1.1,0.5s-0.8-0.2-1.1-0.5c-0.3-0.3-0.5-0.7-0.5-1.1
                        c0-0.4,0.2-0.8,0.5-1.1c0.3-0.3,0.7-0.5,1.1-0.5s0.8,0.2,1.1,0.5C69.7,25.1,69.8,25.5,69.8,25.9z M69.6,25.9
                        c0-0.4-0.1-0.7-0.4-0.9c-0.3-0.3-0.6-0.4-0.9-0.4c-0.4,0-0.7,0.1-0.9,0.4c-0.3,0.3-0.4,0.6-0.4,0.9c0,0.4,0.1,0.7,0.4,0.9
                        c0.3,0.3,0.6,0.4,0.9,0.4c0.4,0,0.7-0.1,0.9-0.4C69.5,26.6,69.6,26.3,69.6,25.9z M69,26.8h-0.3l-0.3-0.8h-0.5v0.8h-0.3V25h0.8
                        c0.2,0,0.4,0.1,0.5,0.2c0.1,0.1,0.2,0.2,0.2,0.4c0,0.1,0,0.2-0.1,0.3S68.8,26,68.7,26L69,26.8z M67.9,25.9h0.5
                        c0.1,0,0.2,0,0.3-0.1c0.1-0.1,0.1-0.1,0.1-0.2c0-0.1,0-0.2-0.1-0.2c-0.1,0-0.1-0.1-0.2-0.1h-0.5V25.9z"/>
                    </g>
                  </g>
                </g>
                </svg>
            </div>
        </div>  
        <div class="row">
          <div class="col-md-12">
            <p>&copy;{{ 'now' | date: '%Y' }}&nbsp; BETTER LIFE, 2100 Derry Road West, Mississauga, Ontario L5N 0B3</p>
            <a href="tel:8772564767">877-256-4767</a>
          </div>
        </div>
    </div>
  </div>
  </div>
</footer>