{% unless free_shipping_threshold == blank %}
  <div id="free-shipping-wrapper"></div>
  
  {{ 'jquery.free-shipping.min.js' | asset_url | script_tag }}
  <script id="free-shipping-template" type="text/template">
    <div class="alert alert-<% if (has_free_shipping) { %>success<% } else { %>warning<% } %>">
      <% if (has_free_shipping) { %>
        <p>{% include '__localize' with 'This order qualifies for <strong>FREE</strong> shipping' %}</p>
      <% } else { %>
        <p>{% include '__localize' with 'You&rsquo;re only' %} <%= difference %> {% include '__localize' with 'away from <strong>FREE</strong> shipping!' %}</strong></p>
        <p><a href="{{ collections.[settings.collection-to-link-to-if-cart-empty].url }}">{% include '__localize' with 'Continue Shopping' %}</a></p>
      <% } %>
    </div>
  </script>
  <script>
    $(document).freeShipping({
      cart_total: {{ cart.total_price }},
      free_shipping: {{ free_shipping_threshold }}
    });
  </script>
{% endunless %}