<section id="header">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-12">
				<div id="logo-container">
					<a href="/">
			        <svg version="1.1" id="header-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72 56.1" enable-background="new 0 0 72 56.1" xml:space="preserve">
			        <g>
			          <rect width="72" height="56.1"/>
			          <g>
			            <g>
			              <path fill="#fff" d="M7.1,21.3V9h3.5c4,0,5,1.4,5,3.4c0,1.2-0.6,2-1.6,2.5c1.1,0.5,1.8,1.6,1.8,2.8c0,2.1-1.7,3.5-4,3.5H7.1z
			                 M9.6,14c1.8,0,3.5,0.2,3.5-1.5c0-1.8-1.8-1.6-3.5-1.6V14z M11.2,19.4c0.7,0,2.2,0.1,2.2-1.8c0-1.7-1.4-1.9-3.8-1.7v3.5H11.2z"/>
			              <path fill="#fff" d="M25,11.1h-5.2V14h4.3v2.1h-4.3v3.1h5.5v2.1h-8V9H25V11.1z"/>
			              <path fill="#fff" d="M35,11.1h-3.2v10.2h-2.5V11.1h-3.2V9H35V11.1z"/>
			              <path fill="#fff" d="M44.7,11.1h-3.2v10.2h-2.5V11.1h-3.2V9h8.9V11.1z"/>
			              <path fill="#fff" d="M53.4,11.1h-5.2V14h4.3v2.1h-4.3v3.1h5.5v2.1h-8V9h7.7V11.1z"/>
			              <path fill="#fff" d="M60,9c2.8,0,3.9,2,3.9,3.6c0,1.3-0.8,2.6-2.1,3.1l2.5,5.6h-2.6l-2.2-5.1h-1.9v5.1h-2.5V9H60z M58.7,14.1
			                c1.1,0,2.7,0.1,2.7-1.5c0-1.7-1.7-1.6-2.9-1.6h-0.9v3H58.7z"/>
			              <path fill="#fff" d="M12.6,43.6h9.8v4H7.9V24.2h4.7V43.6z"/>
			              <path fill="#fff" d="M25,47.6V24.2h4.7v23.4H25z"/>
			              <path fill="#fff" d="M48.4,28.1h-9.9v5.6h7.6v4h-7.6v9.9h-4.7V24.2h14.6V28.1z"/>
			              <path fill="#fff" d="M65.6,28.1h-9.9v5.6h8.2v4h-8.2v5.9h10.5v4H51V24.2h14.6V28.1z"/>
			            </g>
			            <g>
			              <path fill="#fff" d="M69.8,25.9c0,0.4-0.2,0.8-0.5,1.1c-0.3,0.3-0.7,0.5-1.1,0.5s-0.8-0.2-1.1-0.5c-0.3-0.3-0.5-0.7-0.5-1.1
			                c0-0.4,0.2-0.8,0.5-1.1c0.3-0.3,0.7-0.5,1.1-0.5s0.8,0.2,1.1,0.5C69.7,25.1,69.8,25.5,69.8,25.9z M69.6,25.9
			                c0-0.4-0.1-0.7-0.4-0.9c-0.3-0.3-0.6-0.4-0.9-0.4c-0.4,0-0.7,0.1-0.9,0.4c-0.3,0.3-0.4,0.6-0.4,0.9c0,0.4,0.1,0.7,0.4,0.9
			                c0.3,0.3,0.6,0.4,0.9,0.4c0.4,0,0.7-0.1,0.9-0.4C69.5,26.6,69.6,26.3,69.6,25.9z M69,26.8h-0.3l-0.3-0.8h-0.5v0.8h-0.3V25h0.8
			                c0.2,0,0.4,0.1,0.5,0.2c0.1,0.1,0.2,0.2,0.2,0.4c0,0.1,0,0.2-0.1,0.3S68.8,26,68.7,26L69,26.8z M67.9,25.9h0.5
			                c0.1,0,0.2,0,0.3-0.1c0.1-0.1,0.1-0.1,0.1-0.2c0-0.1,0-0.2-0.1-0.2c-0.1,0-0.1-0.1-0.2-0.1h-0.5V25.9z"/>
			            </g>
			          </g>
			        </g>
			        </svg>
		    	</a>
				</div>
		    </div>
		    <div class="col-md-8 col-sm-12">
					<div id="shipping-info">
						<h3><span class="free-shipping-callout">Free Shipping</span> on Orders Over <sup>$</sup>50 <a class="free-shipping-details" href="/pages/faq#collapseTwo">view details</a><a class="header-phone-number">905-363-1501</a></h3>
					</div>
					<div id="customer-info">
						<ul>
							<li{% if template contains 'customers' %} class="active top-level-link"{% else %} class="login-link top-level-link"{% endif %}>
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i></a>
										<ul class="dropdown-menu" id="customer-dropdown">
											{% if customer %}
											<li><a href="/account">{{ customer.first_name }}'s ACCOUNT</a></li>
											<li>{{ 'customer-accounts.sign-out' | t | customer_logout_link }}</li>
											{% else %}
											<li>{{ 'customer-accounts.register' | t | customer_register_link }}</li>
											<li>{{ 'customer-accounts.sign-in' | t | customer_login_link }}</li>
											{% endif %}
										</ul>
							</li>
										{% if has_cart %}
										<li{% if template == 'cart' %} class="active bag-link top-level-link"{% else %} class="bag-link top-level-link"{% endif %}><a href="/cart"><i class="fa fa-shopping-bag"></i>&nbsp;<span class="cart-item-count">{% if cart.item_count > 0 %}({{ cart.item_count }}){% endif %}</span></a></li>
										{% endif %}
										<li class="top-level-link">
											<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-search" href="#collapseOne">
												<i class="fa fa-search"></i>
											</a>
											<div class="accordion" id="accordion-search">
									<div class="accordion-group">
										<div id="collapseOne" class="accordion-body collapse">
											<div class="accordion-inner">
												{% include 'search-form' %}
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div id="shipping-info-mobile" class="d-block d-md-none">
						<h3><span class="free-shipping-callout"><a class="free-shipping-details" href="/pages/faq#collapseTwo">Free Shipping</a></span> on Orders Over <sup>$</sup>50</h3>
						<h3><a class="header-phone-number" href="tel:1-877-256-4767">1-877-256-4767</a></h3>
					</div>
			</div>
		</div>
		<div class="row">
		<div id="main-nav" class="col-md-12">
				{% include 'main-navbar' %}
			</div>
		</div>
		{% if template != "cart" %}
		<div id="mini-cart" class="col-md-4">
		  <form action="/cart" method="post" name="cartform">
		  	<div id="mini-cart-item-container">
		      {% for item in cart.items %}

		      <div class="row mini-cart-item">
		      	<div class="col-md-8">
		      		<h5 class="header-{{ item.product.variants.first.sku }}"><a href="{{ item.product.url | within: collections.all }}">{{ item.product.metafields.cleaner.title }}</a></h5>
		      		<ul>
		              	<li>QTY: {{ item.quantity }}</li>
		              	<li>Price: {{ item.price | money }}</li>
		            </ul>
		      	</div>
		      	<div class="col-md-4">
		      		<p>{{ item.line_price | money }}</p>
		      	</div>
		      </div>
		      {% endfor %}
		     </div>
		  <!--</form>-->
		  <div class="row" id="mini-cart-checkout">
		  	<div class="col-md-8">
			  <!--<a class="miniCartBuyNowButton purchase-btn" href="/cart">CHECKOUT</a>-->
			  <input class="btn btn-primary purchase-btn" type="submit" value="Checkout" name="update">
			  <a href="/cart">View shopping cart</a>
			</div>
			<div class="col-md-4">
			  <p class="mini-cart-total">Total:</p>
			  <p class="mini-cart-total-price">{{ cart.total_price | money }}</p>
			</div>
			</div>
			<div class="row">
				<div class="col-md-12">
			  	<p id="free-shipping-message"></p>
			  </div>
			 </div>
		  </form>
		 </div>
		{% endif %}
	</div>
</section>