
{% assign option_index-name = 0 %}

{% for option in product.options %}
  {% if option == hide-name-option %}
    {% assign found_option-name = true %}
    {% assign option_index-name = forloop.index0 %}
    <style>
      label[for="product-select-option-{{ option_index-name }}"] { display: none; }
      #product-select-option-{{ option_index-name }} { display: none; }
      #product-select-option-{{ option_index-name }} + .custom-style-select-box { display: none !important; }
    </style>
    <script>$(window).load(function() { $('.selector-wrapper:eq({{ option_index-name }})').hide(); });</script>
  {% endif %}
{% endfor %}