{% assign title = hero | append: "-title" %}
{% assign body = hero | append: "-body" %}
{% assign link = hero | append: "-link" %}
{% assign link_url = hero | append: "-link-url" %}
{% assign image = hero | append: "-image" %}
{% assign text_col = hero | append: "-text-col" %}
{% assign text_col_offset = hero | append: "-text-offset" %}
{% assign image_col = hero | append: "-image-col" %}
{% assign image_col_neg_offset = hero | append: "-image-offset" %}
{% assign vert_align = hero | append: "-vert-align" %}
<div class="item custom-slide" id="slide-{{ i }}" data-slide="{{ counter }}">
  <div class="item-container flexbox align-items-center">
    <div class="flexbox {{ settings[vert_align] }}" style="width:100%;">
      <div class="{{ settings[text_col] }} {{ settings[text_col_offset] }} col-xs-12 text">
        <h2>{{ settings[title] }}</h2>
        <p>{{ settings[body] }}</p>
        <div class="form-group">
          <a href="{{ settings[link_url] }}" class="btn btn-default home-call-to-action">{{ settings[link] }}</a>
        </div>
      </div>
      <div class="{{ settings[image_col] }} {{ settings[image_col_neg_offset] }} col-xs-12 image">
        <img src="{{ settings[image] | img_url: '800x' }}" srcset="{{ settings[image] | img_url: '800x' }} 800w, {{ settings[image] | img_url: '600x' }} 600w, {{ settings[image] | img_url: '400x' }} 400w" sizes="(min-width: 1199px) 800px, (min-width: 991px) 650px, 100vw" alt="{{ settings[title] }}" />
      </div>
    </div>
  </div>
</div>