{% assign slider_count = 5 %}
<section id="value-prop">
  <div class="container">
    <div class="row" style="position: relative;">
        <ul class="home-page-controls">
          <li onclick="changeSlide('next');">&rsaquo;</li>
          <li onclick="changeSlide('prev');">&lsaquo;</li>
        </ul>

        <div id="home-page-carousel">
          {% assign counter = 1 %}
          {% for i in (1..slider_count) %}
            {% for ii in (1..slider_count) %}
              {% assign hero = "homepage-custom-slide-" | append: ii %}
              {% assign order = hero | append: "-order" %}
              {% assign order = settings[order] | plus: 0 %}
              {% if order == counter %}
                {% if settings[hero] == true %}
                  {% include 'homepage-slide' %}
                  {% assign counter = counter | plus: 1 %}
                {% endif %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endfor %}
          <div class="item custom-slide" data-slide="{{ counter }}">
		  <div class="item-container flexbox align-items-center text-left">
			<div class="flexbox align-items-top" style="width:100%;">
			  <div class="col-md-6 col-md-offset-1 col-xs-12 text" id="default-text">
				<h2>GREAT POWER, USED RESPONSIBLY.</h2>
				<p>With every spray, pour and pump, BETTER LIFE proves that a powerful cleaner can be gentle on the planet and safe around kids and pets*.</p>
				<small>*When used as directed.</small>
				<div class="form-group" id="default-btn">
				 <a href="/collections/all-products" class="btn btn-default home-call-to-action">SHOP NOW</a>   </div>
			  </div>
			  <div class="col-md-7 col-md-offset-2- col-xs-12 image" id="default-image">
				<img src="https://cdn.shopify.com/s/files/1/0100/3792/files/NewGeneralSlider_Powerful.png?8920516478499465092" alt="Great Power, Used Responsibly. ">
			  </div>
			</div>
		  </div>
		</div>
    </div>      
  </div>
</section>

</div><!-- closing home-bg-wrapper -->




