<div id="kit-details">
<h3 class="header-{{ product.variants.first.sku }}">Scented with essential oils and botanical extracts</h3>
<ul>
	<li>Non-toxic and biodegradable</li>
	<li>Safe around kids, pets, and the planet</li>
	<li>Never tested on animals</li>
	<li>Kind to waterways and marine life</li>
	<li>Made in the USA with solar energy</li>
</ul>
</div>