<script type="text/javascript" async src="https://limespot.azureedge.net/storefront/2.0.0/js/shopify/storefront.min.js?key=qb8tf-bv9ey2az9hw6z-rb6vm"></script>
<script>
window.LimeSpot = window.LimeSpot === undefined ? {} : LimeSpot;{% assign t = template | prepend: '/' | append: '.' %}
{% if t contains '/product.' %}LimeSpot.PageInfo = { Type: "Product", ReferenceIdentifier: "{{ product.id }}"};
{% elsif t contains '/collection.' %}LimeSpot.PageInfo = { Type: "Collection", ReferenceIdentifier: "{{ collection.id }}", Personalized: {%if collection.metafields.LimeSpot['Personalized'] == "true"%}true{%else%}false{%endif%} };
{% endif %}{% if customer %}LimeSpot.UserInfo = { Identifier: "{{ customer.id }}", Email: "{{ customer.email }}", FirstName: "{{ customer.first_name }}", LastName: "{{ customer.last_name }}" };
{% endif %}</script>
{% comment %}Checksum: e13b2e8ba24bf61c4d4953af7013de99{% endcomment %}