<style>
	.ls-price {
		text-decoration: inherit;
	}

	.ls-link {
		text-decoration: none !important;
	}
{% comment %}
	.ls-box-title {
		
	}

	.ls-title {
		
	}

	.ls-original-price {
	
	}

	.ls-image {
	
	}

	.ls-sale-sign {

	}
{% endcomment %}
</style>
{% comment %}Checksum: 0c772253afcbc8495436426751582a10{% endcomment %}