<!-- THE MENU STARTS HERE -->
    <div id="mgmenu1" class="mgmenu_container"><!-- Begin Mega Menu Container --> 
        <ul class="mgmenu"><!-- Begin Mega Menu -->
            <li class="mgmenu_button"><h3>Shop</h3></li><!-- Button (Mobile Devices) -->
            {% for link in linklists.main-menu.links %}
                {% assign child_list_handle = link.title | handle %}
                    {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
                        {% if link.title == 'Shop' %}
                        <li class="top-level-link" id="shop-top-level"><span><a class="mobile-disabled" href="/collections/natural-cleaners">{{ link.title }} &or;</a></span><!-- Begin Item -->
                        
                            <div class="dropdown_container dropdown_fullwidth" id="shop-dropdown"><!-- Begin Item Container -->                    
                                <div class="col_3" id="image_col">
                                    <ul>
                                        <li></li>
                                    </ul>
                                </div>
                                {% for child_link in linklists[child_list_handle].links %}
                                    {% if child_link.title == "Natural Cleaners" %}
                                    <div class="col_3" id="product-col-1">
                                        <ul>
                                            {% assign grand_child_list_handle = child_link.title | handle %}
                                            {% if linklists[grand_child_list_handle] and linklists[grand_child_list_handle].links.size > 0 %}
                                                <li class="menu-sub-header menu-sub-header-image">{{ 'mg-menu-cleaner-image.png' | asset_url | img_tag:"Cleaners" | link_to: child_link.url }}</li>
                                                <li class="menu-sub-header"><span>{{ child_link.title | link_to: child_link.url }}</span>
                                                    <ul>
                                                        {% for grand_child_link in linklists[grand_child_list_handle].links %}
                                                            <li class="menu-product-name"><span>{{ grand_child_link.title | link_to: grand_child_link.url }}</span></li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% else %}
                                                <li><span>{{ child_link.title | link_to: child_link.url }}</span></li>
                                            {% endif %}
                                            <li class="menu-sub-header menu-sub-header-image">{{ 'mg-menu-soap-image.png' | asset_url | img_tag:"Soaps and Lotions" | link_to: '/collections/soaps-and-lotions' }}</li>
                                            <li class="menu-sub-header"><span>{{ linklists.soaps-and-lotions.title | link_to: '/collections/soaps-and-lotions' }}</span>
                                            <ul>
                                            {% for link in linklists.soaps-and-lotions.links %}
                                                <li class="menu-product-name"><span>{{ link.title | link_to: link.url }}</span></li> 
                                            {% endfor %}
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    {% elsif child_link.title == "Dish" %}
                                    <div class="col_3" id="product-col-2">
                                        <ul>
                                            <li class="menu-sub-header menu-sub-header-image">{{ 'mg-menu-dish-image.png' | asset_url | img_tag:"Dish" | link_to: '/collections/dish' }}</li>
                                            <li class="menu-sub-header"><span>{{ linklists.dish.title | link_to: '/collections/dish' }}</span>
                                            <ul>
                                            {% for link in linklists.dish.links %}
                                                <li class="menu-product-name"><span>{{ link.title | link_to: link.url }}</span></li> 
                                            {% endfor %}
                                                </ul>
                                            </li>

                                            <li class="menu-sub-header menu-sub-header-image">{{ 'mg-menu-laundry-image.png' | asset_url | img_tag:"Laundry" | link_to: '/collections/laundry' }}</li>
                                            <li class="menu-sub-header"><span>{{ linklists.laundry.title | link_to: '/collections/laundry' }}</span>
                                                <ul>
                                            {% for link in linklists.laundry.links %}
                                                <li class="menu-product-name"><span>{{ link.title | link_to: link.url }}</span></li> 
                                            {% endfor %}
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                <!--{% comment %}{% unless child_link.title == "Dish" %}
                                <div class="col_3" id="{% cycle 'product-col-1', 'product-col-2' %}">
                                    <ul>
                                        {% assign grand_child_list_handle = child_link.title | handle %}
                                        {% if linklists[grand_child_list_handle] and linklists[grand_child_list_handle].links.size > 0 %}
                                            {% if child_link.title == "Natural Cleaners" %}
                                                <li class="menu-sub-header">{{ 'mg-menu-cleaner-image.jpg' | asset_url | img_tag:"Cleaners" }}</li>
                                            {% elsif child_link.title == "Laundry" %}
                                                <li class="menu-sub-header">{{ 'mg-menu-soap-image.jpg' | asset_url | img_tag:"Soaps &amp; Lotions" }}</li>
                                            {% endif %}
                                            <li class="menu-sub-header"><span>{{ child_link.title | link_to: child_link.url }}</span>
                                                <ul>
                                                    {% for grand_child_link in linklists[grand_child_list_handle].links %}
                                                        <li class="menu-product-name"><span>{{ grand_child_link.title | link_to: grand_child_link.url }}</span></li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% else %}
                                            <li><span>{{ child_link.title | link_to: child_link.url }}</span></li>
                                        {% endif %}
                                    </ul>
                                </div>
                                {% endunless %}
                                {% endfor %}{% endcomment %}-->
                                <div class="col_3" id="bulk-col">
                                    <ul>
                                    {% for link in linklists.kits-bulk.links %}
                                         {% capture file_name %}mg-menu-{{ link.handle }}-image.png{% endcapture %}
                                         {% capture link_name %}{{ link.title }}{% endcapture %}
                                        <li class="menu-sub-header menu-sub-header-image">{{ file_name | asset_url | img_tag:link_name | link_to: link.url }}</li>
                                        <li class="menu-sub-header"><span>{{ link.title | link_to: link.url }}</span></li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div><!-- End Item Container -->
                        </li><!-- End Item -->
                        {% endif %}
                        {% if link.title == 'About' %}
                        <li class="top-level-link"  id="about-top-level"><span>{{ link.title }} &or;</span><!-- Begin Item -->
                            <div class="dropdown_container" id="about-dropdown"><!-- Begin Item Container -->
                                <div>
                                    <ul>
                                    {% for child_link in linklists[child_list_handle].links %}
                                    <li class="menu-product-name">{{ child_link.title | link_to: child_link.url }}</li> 
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                    {% else %}
                        <li class="top-level-link {% if link.active %}active{% endif %}"><span>{{ link.title | link_to: link.url }}</span></li>      
                    {% endif %}
            {% endfor %}
        </ul><!-- End Mega Menu -->
    </div><!-- End Mega Menu Container -->
    <!-- THE MENU ENDS HERE -->