<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>{% include 'smart-title' with 'strip_html' %} | {{ shop.name }}</title>
<meta name="description" content="{% if page_description %}{{ page_description | escape }}{% else %}{{ shop.description | escape }}{% endif %}" />
<meta property="fb:app_id" content="441453139687923" />
<meta property="og:title" content="BETTER LIFE: Powerful Clean, Naturally" />
<meta property="og:description" content="Clean powerfully and naturally with BETTER LIFE." />
<meta property="og:url" content="https://www.cleanhappens.com/pages/becoming-better-life-share" />
<meta property="og:type" content="website" />
<meta property="og:image"  content="https://cdn.shopify.com/s/files/1/0953/6434/files/share-thumbnail.jpg?464648212649467850" />
<meta property="og:site_name" content="BETTER LIFE" />

<meta name="author" content="{{ shop.name }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />