{% include 'bold-set-prices' with product-loop %}
<div class="product-container {% include '__thumbnail-span' %} {% for tag in product-loop.tags %}tag-{{ tag | downcase | handleize }} {% endfor %}{% if thumbnail_layout == 'masonry' %} masonry{% endif %}" {% include '__product-data-attr' with _product %}>
  <div class="row">
  <div class="product-thumbnail clearfix">
  <div class="col-sm-6">
    <div class="thumbnail-image{% if product_collection.metafields.secondary-image.show == 'true' and product-loop.metafields.secondary-image.src != blank %} has-secondary-image{% endif %}">
      {% include '__product-image' %}
    </div>
    </div>
    <div class="col-xs-12 col-sm-6">
    <a href="{{ product_url }}" class="caption clearfix">
      {% if settings.show-vendor-with-thumbnail == 'above-product-title' %}<div class="product-vendor">{{ product-loop.vendor }}</div>{% endif %}
      <h5 class="header-{{ product-loop.variants.first.sku }}">{{ product-loop.metafields.cleaner.tagline }}</h5>
      <h4 class="product-title">{{ product-loop.metafields.cleaner.title }}</h4>
      {% if settings.show-vendor-with-thumbnail == 'below-product-title' %}<div class="product-vendor">{{ product-loop.vendor }}</div>{% endif %}
      <div class="shopify-product-reviews-badge" data-id="{{ product-loop.id }}"></div>
      {% if has_prices and bold_price > 0 %}
      <div class="product-price">
        {% if settings.show-compare-at-price and bold_compare_at_price > 0 %}	
          {% capture was %}
          {% include '__localize' with 'was' %}
          <span class="money">
          {% if settings.show-currency-with-prices == "with-currency" %}
          {{ bold_compare_at_price_max | money_with_currency }}
          {% else %}
          {{ bold_compare_at_price_max | money }}
          {% endif %}
          </span>
          {% endcapture %}
        <small class="text-muted"><del>{{ was | strip }}</del></small>&nbsp;
        {% elsif bold_price_varies %}
        <small class="text-muted">
          {% include '__localize' with 'from' %}
        </small>
        {% endif %}
				
				{% include '__poa-tag' with product-loop %}
				{% if price_is_poa %}
				<span>{% include '__localize' with 'POA' %}</span>
				{% else %}
				{% include 'product-price' with bold_price %}
				{% endif %}
				{% comment %}{% include 'product-labels' with product-loop %}{% endcomment %}
			</div>
			{% endif %}
      <p>{{ product-loop.metafields.cleaner.collection-tag }}</p>
		</a>
    </div>

    {% if settings.show-stock-availability-on-collection %}
    <div class="product-deal">
      <div class="product-availability">
    		{% include 'product-availability' with product-loop %}
      </div>
      {% if product-loop.metafields.inventory.ShappifySaleEndDate %}
      <div class="sale-clock">
        {% include 'shappify-sales-clock' with product-loop %}
      </div>
      {% endif %}
    </div>
		{% endif %}

		{% if settings.quick-cart %}
		<div class="quick-cart">
		  <!--<div class="quick-cart-btn-wrapper">
    		<a href="{{ product_url }}" class="quick-cart-btn view">{% comment %}{% include '__localize' with 'View product' %}{% endcomment %}</a>
		  </div>-->
		  <div class="quick-cart-btn-wrapper">
		    <form id="{% include '__advanced-layout-id' with 'product-form' %}" action="/cart/add" method="post" role="form" enctype="multipart/form-data">
		      <input data-product-id="{{ product-loop.id }}" type="hidden" name="id" value="{{ product-loop.selected_or_first_available_variant.id }}" />
          <div class="product-variants col-md-12">
          {% if product-loop.handle == 'better-life-t-shirt' or product-loop.handle == 'better-life-t-shirt-classic' or product-loop.handle == 'gift-tag' %}
            {% if product-loop.variants.size > 1 %}
              <select id="{% include '__advanced-layout-id' with 'product-select' %}" name="id" class="form-control input-lg">
                {% for v in product-loop.variants %}
                <option value="{{ v.id }}"{% if v == product-loop.selected_or_first_available_variant %} selected="selected"{% endif %}>{{ v.title }}</option>
                {% endfor %}
              </select>
            {% endif %}
          {% else %}
            {% include 'available-scents' %}
          {% endif %}
          </div>
		      <input type="hidden" name="quantity" value="1" />
          {% if product-loop.available %}
          {% unless price_is_poa %}
            <div class="form-group col-lg-4 col-md-12 qty-box">
              {% include '_product-max-qty' with product %}
              <input class="form-control input-lg" type="number" id="quantity" placeholder="Quantity" name="quantity" value="1" min="0"{% if product_max_qty %} max="{{ product_max_qty }}"{% endif %} />
            </div>
          {% endunless %}
          <div class="col-lg-8 col-md-12 quick-cart-btn-ctr">
		        <input type="submit" name="add" value="{% include '__localize' with 'Add to bag' %}" id="purchase" class="quick-cart-btn add-to-cart" />
          </div>
          {% else %}
            <div class="col-lg-8 col-md-12 quick-cart-btn-ctr">
              <a class="purchase-btn disabled">SOLD OUT</a>
            </div>
          {% endif %}
		    </form>
		  </div>
		</div>
		{% endif %}
	</div>
  </div>
</div>