<form id="{% include '__advanced-layout-id' with 'product-form' %}" action="/cart/add" method="post" role="form" enctype="multipart/form-data">
  <div class="product-variants" style="padding:0;">
    <div class="col-xs-12">
      <select id="{% include '__advanced-layout-id' with 'product-select' %}" name="id" class="form-control input-lg" style="display:none;">
        {% for v in product.variants %}
                <option value="{{ v.id }}"{% if v == product.selected_or_first_available_variant %} selected="selected"{% endif %} data-price="{{ variant.price | money_without_currency | remove: ',' }}">{{ v.title }}</option>
        {% endfor %}
      </select>
      {% if template == 'product.bulk' %}
        <style>
            .selector-wrapper { display:none !important; }
        </style>
        <table class="bulk">
          <tr>
            <th>Qty</th>
            <th>Price</th>
            <th>Discount</th>
          </tr>
          {% for variant in product.variants %}
            <tr>
              {% if forloop.first == true %}
                <td>Buy 1</td>
                <td class="one-price">{{ variant.price | money }} ea</td>
                <td>0% Off</td>
              {% elsif forloop.index == 2 %}
                <td>Buy 5</td>
                <td class="five-price">{{ variant.price | money }} ea</td>
                <td>{{ product.variants[0].price | minus: variant.price | times: 100.0 | divided_by: product.variants[0].price | floor }}% Off</td>
              {% else %}
                <td>Buy 10</td>
                <td class="ten-price">{{ variant.price | money }} ea</td>
                <td>{{ product.variants[0].price | minus: variant.price | times: 100.0 | divided_by: product.variants[0].price | floor }}% Off</td>
              {% endif %}
            </tr>
          {% endfor %}
        </table>
      {% endif %}
      {% unless product.type == 'accessories' or product.handle == 'gift-card' or product.handle == 'gift-tag' %}
        {% if product.type == 'kits' or product.handle == 'pump-for-1-gallon-bulk-products' %}
          {% if product.handle == 'new-baby-essentials-kit' or product.handle == 'soap-and-lotion-kit' or product.handle == 'kit-skin-soothing-valentine-soap-lotion-set' %}
            <style>
              .selector-wrapper { display:none !important; }
            </style>
            {% if product.available and product.variants.size > 0 %}
              {% include 'swatch' with 'Scent' %}
              {% comment %}{% include 'hide-name-option' with 'Name' %}{% endcomment %}
            {% endif %}
          {% endif %}
        {% else %}
          <style>
            .selector-wrapper { display:none !important; }
          </style>
          {% if product.available and product.variants.size > 0 %}
            {% include 'swatch' with 'Scent' %}
            {% comment %}{% include 'hide-name-option' with 'Name' %}{% endcomment %}
          {% endif %}
        {% endif %}
      {% endunless %}
      {% if has_prices %}
        {% if price_is_poa %}
          <div class="product-price-poa">
            <span>{% include '__localize' with 'POA' %}</span>
          </div>
        {% else %}
          <div class="product-price" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
          {% if product.price == product.compare_at_price_max %}
            <div class="col-lg-6 sale-price-container"><small class="sale-price-text">{% include '__localize' with 'Price' %} </small><span class="price-field">{% include 'product-price' with selected_or_first_variant.price %}</span>
          {% else %}
            <div class="col-lg-6 col-lg-push-6 regular-price-container"><small class="compare-at-price text-muted">{% include '__localize' with 'Regular Price' %} <span style="position:relative;"><hr style="position:absolute;top:7px;left:0;right:0;margin:0;border-top:2px solid #959394;" /><span class="compare-at-price-field" style="font-size: 1.35em;"></span></small></div>
            <div class="col-lg-6 col-lg-pull-6 sale-price-container"><small class="sale-price-text">{% include '__localize' with 'Sale Price' %} </small><span class="price-field">{% include 'product-price' with selected_or_first_variant.price %}</span>
          {% endif %}
                  {% if settings.append-plus-taxes-to-price %}<small class="text-muted"> {% include '__localize' with 'plus taxes' %}</small>{% endif %}</div>
                {% comment %}
                {% include 'product-labels' with product %}
                {% endcomment %}
            <meta itemprop="currency" content="{{ shop.currency }}" />
            <meta itemprop="identifier" content="sku:{{ product.variants.first.sku }}" />
          </div>
        {% endif %}
      {% endif %}
    </div>
    <!--{% if product.metafields.properties.size > 0 %}
    <div class="col-xs-12 col-lg-6">
    {% for l_item in product.metafields.properties %}
    {% assign key = l_item.first | split: ':' %}
    {% assign key_type = key.last %}
    {% assign key_title = key.first %}
    {% assign value = l_item.last %}
    <div class="form-group">
      <label>{{ key_title }}</label>
      {% if key_type == 'select' %}
      {% assign value_array = value | split: ',' %}
      <select class="form-control" name="properties[{{ key_title }}]">
        {% for v in value_array %}
        <option value="{{ v }}">{{ v }}</option>
        {% endfor %}
      </select>
      {% elsif key_type == 'text' %}
      <input type="text" class="form-control" name="properties[{{ key_title }}]" placeholder="{{ value }}" />
      {% elsif key_type == 'checkbox' %}
      <p><input type="checkbox" name="properties[{{ key_title }}]" value="{{ value }}" />&nbsp;{{ value }}</p>
      {% elsif key_type == 'file' %}
      <p><input type="file" id="{{ key_title }}" name="properties[{{ key_title }}]">&nbsp;<small><em>{{ value }}</em></small></p>
      {% endif %}
    </div>
    {% endfor %}
    </div>
    {% endif %}-->
    
  </div>
  <input name="shopify_customer_id" type="hidden" value="{{ customer.id }}" > 
<input name="email" type="hidden" value="{{ customer.email }}" > 
<input name="address1" type="hidden" value="{{ customer.default_address.address1 }}" > 
<input name="address2" type="hidden" value="{{ customer.default_address.address2 }}" > 
<input name="city" type="hidden" value="{{ customer.default_address.city }}" > 
<input name="company" type="hidden" value="{{ customer.default_address.company }}" > 
<input name="country" type="hidden" value="{{ customer.default_address.country }}" > 
<input name="first_name" type="hidden" value="{{ customer.default_address.first_name }}" > 
<input name="last_name" type="hidden" value="{{ customer.default_address.last_name }}" > 
<input name="phone" type="hidden" value="{{ customer.default_address.phone }}" > 
<input name="province" type="hidden" value="{{ customer.default_address.province }}" > 
<input name="zip" type="hidden" value="{{ customer.default_address.zip }}" >
{% include 'bold-ro' with product %}
  <div class="row">
    <div class="col-sm-4 col-md-3 col-lg-2 quantity-wrap">
      {% unless price_is_poa %}
      <div class="form-group">
        {% include '_product-max-qty' with product %}
        <input class="form-control input-lg" type="number" id="quantity" placeholder="Quantity" name="quantity" value="1" min="0" {% if template == 'product.bulk' %}onchange="updateBulkPrice(this.value);"{% endif %} {% if product_max_qty %} max="{{ product_max_qty }}"{% endif %} />
      </div>
      {% endunless %}
    </div>
    

    <div class="col-sm-6 col-md-5 col-lg-4">
      {% unless price_is_poa %}
      <div class="form-group">
        <input type="submit" name="add" value="{% include '__localize' with 'Add to cart' %}" id="purchase" class="purchase-btn add-to-cart" />
    <!-- bold-ro-liquid --> <div class="bold_add_to_orders" style="display: inline-block;"> </div> <!-- bold-ro-liquid -->
      </div>
      {% endunless %}
      {% if settings.secondary-call-to-action-url != blank %}
      <p class="secondary-call-to-action"><br><em>{% include '__localize' with 'Not quite what you are after?' %}</em><br><a href="{{ settings.secondary-call-to-action-url }}?title={{ product.title | replace: ' ', '%20' }}&handle={{ product.handle }}"><strong>{% include '__localize' with 'Contact us for variations' %}</strong></a></p>
      {% endif %}
    </div>
  </div>
</form>

{% if settings.show-notify-me %}
<div class="row notify-me-wrapper">
  <div class="col-xs-12">
    {% form 'contact' %}
      <div class="notify-me-form well">
        <h3>{{ product.metafields.cleaner.title }} is unavailable</h3>
        <p>{% include '__localize' with 'Leave your email address if you would like to be notified when it becomes&nbsp;available.' %}</p>
        <div class="alert" style="display: none"></div>
        <div class="form-group">
          <input type="hidden" name="contact[body]" value="Please notify me when {{ product.metafields.cleaner.title | escape }} becomes available." />
          <div class="input-group">
            <input class="form-control input-lg{% if form.errors contains 'email' %} error{% endif %}" id="{% include '__advanced-layout-id' with 'notify-input' %}" required="required" type="email" name="contact[email]" placeholder="your@email.com" value="{{ contact.fields.email }}" />
            <span class="input-group-btn">
              <input class="btn btn-primary btn-lg notify-me-btn" type="submit" value="{% include '__localize' with 'Notify me' %}" >
            </span>
          </div>
        </div>
      </div>
    {% endform %}
  </div>
</div>
{% endif %}

<script>
  jQuery(function() {
    // option selectors extended with boostrap markup and link options
    new Shopify.BootstrapifyOptionSelectors("{% include '__advanced-layout-id' with 'product-select' %}", { product: {{ product | json }}, onVariantSelected: selectCallback, enableHistoryState: true{% unless settings.show-unavailable-products %}, linkOptions: true {% endunless %}});
  });
</script>