{% include 'bold-set-prices' with product %}
{% if t_object != blank %}
{% assign product = t_object %}
{% endif %}
{% capture vars %}
{% assign selected_or_first_variant = bold_selected_or_first_available_variant %}
{% if product.featured_image == blank %}
{% include 'image-placeholder' %}
{% else %}
{% capture image %}
{% assign featured_image = selected_or_first_variant.featured_image | default: product.featured_image %}
{% unless settings.container-width-large-devices contains 'px' %}{% assign product_img_size = '1024x1024' %}{% else %}{% assign product_img_size = 'grande' %}{% endunless %}
<img src="{{ featured_image.src | product_img_url: product_img_size }}" alt="{{ featured_image.alt }}" itemprop="image">
{% endcapture %}
{% endif %}
{% endcapture %}
{% include '__poa-tag' with product %}

<section id="{% include '__advanced-layout-id' with 'product-wrap' %}" class="product-wrap section-wrap">
	{% include '__containers-open' %}
	<div class="visible-xs">
		<h1 class="page-header" itemprop="name">{{ product.metafields.cleaner.title }}</h1>
	</div>

		<div class="row" itemscope itemtype="http://data-vocabulary.org/Product">
	
			<!-- images col -->
			<div class="col-sm-6 {% if settings.product-page-image-placement == 'right' %}col-sm-push-6{% endif %}" id="product-images-col">
				<div class="row product-images">
					<div class="col-xs-12 col-sm-12">
						<div class="thumbnail product-main-image">
							{{ image }}
						</div>
					</div>
					{% if product.images.size > 1 %}
					{% for image in product.images %}
					<div class="col-xs-4 col-lg-3">
						<div class="thumbnail">
							<div class="thumbnail-image product-main-thumb">
								<a href="#" data-main-image="{{ image.src | product_img_url: product_img_size }}">
									{{ image.src | product_img_url: 'medium' | img_tag: image.alt }}
								</a>
							</div>
						</div>
					</div>
					{% endfor %}
					{% endif %}
				</div>
				<div class="row product-lifestyle-image">
					<div class="col-xs-12 col-sm-12 col-no-right-padding">
					{% assign product-lifestyle-image = product.variants.first.sku | append: '-lifestyle-image.jpg' %}
					<!--<img src="{{ product-lifestyle-image | asset_url }} onError='style.display = "none";"-->
					<img src="{{ product-lifestyle-image | asset_url }}" onError="style.display = 'none';">
					</div>
				</div>
				<!--{% include 'limespot-related-product' %}-->
			</div>
	
			<!-- details col -->
			<div id="product-details" class="col-sm-6 {% if settings.product-page-image-placement == 'right' %}col-sm-pull-6{% endif %}">
				<h4 class="header-{{ product.variants.first.sku }}">{{ product.metafields.cleaner.tagline }}</h4>
				<!--<h1 class="hidden-xs" itemprop="name">{{ product.title }}</h1>-->
				{% include 'product-description' %}
				{% include 'product-badges' %}
				{% unless settings.show-price-if-zero == blank and product.price == 0 %}
					{% unless product.tags contains 'no featured on' %}
					<p class="featured-on">Better Life featured on:</p>
					<div class="row featured-on-images">
						<div class="col-md-3 col-sm-4">
							<img src="{{ 'RealSimple.jpg' | asset_url }}" alt="RealSimple" />
						</div>
						<div class="col-md-3 col-sm-4">
							<img src="{{ 'Oprah.jpg' | asset_url }}" alt="Oprah" />
						</div>
						<div class="col-md-3 col-sm-4">
							<img src="{{ 'SharkTank.jpg' | asset_url }}" alt="Shark Tank" />
						</div>
					</div>
					{% endunless %}
					{% include 'shappify-sales-clock' with product %}
					{% include 'product-availability' with product %}
					{% if has_cart %}
						{% include 'product-add-to-cart-form' %}
					{% endif %}
				{% endunless %}
				<a id="reviews-badge-link" href="#shopify-product-reviews"><div class="shopify-product-reviews-badge" data-id="{{ product.id }}"></div></a>
				{% if settings.show-social-share-links %}
			      <div class="share-icons">
			        {% capture tweet %}https://twitter.com/intent/tweet?text={% include '__localize' with 'Check out' %} {{ page_title }}—{{ canonical_url }}{% unless settings.social-links-twitter == blank %} (via @{{ settings.social-links-twitter | split: '/' | last }}){% endunless %}{% endcapture %}
			        {% capture email_subject %}{% include '__localize' with 'Check out' %} {{ page_title }}{% endcapture %}
			        {% capture email_body %}{% include '__localize' with 'Hey' %}, {% include '__localize' with 'I was just looking at' %} {{ page_title }} {% include '__localize' with 'on' %} {{ shop.name }} {% include '__localize' with 'and wanted to share it with you' %}. {% include '__localize' with 'Check out' %} {{ canonical_url }}{% endcapture %}
			        <a href="{{ tweet | replace: ' ','%20' }}" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
			        <a href="https://www.facebook.com/sharer/sharer.php?u={{ canonical_url }}" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
			        <a href="http://pinterest.com/pin/create/button/?url={{ canonical_url }}&media={{ product.featured_image.src | product_img_url: '2048x2048' }}&description={{ page_title | replace: ' ','%20' }}" target="_blank"><i class="fa fa-pinterest fa-fw"></i></a>
			        <a href="https://www.instagram.com/cleanhappensbetterlife/" target="_blank"><i class="fa fa-instagram fa-fw"></i></a>
			        <a href="mailto:?subject={{ email_subject | replace: ' ','%20' }}&body={{ email_body }}" target="_blank"><i class="fa fa-envelope fa-fw"></i></a>
			      </div>
			      {% endif %}
				{% if product.metafields.custom_links.size > 0 %}
				<ul class="custom-links">
					{% for l in product.metafields.custom_links %}
						<li><a href="{{ l.last }}" class="btn btn-default" title="{{ l.first }}" target="_blank">{{ l.first }}</a></li>
					{% endfor %}
				</ul>
				{% endif %}
				{% if product.metafields.custom_images.size > 0 %}
				<ul class="custom-images">
				{% for l in product.metafields.custom_images %}
					<li><img src="{{ l.last }}" class="custom-image" alt="{{ l.first }}"></li>
				{% endfor %}
				</ul>
				{% endif %}
				<!-- this code uses the product sku to grab a snippet with the uses and directions, features and ingredients info in it -->
				{% assign product-details = product.variants.first.sku | append: '-product-details' %}
				{% unless product.handle == 'pump-for-1-gallon-bulk-products' or product.handle == 'gift-card' or product.handle == 'gift-tag' %}
				{% if product.type == 'accessories' %}
					{% if product.handle == 'better-life-t-shirt-classic' %}
						{% include product-details %}
					{% endif %}
				{% else %}
					{% include product-details %}
				{% endif %}
				{% endunless %}
				
				{% comment %}
				{% include 'product-specs' %}
				{% endcomment %}
      		  
			</div>
		</div>
	{% include '__containers-close' %}
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center" id="shipment-issue">
			<h3>Issue with your shipment?</h3>
			<p>We want to make it right. Please <a href="/pages/contact">contact us</a> and tell us how we can help.</p>
			</div>
			<div class="col-md-12">
				{% unless t_reviews == true %}
				<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
				{% endunless %}
			</div>
		</div>
	</div>
</section>