<form {% if settings.search-placement != 'sidebar' %}class="navbar-form"{% endif %} action="/search">
  <div class="input-group">
    <input type="search" name="q" class="form-control search-bar" autocomplete="off" placeholder="{{ 'navigation.search.search-form-placeholder' | t }}" value="{{ search.terms }}">
    <span class="input-group-btn">
      <input type="submit" class="btn btn-default search-btn" value="{{ 'navigation.search.search-form-button' | t }}" />
    </span>
  </div>
</form>