


{% if customer %} {% assign digest = customer.id | append:customer.email | append:'a9b1bf41-0ec3-4ba2-a528-52617685fec0' | md5 %} {% endif %}

<script type="text/javascript">
window.sloyalty = window.sloyalty || {};
window.sloyalty.shop = 'www.cleanhappens.com';

window.sloyalty.customer_id = '{% if customer %}{{ customer.id }}{% endif %}';
window.sloyalty.digest = '{% if customer %}{{ digest }}{% endif %}';

</script>




  


{% if customer %}
{% assign digest = customer.id | append:customer.email | append:'a9b1bf41-0ec3-4ba2-a528-52617685fec0' | md5 %}

<div class="sloyalty-loyalty-widget"
     data-digest="{{ digest }}"
     data-shop="www.cleanhappens.com"
     data-customer="{{ customer.id }}"></div>
{% else %}
<div class="sloyalty-loyalty-widget"
     data-shop="www.cleanhappens.com"></div>
{% endif %}






<div class="sloyalty-referral-widget"
     data-shop="www.cleanhappens.com"
     data-customer="{% if customer %}{{ customer.id }}{% endif %}"></div>






{% if customer %}
{% assign digest = customer.id | append:customer.email | append:'a9b1bf41-0ec3-4ba2-a528-52617685fec0' | md5 %}

<div class="sloyalty-standalone-share-widget"
     data-shop="www.cleanhappens.com"
     data-customer="{{ customer.id }}"
     data-digest="{{ digest }}"></div>
{% else %}
<div class="sloyalty-standalone-share-widget"
     data-shop="www.cleanhappens.com"
     data-customer=""></div>
{% endif %}






<div class="sloyalty-fans-widget"
     data-shop="www.cleanhappens.com"
     data-customer="{% if customer %}{{ customer.id }}{% endif %}"></div>


