 {% capture vars %}
  {% if search.performed %}
    {% capture title %}{% include '__localize' with 'Search results for' %} &ldquo;{{ page_title }}&rdquo;{% endcapture %}
  {% else %}
    {% assign title = page_title %}
  {% endif %}
{% endcapture %}{% if smart-title == 'strip_html' %}{{ title | replace: '&amp;','&' | strip_html }}{% else %}{{ title }}{% endif %}