{% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
{% endif %}
{% if template == 'collection' or template == 'product' or template == 'search' %}
    {{ 'jquery.uniform_thumbnails.min.js' | asset_url | script_tag }}
    <script src="{{ 'jquery.orderly.min.js' | asset_url }}" type="text/JavaScript"></script>
{% endif %}
{% if template == 'blog.videos' %}
  <script type="text/javascript" src="{{ 'jquery.bxslider.min.js' | asset_url }}"></script>
  <script type="text/JavaScript" src="{{ 'video-blog-handle.js' | asset_url }}" async></script>
{% endif %}
{% if template != "cart" %}
  {{ "api.jquery.min.js" | asset_url | script_tag }}
  {{ "ajaxify-shop.js" | asset_url | script_tag }}
{% endif %}
{% if template == 'index' %}
  {{ 'jquery.stellar.min.js' | asset_url | script_tag }}
  {{ 'jquery.actual.min.js' | asset_url | script_tag }}
{% endif %}
{% if template == 'page.press' %}
  <script type="text/javascript" src="{{ 'press-page-handle.js' | asset_url }}" async></script>
{% endif %}
{% if page.handle  != 'subscribe' %}
<!-- mailchimp popup form-->
{% comment %} <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us2.list-manage.com","uuid":"49c891c4b7723d9be668988ac","lid":"ad62d6a7e1"}) })</script> {% endcomment %}
<!-- end mailchimp -->
{% endif %}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
{{ 'jquery.ajax-cart.min.js' | asset_url | script_tag }}
<script type="text/javascript" src="{{ 'libs.js' | asset_url }}"></script>
<script type="text/JavaScript">
{% if template == 'customers/login' %}
  function getURLParameter(name) {
    return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [null, ''])[1].replace(/\+/g, '%20')) || null;
  }
{% endif %}

{% if template == 'product.bulk' %}

  function updateBulkPrice(qty) {
    if(qty < 5) {
      $('#product-select option:eq(0)').prop("selected", true);
      var p = $('.one-price');
    } else if (qty < 10) {
      $('#product-select option:eq(1)').prop("selected", true);
      var p = $('.five-price');
    } else {
      $('#product-select option:eq(2)').prop("selected", true);
      var p = $('.ten-price');
    }
    p = p.text();
    p = p.substring(0, p.indexOf(" "));
    $('span.price-field span.money').text(p + " USD");
  }

{% endif %}

{% if template == 'index' %}

  var counter = 1;
  var interval;
  var stopped = false;
  var ignore = false;
  var timeout;

  function slideshow() {

    clearInterval(interval);

    var total = $('div.item').length;

    interval = setInterval(function() {

      ignore = true;

      $('ul.home-page-controls li.active').removeClass("active");

      if(counter == 1) {

        $('#home-page-carousel .item:first-child').fadeOut(500, function() {

          $('#home-page-carousel .item:nth-child(2)').fadeIn(500, function() {

            ignore = false;

          });

          $('ul.home-page-controls li:nth-child(2)').addClass("active");

          counter++;

        });

      }

      if(counter == total) {

        $('#home-page-carousel .item:last-child').fadeOut(500, function() {

          $('#home-page-carousel .item:first-child').fadeIn(500, function() {

            ignore = false;

          });

          $('ul.home-page-controls li:first-child').addClass("active");

          counter = 1;

        });

      }

      if(counter != 1 && counter != total) {

        $('#home-page-carousel .item:nth-child('+counter+')').fadeOut(500, function() {

            counter++;

            $('#home-page-carousel .item:nth-child('+counter+')').fadeIn(500, function() {

              ignore = false;

            });

            $('ul.home-page-controls li:nth-child('+counter+')').addClass("active");

        });

      }

      if(counter > total) {

        //Something went wrong, cut losses and reset
        counter = 1;

      }

    }, 7000);

  }

  function changeSlide(logic) {

    var total = $('div.item').length;

    if(!ignore) {

      ignore = true;

      if(logic == 'next') {

        $('div.item').each(function(index) {

          index++; //start at 1

          if($('[data-slide="'+index+'"]').is(":visible")) {

            clearInterval(interval);

            index++; //go to next one

            $(this).stop(true, true).fadeOut(500, function() {

              if(index > total) {

                index = 1;

              }

              $('[data-slide="'+index+'"]').fadeIn(500, function() {

                counter = index;

                slideshow();

                ignore = false;

              });

            });

          }

        });

      } else {

        $('div.item').each(function(index) {

          index++; //start at 1

          if($('[data-slide="'+index+'"]').is(":visible")) {

            clearInterval(interval);

            index--; //go to next one

            $(this).stop(true, true).fadeOut(500, function() {

              if(index < 1) {

                index = total;

              }

              $('[data-slide="'+index+'"]').fadeIn(500, function() {

                counter = index;

                slideshow();

                ignore = false;

              });

            });

          }

        });

      }

    } else {

      timeout = setTimeout(function() { ignore = false; }, 1000);

    }

  }

  function AutoAdjustSliderImage() {
    var w = window.innerWidth;
    if(w < 992) {
      var h = 560;
      $('.custom-slide').each(function() {
        var t = $(this).find(".text").actual("height");
        var maxHeight = h - t;
        $(this).find("img").css("max-height", maxHeight);
      });
    } else {
      $('.custom-slide').each(function() {
        $(this).find("img").css("max-height", "");
      });
    }
  }
  $(window).on("resize", function() {
    AutoAdjustSliderImage();
  });

{% endif %}

$(document).ready(function(){

  $('#mgmenu1').universalMegaMenu({
      menu_effect: 'hover_fade',
      menu_speed_show: 300,
      menu_speed_hide: 200,
      menu_speed_delay: 200,
      menu_click_outside: true,
      menubar_trigger : false,
      menubar_hide : false,
      menu_responsive: true
  });

  $('.search-bar').typeahead({
      name: 'Products',
      local: [{{ typeahead }}]
  }).on('typeahead:selected', function (object, datum) {
      $(this).closest('form').submit();
  });

  {% unless current_handle == blank %}
  
    $('.handle_{{ current_handle }}').parents('.collapse').addClass('in');
  
  {% endunless %} 

  {% if settings.ajax-cart %}

  $(document).ajaxCart();  

  {% endif %}

  {% if template == 'index' %}

    $(window).stellar({
      horizontalScrolling: false,
      verticalScrolling: true,
      horizontalOffset: 0,
      verticalOffset: 0,
      responsive: false,
      scrollProperty: 'scroll',
      positionProperty: 'transform',
      parallaxBackgrounds: true,
      parallaxElements: true,
      hideDistantElements: false,
      hideElement: function($elem) { $elem.hide(); },
      showElement: function($elem) { $elem.show(); }
    });

    //slideshow();
    AutoAdjustSliderImage();

  {% endif %}

  {% if template == 'collection' or template =="product" or template == 'search' %}

    jQuery('.swatch :radio').change(function() {
      var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
      var optionValue = jQuery(this).val();
      jQuery(this)
        .closest('form')
        .find('.single-option-selector')
        .eq(optionIndex)
        .val(optionValue)
        .trigger('change');
    });

    if(uniformThumbnailElements === undefined){
        var uniformThumbnailElements = '.thumbnail-image a, .product-main-thumb a';
      }
      
      var uniformThumbnailsOpts = {};
      {% if settings.thumbnail-alignment != blank %} uniformThumbnailsOpts.align = '{{ settings.thumbnail-alignment }}'; {% endif %}
      {% if settings.thumbnail-ratio != blank %} uniformThumbnailsOpts.ratio = '{{ settings.thumbnail-ratio }}'; {% endif %}
      {% if settings.thumbnails-cropped == blank %} uniformThumbnailsOpts.fit = 'scale'; {% endif %}
      $(uniformThumbnailElements).uniform_thumbnails(uniformThumbnailsOpts).on('ut_complete', function(){
        //$('.collection-thumbnail .caption').orderly({ method: 'children' });
        //$('.product-thumbnail .caption').orderly({ method: 'children' });
        $('.row').find('.caption').orderly({ method: 'children' });
    });

  {% endif %}

  {% if page.handle == 'compare' or page.template_suffix =='compare-biokleen' or page.template_suffix == 'compare-green-works' or page.template_suffix == 'compare-honest-company' or page.template_suffix == 'compare-method' or page.template_suffix == 'compare-mrs-meyers' or page.template_suffix == 'compare-seventh-generation' or page.template_suffix == 'compare-custom' %}

    $('#on-green').click(function() {  
          var overlay_items = $('.qa-box').find('.qa-overlay-content');
          overlay_items.each(function() {
              $(this).fadeOut();
          });
         $('#on-green-overlay-content').fadeIn();     
    });  
    $('#on-safety').click(function() {  
          var overlay_items = $('.qa-box').find('.qa-overlay-content');
          overlay_items.each(function() {
              $(this).fadeOut();
          });
         $('#on-safety-overlay-content').fadeIn();     
    });
    $('#on-scents').click(function() { 
          var overlay_items = $('.qa-box').find('.qa-overlay-content');
          overlay_items.each(function() {
              $(this).fadeOut();
          }); 
         $('#on-scents-overlay-content').fadeIn();     
    });
    $('#on-label').click(function() {  
          var overlay_items = $('.qa-box').find('.qa-overlay-content');
          overlay_items.each(function() {
              $(this).fadeOut();
          });
         $('#on-labeling-overlay-content').fadeIn();     
    });
    $('#vs-homemade').click(function() {  
         $('#vs-cleaners-overlay-content').fadeIn();     
    });
    $('#vs-disinfectants').click(function() {  
          var overlay_items = $('.qa-box').find('.qa-overlay-content');
          overlay_items.each(function() {
              $(this).fadeOut();
          });
         $('#vs-disinfectants-overlay-content').fadeIn();     
    });
    $('#on-value').click(function() {  
          var overlay_items = $('.qa-box').find('.qa-overlay-content');
          overlay_items.each(function() {
              $(this).fadeOut();
          });
         $('#on-value-overlay-content').fadeIn();     
    });
    $('.qa-close-btn').on("click", function () {
      $(this).parent().fadeOut();
    });

  {% endif %}

  {% if page.handle == 'faq' %}

    location.hash && $(location.hash + '.collapse').collapse('show');

  {% endif %}

  {% if template == 'customers/login' %}

    var el = $('#login-form').find("container");

    if(getURLParameter("email")) {

      $('aside.rewards-section').css("display", "block");

      setTimeout(function() { $('h3, div').css({ "transform": "translate(0,0)", "opacity": "1" }); }, 500);

    }

  {% endif %}

  $('a[data-toggle="modal"]').on("click", function() {
    //replace content
    var target = $(this).data("target");
    {% if template == 'blog.videos' %}
      var iframe = $(this).data("iframe");
      $(target).find(".modal-content").html(iframe);
    {% else %}
      var src = $(target).find("iframe").data("src");
      $(target).find("iframe")[0].src = src;
    {% endif %}
    if($(target).find("iframe")[0].src.indexOf("?") > -1) {
      $(target).find("iframe")[0].src += '&autoplay=1';
    } else {
      $(target).find("iframe")[0].src += '?autoplay=1';
    }
  });

  $('div.modal').on("click", function() {

    if($(this).has("iframe")) {

      if($(this).find("iframe")[0].src.indexOf("vimeo") == -1) {

        var src = $(this).find("iframe")[0].src;
            src = src.substring(0, src.indexOf("autoplay") - 5);

      } else {

        var src = $(this).find("iframe")[0].src;
            src = src.substring(0, src.indexOf("autoplay") - 1);

      }
             
      $(this).find("iframe")[0].src = src;

    }

  });

        if (!sessionStorage.isVisited) {
  sessionStorage.isVisited = 'true'
          $(window).scroll(function(){                          
            if ($(this).scrollTop() > 100) {
                $('#banner').fadeIn(300);
            } else {
                $('#banner').fadeOut(300);
            }
        });
        $("#close").click(function(){
        $("#banner").addClass("hide");
    });

}




});

</script>