<section id="account" class="section-wrap">
{% include '__containers-open' %}
<div id="admin_header">
  <h4 class="page-header">Your Account</h4>
  <h1>Hi, {{ customer.first_name }}!</h1>
</div>


<div id="customer_orders">
  <div class="account-gray-header">
  <h3>Order History</h3>
  </div>
  <div class="account-detail-wrapper">

  {% if customer.orders.size != 0 %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="order_number">Order</th>
          <th class="date">Date</th>
          <th class="payment_status">Payment Status</th>
          <th class="fulfillment_status">Fulfillment Status</th>
          <th class="total">Total</th>
        </tr>
      </thead>
      <tbody>
        {% for order in customer.orders %}
        <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order danger{% endif %}">
          <td>{{ order.name | link_to: order.customer_url }}</td>
          <td><span class="note">{{ order.created_at | date: "%b %d, %Y" }}</span></td>
          <td><span class="status_{{ order.financial_status }}">{{ order.financial_status }}</span></td>
          <td><span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></td>
          <td><span class="total money">{{ order.total_price | money }}</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    <div class="alert alert-info"><i class="fa fa-info-circle"></i> You haven't placed any orders yet.</div>
  {% endif %}
  </div>
</div>


<div id="customer_details">
    <div class="account-gray-header">
    <h3>Your Account Settings</h3>
    <p>Rest assured your information is safe and secure.</p>
    </div>
    <dl class="dl-horizontal-left account-detail-wrapper">
      <!--<dt>Email:</dt>-->
      <p><span class="account-name">{{ customer.name }}</span><br/>{{ customer.email }}</p>
      <p><a href="/tools/checkout/front_end/login" class="text-link">Manage Subscription</a></p>
      <dt>Default Phone:</dt>
      <dd>{% if customer.default_address.phone %}{{ customer.default_address.phone }}{% else %}<span class="text-muted">No default phone number set</span>{% endif %}</dd>
      <dt>Default Address:</dt>
      <dd>
        {% if customer.default_address != nil %}
        <adddress>
          {{ customer.default_address.address1 }}<br>
          {% if customer.default_address.address2 != "" %}{{ customer.default_address.address2 }}<br>{% endif %}
          {{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}<br>
          {{ customer.default_address.zip}}<br>
        </adddress>
        {% else %}
          <span class="text-muted">No default address set</span><br>
        {% endif %}
        <a id="view_address" href="/account/addresses">View Addresses ({{ customer.addresses_count }})</a>
      </dd>
    </dl>
</div>


{% include '__containers-close' %}
</section>
