{% assign form-type = 'horizontal' %}
<section id="login-form" class="section-wrap">
	{% include '__containers-open' %}
<div class="col-md-7 col-md-offset-1 col-sm-7 col-xs-12">
	<div class="customer-login-form form-wrapper-horizontal">
		<h1>Log In</h1>
		{% include '_form-login' %}
	</div>

	<div class="customer-recover-password-form form-wrapper-horizontal">
		<h1 class="page-header">Reset Password</h1>
		{% include '_form-recover-password' %}
	</div>
</div>
<div class="col-md-4 col-sm-5 col-xs-12">
	{{ 'sleeping-guard-pup.jpg' | asset_url | img_tag }}
	<div class="gray-box">
		<h3>Don't have an account?</h3>
		<a class="btn btn-primary btn-default home-call-to-action-2" href="/account/register">Create Account</a>
	</div>
</div>
    
	{% comment %}
	Guest Login form for shops with optional customer accounts. This form is displayed only when users click on the checkout link
	on the cart page.
	{% endcomment %}

	{% if shop.checkout.guest_login %}
	<hr> 
	<div id="guest" class="col-md-7 col-md-offset-1">
		<h3 class="title">Guest Login</h3>
		{% form 'guest_login' %}
		<div class="form-group">
			<div class="col-lg-12">
				<input class="btn btn-default home-call-to-action-2" type="submit" value="Continue as Guest" />
			</div>
		</div>
		{% endform %}
	</div>
	{% endif %}
  	<aside class="rewards-section">

		<h3 class="rewards-title">Rewards Program | Earn Points, Save Money.</h3>

		<div class="col-md-5" style="padding:0;">

			<div class="col-md-12 earn-points-container" class="earn-points-container">

				<h4>How do I earn points?</h4>

				<div class="col-md-12">

					<h5>Make a Purchase</h5>

					<p>Get 1 point for every $1 you spend (excluding any shipping fees, taxes &amp; purchases of gift cards) </p>

				</div>

				<div class="col-md-12">

					<h5>Refer a Friend</h5>

					<p>Get a 30% Off discount code for every new referral that successfully completes a first-time purchase </p>

				</div>

			</div>

		</div>

		<div class="col-md-7" style="padding:0;">

			<div class="col-md-12 join-rewards-container">

				<h4>How do I join the Rewards Program?</h4>

				<p>Customers with store accounts are automatically enrolled. If you don't have one, create a store account to join today.</p>

			</div>

			<div class="col-md-12 redeem-rewards-container">

				<h4>How do I check my balance and redeem rewards?</h4>

				<p>Log in to your store account and go to the Redeem Rewards Page which can be accessed through the Rewards Widget located at the bottom of the store.</p>

			</div>

			<div class="col-md-12 use-rewards-container">

				<h4>How do I use my rewards?</h4>

				<p>Rewards are issued as discount codes that can be applied on the payment page during checkout (only one discount code per order).</p>

			</div>

		</div>

	</aside>
	{% include '__containers-close' %}
</section>