<section id="order" class="section-wrap">
	{% include '__containers-open' %}
	<div id="admin_header" class="clearfix">
		  <h4 class="page-header">Your Account</h4>
  			<h1>Hi, {{ customer.first_name }}!</h1>
		<div class="action_link action_return note pull-right" id='return_to_store'><a href="/account">Return to Account page</a></div>
	</div>


	<div class="order">
		<h3>Order {{ order.name }}</h3>
		<p class="order_date">{{ order.created_at | date: "%B %d, %Y" }}</p>
  
		{% if order.cancelled %}
		<div id="order_cancelled" class="alert alert-warning">
			<h5 id="order_cancelled_title">Order Cancelled <span class="note">on {{ order.cancelled_at | date: "%B %d, %Y %I:%M%p" }}</span></h5>
			<span class="note">{{ order.cancel_reason }}</span>
		</div>
		{% endif %}
  
		<div class="order-address">
			<div class="row">
				<div class="order-billing col col-md-6">
					<h4 class="order_section_title">Billing Address</h4>
					<p><strong>Payment Status:</strong> <span class="status_{{ order.financial_status }}">{{ order.financial_status }}</span></p>
        
					<address>
						{{ order.billing_address.name }}<br>
						{{ order.billing_address.company }}<br>
						{{ order.billing_address.street }}<br>
						{{ order.billing_address.city }}, {{ order.billing_address.province }}<br>
						{{ order.billing_address.country }} {{ order.billing_address.zip }}<br>
						{{ order.billing_address.phone }}
					</address>
				</div>
				<div class="order_shipping col col-md-6">
					{% if order.shipping_address %}
					<h4 class="order_section_title">Shipped To</h4>
					<p><strong>Fulfillment Status:</strong> <span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></p>
          
					<address>
						{{ order.shipping_address.name }}<br>
						{{ order.shipping_address.company }}<br>
						{{ order.shipping_address.street }}<br>
						{{ order.shipping_address.city }}, {{ order.shipping_address.province }}<br>
						{{ order.shipping_address.country }} {{ order.shipping_address.zip }}<br>
						{{ order.shipping_address.phone }}
					</address>
					{% endif %}
				</div>
			</div>
		</div>
  
		<div class="order-details table-responsive">
			<table class="table">
				<!--<thead>
					<tr>
						<th>Product</th>
						<th>SKU</th>
						<th>Quantity</th>
						<th class="money">Price</th>
						<th class="total money">Total</th>
					</tr>
				</thead>-->
				<tbody>
					{% for line_item in order.line_items %}
					<tr id="{{ line_item.id }}" class="{% cycle 'odd', 'even' %}">
						<td class="product-image">{{ line_item.image |  img_url: 'small' | img_tag }}</td>
						<td class="product">
							{{ line_item.title | link_to: line_item.product.url }}<br/>
							<small><a href="{{ line_item.product.url }}">Write a Product Review </a></small>
							{% if line_item.fulfillment %}
							<div class="note">
								Fulfilled {{ line_item.fulfillment.created_at | date: "%b %d" }}
								{% if line_item.fulfillment.tracking_number %}
								<a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
								{% endif %}
							</div>
							{% endif %}
						</td>
						<!--<td class="sku note">{{ line_item.sku }}</td>-->
						<td class="quantity">qty: {{ line_item.quantity }}</td>
						<td class="money">{{ line_item.price | money }}</td>
						<td class="total money">{{ line_item.quantity | times: line_item.price | money }}</td>
					</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td class="blank thin" colspan="5">&nbsp;</td>
					</tr>   
					<tr class="order_summary note">
						<td class="blank" colspan="3">&nbsp;</td>
						<td>Subtotal:</td>
						<td class="total money">{{ order.subtotal_price | money }}</td>
					</tr>   
    
					{% for discount in order.discounts %}
					<tr class="order_summary discount">
						<td class="blank" colspan="3">&nbsp;</td>
						<td>{{ discount.code }} Discount:</td>
						<td class="total money">{{ discount.savings | money }}</td>
					</tr>
					{% endfor %}
    
					{% for shipping_method in order.shipping_methods %}
					<tr class="order_summary note">
						<td class="blank" colspan="3">&nbsp;</td>
						<td>Shipping ({{ shipping_method.title }}):</td>
						<td class="total money">{{ shipping_method.price | money }}</td>
					</tr>
					{% endfor %}
        
					{% for tax_line in order.tax_lines %}
					<tr class="order_summary note">
						<td class="blank" colspan="3">&nbsp;</td>
						<td>Tax ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%):</td>
						<td class="total money">{{ tax_line.price | money }}</td>
					</tr>
					{% endfor %}    
                	<tr>
						<td class="blank" colspan="3">&nbsp;</td>
						<td colspan="2"><hr></td>
					</tr>
					<tr class="order_summary order_total">
						<td class="blank" colspan="3">&nbsp;</td>
						<td>Total:</td>
						<td class="total money">{{ order.total_price | money }} {{ order.currency }}</td>
					</tr>   
				</tfoot>  
			</table>
		</div>
	</div>
	{% include '__containers-close' %}
</section>