<!DOCTYPE html>
<html>
<head>
{% include 'limespot' %}
  {% include 'meta' %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {{ 'mgmenu.css' | asset_url | stylesheet_tag }}
  {{ '_base.scss.css' | asset_url | stylesheet_tag }}
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  {{ '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js' | script_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js' | script_tag }}
  {{ 'mgmenu.min.js' | asset_url | script_tag }}
  {{ 'mgmenu_plugins.js' | asset_url | script_tag }}
  <!--[if lt IE 9]>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    {% assign respond_js_secret_key = (shop.domain | md5) %}
    {{ 'respond.min.js' | asset_url | script_tag }}
    <link href="{{ 'respond-proxy.html' | asset_url | split: '?' | first }}" id="respond-proxy" rel="respond-proxy" />
    <link href="{{ shop.url }}/search?q={{ respond_js_secret_key }}" id="respond-redirect" rel="respond-redirect" />
    <script src="{{ shop.url }}/search?q={{ respond_js_secret_key }}" type="text/javascript"></script>
  <![endif]-->
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'bootstrapify-option-selection.min.js' | asset_url | script_tag }}
  {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}
  {% if settings.custom-header-code != '' %}
    {{ settings.custom-header-code }}
  {% endif %}
  {{ content_for_header }}
  {% include 'theme-script-variables' %}
  {% include 'theme-variables' %}
  <script src="https://use.typekit.net/wtu4swq.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7562474/689128/css/fonts.css" />
  <script>
    $(document).ready(function($){
        $('#mgmenu1').universalMegaMenu({
            menu_effect: 'hover_fade',
            menu_speed_show: 300,
            menu_speed_hide: 200,
            menu_speed_delay: 200,
            menu_click_outside: true,
            menubar_trigger : false,
            menubar_hide : false,
            menu_responsive: true
        });
    });
  </script>
</head>
<!--[if IE]><body class="{% include '__body-classes' %} ie"> <![endif]-->
<!--[if !(IE)]><!--> <body class="{% include '__body-classes' %} {% if page.handle == 'faq' %}faq-bg{% endif %} {% if page.handle == 'compare' %}compare-bg{% endif %} {% if page.handle == 'about-shark-tank' %}shark-bg{% endif %} {% if template == 'cart' %}cart-bg{% endif %} {% if template == '404' %}page-404-bg{% endif %} {% if page.handle == 'press' %}press-bg{% endif %} {% if template == 'customers/order' %}account-bg{% endif %} {% if template == 'customers/account' %}account-bg{% endif %} "> <!--<![endif]-->
  <div id="wrap">
    {% if template == 'index' %}
    <div id="home-bg-wrapper"><!-- div closed on index page -->
    {% endif %}
    {% include 'header' %}
    {% if template == 'index' %}
      {% include 'home-page-hero' %}
    {% endif %}
    <div id="content">
		{{ content_for_layout }}
<limespot></limespot>
		
		{% if has_sidebar and settings[sidebar_template] %}
			</div>
			{% include 'sidebar' %}
			{% unless has_window_width_thumbnail_container %}</div></div>{% endunless %}
		{% endif %}
    </div>
    {% include 'footer' %}
  </div>
  {% include 'option-select-callback' %}
  {% include 'currencies' %}
  {{ '_base.js' | asset_url | script_tag }}
  {{ 'jquery.ajax-cart.min.js' | asset_url | script_tag }}
  {{ 'jquery.uniform_thumbnails.min.js' | asset_url | script_tag }}
  {{ 'jquery.orderly.min.js' | asset_url | script_tag }}
  {{ 'isotope.pkgd.min.js' | asset_url | script_tag }}
  {{ 'transition.js' | asset_url | script_tag }}
  {{ 'button.js' | asset_url | script_tag }}
  {{ 'carousel.js' | asset_url | script_tag }}
  {{ 'collapse.js' | asset_url | script_tag }}
  {{ 'dropdown.js' | asset_url | script_tag }}
  {{ 'modal.js' | asset_url | script_tag }}
  {{ 'tab.js' | asset_url | script_tag }}
  {{ 'tooltip.js' | asset_url | script_tag }}
  {{ 'popover.js' | asset_url | script_tag }}
  {{ 'typeahead.js' | asset_url | script_tag }}
  {{ 'jquery.instagram.min.js' | asset_url | script_tag }}
  {% if settings.enable-image-zoom %}{{ 'jquery.zoom.min.js' | asset_url | script_tag }}{% endif %}
  {% if settings.enable-image-lightbox %}{{ 'jquery.colorbox-min.js' | asset_url | script_tag }}{% endif %}
  {% if settings.enable-age-verification %}{% include 'age-check' %}{% endif %}
  {% if settings.custom-footer-code != '' %}
    {{ settings.custom-footer-code }}
  {% endif %}
  <script type="text/javascript">
    {% unless current_handle == blank %}
      $('.handle_{{ current_handle }}').parents('.collapse').addClass('in');
    {% endunless %}
	
  	{% if settings.instagram-feed and settings.instagram-client-id != blank %}
  	  if(instagramThumbnailClass === undefined){
    		var instagramThumbnailClass = "{% include '__thumbnail-span' %}";
    	}
    	$(function(){
  			$('#instagram-widget').bootstrapifyInstagram({
  				thumbClass: instagramThumbnailClass
  			});
  		});
  	{% endif %}
  
    {% if thumbnail_layout == 'masonry' %}
      var $container = $('.masonry-collection').imagesLoaded(function(){
        $container.isotope({
          itemSelector: '.masonry',
          layoutMode: 'masonry'
        });
        
        $('.product-main-thumb').orderly();
      });
    {% else %}
    	if(uniformThumbnailElements === undefined){
    		var uniformThumbnailElements = '.thumbnail-image a, .product-main-thumb a';
    	}
	  
      var uniformThumbnailsOpts = {};
      {% if settings.thumbnail-alignment != blank %} uniformThumbnailsOpts.align = '{{ settings.thumbnail-alignment }}'; {% endif %}
      {% if settings.thumbnail-ratio != blank %} uniformThumbnailsOpts.ratio = '{{ settings.thumbnail-ratio }}'; {% endif %}
      {% if settings.thumbnails-cropped == blank %} uniformThumbnailsOpts.fit = 'scale'; {% endif %}
      $(uniformThumbnailElements).uniform_thumbnails(uniformThumbnailsOpts).on('ut_complete', function(){
        //$('.collection-thumbnail .caption').orderly({ method: 'children' });
        //$('.product-thumbnail .caption').orderly({ method: 'children' });
        $('.row').find('.caption').orderly({ method: 'children' });
      });
    {% endif %}
    
    $(document).ready(function(){
      $('.search-bar').typeahead({
        name: 'Products',
        local: [{{ typeahead }}]
      }).on('typeahead:selected', function (object, datum) {
        $(this).closest('form').submit();
      });
    });
	
	{% if settings.ajax-cart %}
		$(document).ajaxCart();
	{% endif %}
  </script>
  {{ 'jquery.enllax.min.js' | asset_url | script_tag }}
  <script>
        (function($){
            //Plugin activation
            $(window).enllax();
           //$('.bottle-parralax').enllax();
//            $('.bottle-parralax').enllax({
//                type: 'background', // 'foreground'
//                ratio: 0.5,
//                direction: 'vertical' // 'horizontal'
//            });
        })(jQuery);
    </script>
<script>
jQuery(function() {
  jQuery('.swatch :radio').change(function() {
    var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
    var optionValue = jQuery(this).val();
    jQuery(this)
      .closest('form')
      .find('.single-option-selector')
      .eq(optionIndex)
      .val(optionValue)
      .trigger('change');
  });
});
</script>
{% if page.handle == 'compare' %}
<script type="text/javascript">
  $(document).ready(function() { 
    $('#on-green').click(function() {  
          var overlay_items = $('.qa-box').find('.qa-overlay-content');
          overlay_items.each(function() {
              $(this).fadeOut();
          });
         $('#on-green-overlay-content').fadeIn();     
    });  
    $('#on-safety').click(function() {  
          var overlay_items = $('.qa-box').find('.qa-overlay-content');
          overlay_items.each(function() {
              $(this).fadeOut();
          });
         $('#on-safety-overlay-content').fadeIn();     
    });
    $('#on-scents').click(function() { 
          var overlay_items = $('.qa-box').find('.qa-overlay-content');
          overlay_items.each(function() {
              $(this).fadeOut();
          }); 
         $('#on-scents-overlay-content').fadeIn();     
    });
    $('#on-label').click(function() {  
          var overlay_items = $('.qa-box').find('.qa-overlay-content');
          overlay_items.each(function() {
              $(this).fadeOut();
          });
         $('#on-labeling-overlay-content').fadeIn();     
    });
    $('#vs-homemade').click(function() {  
         $('#vs-cleaners-overlay-content').fadeIn();     
    });
    $('#vs-disinfectants').click(function() {  
          var overlay_items = $('.qa-box').find('.qa-overlay-content');
          overlay_items.each(function() {
              $(this).fadeOut();
          });
         $('#vs-disinfectants-overlay-content').fadeIn();     
    });
    $('#on-value').click(function() {  
          var overlay_items = $('.qa-box').find('.qa-overlay-content');
          overlay_items.each(function() {
              $(this).fadeOut();
          });
         $('#on-value-overlay-content').fadeIn();     
    });
    $('.qa-close-btn').on("click", function () {
      $(this).parent().fadeOut();
    });
});
</script>
{% endif %}
{% if page.handle == 'faq' %}
<script type="text/javascript">
    $(document).ready(function () {
      location.hash && $(location.hash + '.collapse').collapse('show');
    });
</script>
{% endif %}
{% if template != "cart" %}
{{ "api.jquery.js" | asset_url | script_tag }}
{{ "ajaxify-shop.js" | asset_url | script_tag }}
{% endif %}
<!-- Script code for vidoe bg -->
<!--{% comment %}{% if template == 'index' %} 
    {{ 'jquery.videobackground.js' | asset_url | script_tag }}
    <script type="text/javascript">
    $('body').prepend('<div class="video-background"></div>');
        $('.video-background').videobackground({
          videoSource: [['//cdn.shopify.com/s/files/1/0953/6434/t/2/assets/bg-loop.mp4?10235049421847225168', 'video/mp4'],
            ['//cdn.shopify.com/s/files/1/0953/6434/t/2/assets/bg-loop.mp4?10235049421847225168', 'video/webm'], 
            ['//cdn.shopify.com/s/files/1/0953/6434/t/2/assets/bg-loop.mp4?10235049421847225168', 'video/ogg']], 
          //controlPosition: '#main',
          poster: 'video/big-buck-bunny.jpg',
          loop: 'true',
          loadedCallback: function() {
            $(this).videobackground('mute');
          }
        });
    </script>
{% endif %}{% endcomment %}-->


</body>
</html>