<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'limespot-global-head-includes' %}
  {% case page.handle %}
    {% when 'sports-drink-share' %}
      {% include 'meta-sport-drink' %}
    {% when 'customer-ideas-share' %}
      {% include 'meta-customer-ideas' %}
    {% when 'live-tv-share' %}
      {% include 'meta-live-tv' %}
    {% when 'shark-tank-share' %}
      {% include 'meta-shark-tank' %}
    {% when 'becoming-better-life-share' %}
      {% include 'meta-becoming-better-life' %}
  {% endcase %}
  {% assign video_campaign = "sports-drink-share,customer-ideas-share,live-tv-share,shark-tank-share,becoming-better-life-share" | split: ',' %}
  {% unless video_campaign contains page.handle %}
    {% include 'meta' %}
  {% endunless %}
  {{ 'mgmenu.min.css' | asset_url | stylesheet_tag }}
  {{ '_base.scss.css' | asset_url | stylesheet_tag }}
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  {% if template == 'cart' %}
    {{ '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js' | script_tag }}
  {% endif %}

  <!--[if lt IE 9]>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    {% assign respond_js_secret_key = (shop.domain | md5) %}
    {{ 'respond.min.js' | asset_url | script_tag }}
    <link href="{{ 'respond-proxy.html' | asset_url | split: '?' | first }}" id="respond-proxy" rel="respond-proxy" />
    <link href="{{ shop.url }}/search?q={{ respond_js_secret_key }}" id="respond-redirect" rel="respond-redirect" />
    <script src="{{ shop.url }}/search?q={{ respond_js_secret_key }}" type="text/javascript"></script>
  <![endif]-->

  {% if settings.custom-header-code != '' %}
    {{ settings.custom-header-code }}
  {% endif %}
  {{ content_for_header }}
  {% include 'theme-script-variables' %}
  {% include 'theme-variables' %}
  {% if template == 'blog.videos' %}
    <link rel="stylesheet" href="{{ 'jquery.bxslider.css' | asset_url }}" type="text/css" />
  {% endif %}
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7562474/689128/css/fonts.css" />
  <!-- fonts -->
  <script src="https://use.typekit.net/wtu4swq.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <!-- end fonts -->
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon" />
  <link rel="apple-touch-icon" href="{{ 'apple-touch-icon.png' | asset_url }}" />
  <link rel="apple-touch-icon" sizes="57x57" href="{{ 'apple-touch-icon-57x57.png' | asset_url }}" />
  <link rel="apple-touch-icon" sizes="72x72" href="{{ 'apple-touch-icon-72x72.png' | asset_url }}" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{ 'apple-touch-icon-76x76.png' | asset_url }}" />
  <link rel="apple-touch-icon" sizes="114x114" href="{{ 'apple-touch-icon-114x114.png' | asset_url }}" />
  <link rel="apple-touch-icon" sizes="120x120" href="{{ 'apple-touch-icon-120x120.png' | asset_url }}" />
  <link rel="apple-touch-icon" sizes="144x144" href="{{ 'apple-touch-icon-144x144.png' | asset_url }}" />
  <link rel="apple-touch-icon" sizes="152x152" href="{{ 'apple-touch-icon-152x152.png' | asset_url }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon-180x180.png' | asset_url }}" />
</head>
<!--[if IE]><body class="{% include '__body-classes' %} ie"> <![endif]-->
<!--[if !(IE)]><!--> <body class="{% include '__body-classes' %} {% if page.handle == 'faq' %}faq-bg{% endif %} {% if page.handle == 'compare' or page.handle == 'retailer-thank-you' or page.handle == 'newsletter-thanks-for-signing-up' or page.handle == 'find-a-store-new' or page.template_suffix =='compare-biokleen' or page.template_suffix == 'compare-green-works' or page.template_suffix == 'compare-honest-company' or page.template_suffix == 'compare-method' or page.template_suffix == 'compare-mrs-meyers' or page.template_suffix == 'compare-seventh-generation' or page.template_suffix == 'compare-custom' %}compare-bg{% endif %} {% if page.handle == 'about-shark-tank' %}shark-bg{% endif %} {% if template == 'cart' %}cart-bg{% endif %} {% if template == '404' %}page-404-bg{% endif %} {% if page.handle == 'press' %}press-bg{% endif %} {% if template == 'customers/order' %}account-bg{% endif %} {% if template == 'customers/account' %}account-bg{% endif %}"> <!--<![endif]-->


{% assign first_time_visitor = true %}
{% if first_time_visitor == true %}
  <!--<div id="banner">
     
<div id="mc_embed_signup">
<form action="https://cleanhappens.us2.list-manage.com/subscribe/post?u=49c891c4b7723d9be668988ac&amp;id=ad62d6a7e1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
          <p id="close">X</p>
          <p>Sign up and get 10% off your first order!</p>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="EMAIL ADDRESS" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <!--<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_49c891c4b7723d9be668988ac_ad62d6a7e1" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>-->
{% endif %}

{% if page.handle == 'thanks-for-subscribing' or page.handle == 'subscribe' or page.handle == 'subscribe-social'  %}

{% else %}

<!--Half-Width Modal-->
<div id="full-width-modal">
<div class="modal fade" id="mailchimp-modal" tabindex="-1" role="dialog" aria-labelledby="mailchimp-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span>Close</span> <img src="{{ 'close-icon.png' | asset_url }}" /></button>
          <div class="col-md-6">
            <h2>Are Your Cleaning Products Keeping Dirty Secrets? (Ours Aren't)</h2>
            <img src="{{ 'bottle-trio.png' | asset_url }}" title="All Purpose Bottles" />
          </div>
          <div class="col-md-6 text-center">
            <div id="sign-up-block">
            <h4>Sign up to Download Our</h4>
            <h3>Natural Cleaning Guide</h3>
            <p>Discover the true meaning of words like natural and non-toxic, which ingredients you should be on the lookout for, and more.</p>
            <p>You'll also receive <span class="pink-highlight">10% off</span> your next<br/> <span class="pink-highlight">BETTER LIFE</span> order!</p>
            <div id="mc_embed_signup">
                            <form action="https://betterlifecleaning.us20.list-manage.com/subscribe/post?u=0577a3042f18491590342096a&amp;id=f568692d52&SIGNUP=HalfScreenPopup" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                            <!--<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>-->
                            <div class="mc-field-group">
                              <!--<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                            </label>-->
                              <input placeholder="Enter Your Email" type="email" value="" name="EMAIL" class="required email home-email-signup" id="mce-EMAIL">
                            </div>
                              <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_49c891c4b7723d9be668988ac_ad62d6a7e1" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="SIGN UP" name="subscribe" id="mc-embedded-subscribe-footer" class="btn btn-default home-call-to-action"></div>
                                </div>
                            </form>
                            </div>
                            <div class="no-thank-you-btn col-md-12">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span>No Thank You.</span></button>
                            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!--End of Modal-->
{% endif %}

<!--End mc_embed_signup-->
  </div>
  <div id="region_collapse" class="collapse">
    <div class="region_detect">
      <p>
        <?xml version="1.0" encoding="utf-8"?>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 497.39 326.97" style="enable-background:new 0 0 497.39 326.97;" xml:space="preserve">
          <g>
            <polygon points="209.04,65.26 209.03,47.39 457.54,47.39 457.54,65.26 	"/>
            <rect x="43.53" y="47.13" width="152.69" height="127.48"/>
            <polygon points="209.04,101.71 209.03,83.84 457.54,83.84 457.54,101.71 	"/>
            <polygon points="209.04,138.16 209.03,120.29 457.54,120.29 457.54,138.16 	"/>
            <polygon points="209.04,174.62 209.03,156.74 457.54,156.74 457.54,174.62 	"/>
            <polygon points="43.55,211.07 43.53,193.2 457.54,193.2 457.54,211.07 	"/>
            <polygon points="43.55,247.52 43.53,229.65 457.54,229.65 457.54,247.52 	"/>
            <polygon points="43.55,283.98 43.53,266.1 457.54,266.1 457.54,283.98 	"/>
          </g>
        </svg>
        It appears you are accessing our site from the United States. CLICK <a href="https://www.cleanhappens.com/" rel="nofollow"> HERE </a> TO VISIT OUR US SITE.
        <span id="close_region_detect" onclick="closeRegionDetect()"></span>
      </p>
    </div>
  </div>
  <div id="wrap">
    {% if template == 'index' %}
    <div id="home-bg-wrapper"><!-- div closed on index page -->
    {% endif %}
    {% include 'header' %}
    {% if template == 'index' %}
      {% include 'home-page-hero' %}
    {% endif %}
    <div id="content">
    {{ content_for_layout }}
    
    {% if has_sidebar and settings[sidebar_template] %}
      </div>
      {% include 'sidebar' %}
      {% unless has_window_width_thumbnail_container %}</div></div>{% endunless %}
    {% endif %}
    </div>
    {% include 'footer' %}
  </div>
  {% include 'option-select-callback' %}
  {% include 'currencies' %}
  {% include "sloyalty-statusbar" %}
  {% include 'theme-scripts' %}
  <link href="https://limespot.azureedge.net/storefront/2.0.0/css/recommendations.min.css" rel="stylesheet" />
  {% include 'back-in-stock-helper' %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script>
    if (navigator.appVersion.indexOf("Win")!=-1) {
      $("#about-top-level").mouseover(function() {
        $("#about-dropdown").css("display", "block");
      });

      $("#about-top-level").mouseout(function() {
        $("#about-dropdown").css("display", "none");
      });

      $("#shop-top-level").mouseover(function() {
        $("#shop-dropdown").css("display", "block");
      });

      $("#shop-top-level").mouseout(function() {
        $("#shop-dropdown").css("display", "none");
      });
    }

    $(document).ready(function() {
      /*fetch(`https://ipapi.co/json/`)
        .then(function(response) {
          return response.json();
        })
        .then(function(ipInfo) {
          if (ipInfo.country == "US") {
            $("#region_collapse").collapse('show');
          }
        });*/

      if ($.cookie('region_banner_shown') == null) {
        $.cookie('region_banner_shown', 'yes', { expires: 365, path: '/' });
        fetch(`https://ipapi.co/json/`)
        .then(function(response) {
          return response.json();
        })
        .then(function(ipInfo) {
          if (ipInfo.country == "US") {
            $("#region_collapse").collapse('show');
          }
        });
      }
    });

    function closeRegionDetect() {
      $("#region_collapse").collapse('hide');
    }
  </script>
  <script type="text/javascript">
    $(window).on('load',function(){
      
      if ($.cookie('modal_shown') == null) {
        $.cookie('modal_shown', 'yes', { expires: 365, path: '/' });
        setTimeout(function(){
          $('#mailchimp-modal').modal('show');
        }, 5000);
      }

      if ($.cookie('region_banner_shown') == null) {
        $.cookie('region_banner_shown', 'yes', { expires: 365, path: '/' });
        fetch(`https://ipapi.co/json/`)
        .then(function(response) {
          return response.json();
        })
        .then(function(ipInfo) {
          if (ipInfo.country == "CA") {
            $("#region_collapse").collapse('show');
          }
        });
      }
      
    });
</script>
</body>
</html>