<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'limespot-global-head-includes' %}
  {% include 'meta' %}
  {{ 'mgmenu.min.css' | asset_url | stylesheet_tag }}
  {{ '_base.scss.css' | asset_url | stylesheet_tag }}
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  {% if template == 'cart' %}
    {{ '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js' | script_tag }}
  {% endif %}

  <!--[if lt IE 9]>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    {% assign respond_js_secret_key = (shop.domain | md5) %}
    {{ 'respond.min.js' | asset_url | script_tag }}
    <link href="{{ 'respond-proxy.html' | asset_url | split: '?' | first }}" id="respond-proxy" rel="respond-proxy" />
    <link href="{{ shop.url }}/search?q={{ respond_js_secret_key }}" id="respond-redirect" rel="respond-redirect" />
    <script src="{{ shop.url }}/search?q={{ respond_js_secret_key }}" type="text/javascript"></script>
  <![endif]-->

  {% if settings.custom-header-code != '' %}
    {{ settings.custom-header-code }}
  {% endif %}
  {{ content_for_header }}
  {% include 'theme-script-variables' %}
  {% include 'theme-variables' %}
  {% if template == 'blog.videos' %}
    <link rel="stylesheet" href="{{ 'jquery.bxslider.css' | asset_url }}" type="text/css" />
  {% endif %}
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7562474/689128/css/fonts.css" />
  <!-- fonts -->
  <script src="https://use.typekit.net/wtu4swq.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <!-- end fonts -->
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon" />
  <link rel="apple-touch-icon" href="{{ 'apple-touch-icon.png' | asset_url }}" />
  <link rel="apple-touch-icon" sizes="57x57" href="{{ 'apple-touch-icon-57x57.png' | asset_url }}" />
  <link rel="apple-touch-icon" sizes="72x72" href="{{ 'apple-touch-icon-72x72.png' | asset_url }}" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{ 'apple-touch-icon-76x76.png' | asset_url }}" />
  <link rel="apple-touch-icon" sizes="114x114" href="{{ 'apple-touch-icon-114x114.png' | asset_url }}" />
  <link rel="apple-touch-icon" sizes="120x120" href="{{ 'apple-touch-icon-120x120.png' | asset_url }}" />
  <link rel="apple-touch-icon" sizes="144x144" href="{{ 'apple-touch-icon-144x144.png' | asset_url }}" />
  <link rel="apple-touch-icon" sizes="152x152" href="{{ 'apple-touch-icon-152x152.png' | asset_url }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon-180x180.png' | asset_url }}" />
</head>
<!--[if IE]><body class="{% include '__body-classes' %} ie"> <![endif]-->
<!--[if !(IE)]><!--> <body class="subscribeMBG col-12 center-block"> <!--<![endif]-->
<div id="wrap"> 
  {% include 'header' %}
  {{ content_for_layout }}
  {% include 'footer' %}
</div>
  {% include 'theme-scripts' %}
</body>
</html>