<div id="product-uses-directions" class="bg-{{ product.variants.first.sku }}">
	<!-- Uses and Directions for Kitchen & Bath Scrubber -->
	<p><strong>Scrub it on</strong> tubs, tile, grout, toilet bowls, stovetops, glass cooktops, ovens, stainless steel sinks, pots, pans, porcelain, ceramic, enamel, non-polished countertops, stone, cultured stone, and stone with bad manners, too.</p>
	<p><strong>Directions.</strong> Shake well and apply directly to the surface. Rub with a dry scrub pad, sponge, or cloth. Rinse for a stunning shine (and leave the scratches to the DJs).</p>
</div>
<div id="features-ingredients-tabs">
	<ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#features" aria-controls="features" role="tab" data-toggle="tab">Features</a></li>
	    <li role="presentation"><a href="#ingredients" aria-controls="ingredients" role="tab" data-toggle="tab">Ingredients</a></li>
	</ul>
	<!-- Tab panes -->
  	<div class="tab-content">
  		
    	<div role="tabpanel" class="tab-pane active in fade" id="features">
    		{{ 'kitchen-scrubber-floorplan.gif' | asset_url | img_tag }}
			<h3>Scented with essential oils and botanical extracts</h3>
			<p class="statement-emphasized">Better Life's kitchen and bath scrubber <strong>NEVER</strong> contains:</p>
			<div class="row">
				<div class="col-sm-6">
					<ul>
						<li>Sodium lauryl/laureth sulfates</li>
						<li>Ethoxylates</li>
						<li>Petroleum solvent</li>
						<li>Synthetic fragrances</li>
						<li>Bleach</li>
					</ul>
				</div>
				<div class="col-sm-6">
					<ul>
						<li>Dyes</li>
						<li>Parabens</li>
						<li>Ethers</li>
						<li>Alcohol</li>
					</ul>
				</div>
			</div>
			<br>
			<ul>
			<li>Safe around kids, pets, and the planet</li>
			<li>Never tested on animals</li>
			<li>Kind to waterways and marine life</li>
			<li>Made in the USA with solar energy</li>
			</ul>
			<br>
			<p>Looking for Better Life’s <strong>Even the Kitchen Sink</strong> kitchen and bath scrubber? This is it! New look, same great product. <a href="#">Learn more.</a></p>
    	</div>
    	<div role="tabpanel" class="tab-pane fade" id="ingredients">
    		<p>Unscented</p>
			<table class="product-ingredients-table">
				<tr>
					<th>INGREDIENT</th>
					<th>SOURCE</th>
					<th>PURPOSE</th>
				</tr>
				<tr>
					<td>Purified water</td>
					<td>Local source</td>
					<td>Consistency</td>
				</tr>
				<tr>
					<td>Calcium carbonate</td>	
					<td>Purified calcium</td>
					<td>Gentle natural abrasive</td>
				</tr>
				<tr>
					<td>Decyl glucoside</td>	
					<td>Corn and coconut oil</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Potassium cocoate</td>
					<td>Coconut oil and soda ash</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Cetyl alcohol</td>	
					<td>Vegetable oil</td>
					<td>Natural wax</td>
				</tr>
				<tr>
					<td>Cocos nucifera oil</td>		
					<td>Coconut</td>
					<td>Cleaning agent, surfactant</td>
				</tr>
				<tr>
					<td>Cetearyl alcohol</td>
					<td>Vegetable oil</td>
					<td>Natural Wax</td>
				</tr>
				<tr>
					<td>Xanthan gum</td>
					<td>Vegetable matter</td>
					<td>Thickener</td>
				</tr>
				<tr>
					<td>Methytdsothiazotdnone (less than 0.01%)</td>
					<td>Synthetic</td>
					<td>Preservative to guard freshness</td>
				</tr>
			</table>
    	</div>
  	</div>
</div>