/*html, body {
  width: 100%;
  height: 100%; }

body {
  font-size: 17px;
  background-color: black; }*/

.grid {
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 100%;
  overflow: hidden; }
  .grid li {
    height: 420px;
    color: white;
    display: block;
    cursor: pointer;
    position: relative;
    margin: 0;
    z-index: 0;
    background-color: black;
    box-shadow: none; }
    .grid li.open {
      z-index: 9000; }
    .grid li:hover {
      z-index: 10; }
      .grid li:hover .item-bg {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05); }
      .grid li:hover .item-name h1 {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        transition-delay: 0s; }
      .grid li:hover .item-name p {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        -webkit-transition-delay: 0.1s;
        -moz-transition-delay: 0.1s;
        transition-delay: 0.1s; }
  .grid .item-bg {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s; }
  .grid .item-name {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center; }
  .grid .item-name-inner {
    display: table-cell;
    vertical-align: middle; }
    .grid .item-name-inner h1 {
      -webkit-transition: all 0.2s 0.05s;
      -moz-transition: all 0.2s 0.05s;
      transition: all 0.2s 0.05s;
      -webkit-transform: translate(0, 25px);
      -moz-transform: translate(0, 25px);
      -ms-transform: translate(0, 25px);
      -o-transform: translate(0, 25px);
      transform: translate(0, 25px); }
      .grid .item-name-inner h1 small {
        display: block;
        text-transform: uppercase;
        color: white;
        font-size: 14px;
        margin-bottom: 15px;
        font-weight: 400;
        letter-spacing: 0.05em; }
      .grid .item-name-inner h1 b {
        display: block;
        margin-bottom: 50px;
        font-size: 42px;
        font-weight: 200; }
    .grid .item-name-inner p {
      font-size: 18px;
      font-weight: 200;
      border-bottom: 2px solid white;
      display: inline-block;
      padding-bottom: 8px;
      letter-spacing: 0.05em;
      opacity: 0;
      -webkit-transition: all 0.2s 0s;
      -moz-transition: all 0.2s 0s;
      transition: all 0.2s 0s;
      -webkit-transform: translate(0, 25px);
      -moz-transform: translate(0, 25px);
      -ms-transform: translate(0, 25px);
      -o-transform: translate(0, 25px);
      transform: translate(0, 25px); }
  .grid .item-overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: -1;
    background-size: cover !important;
    pointer-events: none;
    cursor: default;
    overflow: auto;
    -webkit-overflow-scrolling: touch; }
  .grid .item-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 80px 60px 60px; }
    .grid .item-content h2 {
      font-size: 80px;
      margin-bottom: 50px;
      margin-top: 0;
      font-weight: 200; }
    .grid .item-content p {
      margin-bottom: 25px; }
    .grid .item-content .image {
      display: block;
      margin: 50px -80px 50px; }
      .grid .item-content .image img {
        width: 100%; }
  .grid .close {
    cursor: pointer;
    z-index: 1000;
    text-shadow: none;
    color: white;
    font-weight: 100;
    font-size: 90px;
    opacity: 0.7;
    position: fixed;
    top: 0px;
    right: 40px; }
    .grid .close:hover {
      opacity: 1; }

.grid li:nth-child(1) .item-bg, .grid li:nth-child(1) .item-overlay {
  background-color: #fc5e6a; }
.grid li:nth-child(2) .item-bg, .grid li:nth-child(2) .item-overlay {
  background-color: #fe9e69; }
.grid li:nth-child(3) .item-bg, .grid li:nth-child(3) .item-overlay {
  background-color: #efcd57; }
.grid li:nth-child(4) .item-bg, .grid li:nth-child(4) .item-overlay {
  background-color: #b9de7f; }
.grid li:nth-child(5) .item-bg, .grid li:nth-child(5) .item-overlay {
  background-color: #5fd5c0; }
.grid li:nth-child(6) .item-bg, .grid li:nth-child(6) .item-overlay {
  background-color: #7bc8e5; }
.grid li:nth-child(7) .item-bg, .grid li:nth-child(7) .item-overlay {
  background-color: #4e4e93; }
.grid li:nth-child(8) .item-bg, .grid li:nth-child(8) .item-overlay {
  background-color: #bf8dc8; }

@media (max-width: 992px) {
  .grid .item-content {
    padding: 40px; }
    .grid .item-content .image {
      margin-left: 0;
      margin-right: 0; } }
@media (max-width: 768px) {
  .grid .item-content {
    padding: 40px 30px; }
    .grid .item-content h2 {
      font-size: 50px;
      margin-bottom: 30px;
      margin-top: 0;
      font-weight: 200; }
    .grid .item-content .image {
      margin: 30px 0; }
  .grid .close {
    font-size: 50px;
    top: 0px;
    right: 30px;
    font-weight: 200; } }
