<section id="404" class="section-wrap content-404">
	{% include '__containers-open' %}
	<h1>Welp. This Isn't Right.</h1>
	<p>We can't seem to find the page that you are looking for. Lets try this again.</p>
	<form method="get" action="/search">
		<div class="col-md-6 col-sm-8 col-xs-12 col-md-offset-3">
    	<input placeholder="Find what you're looking for here"  type="text" name="q" />
    	</div>
    	<div class="col-md-2 col-sm-4 col-xs-6 col-xs-offset-3 col-md-offset-5">
    	<input type="submit" value="Search" class="purchase-btn btn-primary" />
    	</div>
	</form>
	{% include '__containers-close' %}
</section>