{% include 'theme-variables' %}
<section id="article-wrap" class="section-wrap">
	<div class="container" id="mobile-tag-nav">
		<div class="row">
			<div class="col-sm-12">
				<div id="blog-tag-nav-side">
					<ul>
					{% for tag in blogs.better-life.tags %}
					{% if tag.handle == 'green' or tag.handle == 'misc' or tag.handle == 'product-news' or tag.handle == 'tips-tricks' %}
						{% if forloop.last == true %}
						<li><a class="tag-filter-link {% if tag == article.tags.first %}tag-active{% endif %}" href="/blogs/better-life/tagged/{{ tag | handle }}">{{ tag }}</a></li>
						{% else %}
						<li><a class="tag-filter-link {% if tag == article.tags.first %}tag-active{% endif %}" href="/blogs/better-life/tagged/{{ tag | handle }}">{{ tag }}</a> <span class="mobile-tag-separator">|</span></li>
						{% endif %}
					{% endif %}
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-md-offset-3">
			 	<p class="date-stamp stamp-{{ article.tags.first }}">{{ article.published_at | date: "%B %d, %Y" }}</p>
			 	<h3 class="blog-article-title"><a href="{{ article.url }}">{{ article.title }}</a></h3>
				 	{% for tag in article.tags %}
						<a class="excerpt-tag-link" href="/blogs/better-life/tagged/{{ tag | handle }}">{{ tag }}</a>
					{% endfor %}
					{% include 'addthis' %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-3" id="article-left-content">
				<div id="blog-tag-nav-side">
					<ul>
					{% for tag in blogs.better-life.tags %}
					{% if tag.handle == 'green' or tag.handle == 'misc' or tag.handle == 'product-news' or tag.handle == 'tips-tricks' %}
						<li><a class="tag-filter-link {% if tag == article.tags.first %}tag-active{% endif %}" href="/blogs/better-life/tagged/{{ tag | handle }}">{{ tag }}</a></li>
					{% endif %}
					{% endfor %}
					</ul>
				</div>
				<div id="mailing-list">
		          <div id="mailing-list-container">
		              <h4>Join Our<br>Mailing List</h4>
		              <p>For discounts, new product news, and tips.</p>
		              <div id="mc_embed_signup">
			                <form action="//cleanhappens.us2.list-manage.com/subscribe/post?u=49c891c4b7723d9be668988ac&amp;id=ad62d6a7e1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			                    <div id="mc_embed_signup_scroll">
			                <!--<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>-->
			                <div class="mc-field-group">
			                  <!--<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
			                </label>-->
			                  <input placeholder="E-mail Address" type="email" value="" name="EMAIL" class="required email home-email-signup" id="mce-EMAIL">
			                </div>
			                  <div id="mce-responses" class="clear">
			                    <div class="response" id="mce-error-response" style="display:none"></div>
			                    <div class="response" id="mce-success-response" style="display:none"></div>
			                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_49c891c4b7723d9be668988ac_ad62d6a7e1" tabindex="-1" value=""></div>
			                    <div class="clear"><input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default home-call-to-action-2"></div>
			                    </div>
			                </form>
			              </div>
		          </div>
		        </div>
		        {% include 'featured-product' %}
			</div>
			<div class="col-md-9 col-sm-12">
				{{ article.content }}
				{% include 'addthis' %}
				{% if blog.previous_article or blog.next_article %}
				<div id="blog-pagination">
				<ul class="blog-pagination">
				{% if blog.previous_article %}
					<li class="active"><a href="{{ blog.previous_article }}">< NEWER</a></li>
				{% else %}
					<li>< NEWER</li>
				{% endif %}
					<li class="blog-paginate-separator">|</li> 
	        		<!--<li>{{ blog.title | link_to: blog.url }}</li>-->
				{% if blog.next_article %}
					<li class="active"><a href="{{ blog.next_article }}">OLDER ></a></li>
				{% else %}
					<li>OLDER ></li>
				{% endif %}
				</ul>
				</div>
				{% endif %}
				<div class="row" id="related-posts-header">
				 	<div class="col-md-12">
				 		<h4>Related Posts</h4>
				 	</div>
				</div>
				<div class="row">
					{% assign article_tag = article.tags.first %}
					{% assign article_index = 0 %}
					{% for article in blog.articles %}
					{% if article.tags.first == article_tag %}
					{% assign article_index = article_index | plus: 1 %}
					{% if article_index < 4 %}
					<div class="col-md-4 col-sm-6 col-xs-12 article-capsule-article">
							{% if article.content contains 'img' %}
	    						{% assign src = article.content | split: 'src="' %}
	    						{% assign src = src[1] | split: '"' | first %}
	    						<img src="{{ src }}" alt="test-excerpt-image">
	    						{% else %}
	    						<img src="//cdn.shopify.com/s/files/1/0953/6434/files/blog-test_large.jpg?8368396431958286162" alt="Default Blog Image">
							{% endif %}
							<p class="date-stamp stamp-{{ article.tags.first }}">{{ article.published_at | date: "%B %d, %Y" }}</p>
							<h3 class="blog-article-title"><a href="{{ article.url }}">{{ article.title }}</a></h3>
							<a class="excerpt-tag-link" href="/blogs/better-life/tagged/{{ tag | handle }}">{{ article_tag }}</a>
					</div>
					{% endif %}
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="container" id="mobile-article-callouts">
		<div class="row">
			<div class="col-sm-6">
				<div id="mailing-list">
		          	<div id="mailing-list-container">
		              	<h4>Join Our<br>Mailing List</h4>
		              	<p>For discounts, new product news, and tips.</p>
		              	<div id="mc_embed_signup">
			                <form action="//cleanhappens.us2.list-manage.com/subscribe/post?u=49c891c4b7723d9be668988ac&amp;id=ad62d6a7e1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			                    <div id="mc_embed_signup_scroll">
				                	<!--<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>-->
				                	<div class="mc-field-group">
				                  <!--<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
				                </label>-->
				                  		<input placeholder="E-mail Address" type="email" value="" name="EMAIL" class="required email home-email-signup" id="mce-EMAIL">
				                	</div>
				                  	<div id="mce-responses" class="clear">
				                    	<div class="response" id="mce-error-response" style="display:none"></div>
				                    	<div class="response" id="mce-success-response" style="display:none"></div>
				                  	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
				                    	<input type="text" name="b_49c891c4b7723d9be668988ac_ad62d6a7e1" tabindex="-1" value="">
				                    </div>
				                    <div class="clear">
				                    	<input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default home-call-to-action-2">
				                    </div>
			                    </div>
			                </form>
			            </div>
		          	</div>
		        </div>
		  	</div>
		  	<div class="col-sm-6">
		        {% include 'featured-product' %}
		  	</div>
		</div>
	</div>
</section>