{% include 'theme-variables' %}

<section id="video-blog" class="container">

	<header class="video-blog-header row">

		<div class="col-xs-12">

			<h1>Videos To Better <br/> Your Life.</h1>

		</div>

		<nav class="col-xs-12">

			<ul class="navbar nav">

				{% for link in linklists.video-blog-nav.links %}

					<li><a href="{{ link.url }}">{{ link.title }}</a></li>

				{% endfor %}

			</ul>

		</nav>

	</header>

	{% assign left = true %}

	{% for link in linklists.video-blog-nav.links %}

		<div class="video-blog-content row" id="{{ link.handle }}">

				{% assign flag = true %}

				{% for article in blogs.videos.articles %}

					{% assign firstImage = true %}

					{% for tag in article.tags %}

						{% if tag == link.title and flag == true %}

							{% assign flag = false %}

								<div class="col-md-7 col-xs-12 video-blog-video-container" style="padding:0;">

									<div class="video-blog-iframe-container">

										{% capture modal-class %}{{link.handle}}-modal{% endcapture %}

										<img src="{{ article.image.src | img_url: 'grande' }}" alt="{{ article.title }}" class="featured-image" />

										<a href="#" data-toggle="modal" data-target=".{{modal-class}}" data-iframe='{{ article.content }}'>

											<div class="play-icon">

												<div><img src="{{ 'play-btn.png' | asset_url }}" alt="Play" /></div>

											</div>

										</a>

										<div class="modal fade {{modal-class}} product-modals" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
								            
								            <div class="modal-dialog modal-xl">
								              
								              <div class="modal-content">
								                
								                {{ article.content }}
								              
								              </div>
								            
								            </div>
								        
								        </div>

									</div>

								</div>

						{% endif %}

					{% endfor %}

				{% endfor %}

				{% assign flag = true %}

				{% for article in blogs.videos.articles %}

					{% for tag in article.tags %}

						{% if tag == link.title and flag == true %}

							{% assign flag = false %}

							<div class="col-md-7 col-sm-6 col-xs-12" style="padding-left: 0; padding-right: 0;">

								<div class="col-md-3 video-blog-article-title">

									<h2>{{ link.title }}</h2>

								</div>

								<div class="col-md-9 video-blog-excerpt-container">

									<h3>{{ article.title }}</h3>

									<p>{{ article.excerpt }}</p>

								</div>

							</div>

							<div class='col-md-5 col-sm-6 col-xs-12 alternate-carousel-container'>

									<div class="alternate-carousel">

										{% for article in blogs.videos.articles %}

											{% for tag in article.tags %}

												{% if tag == link.title %}

													<div class="slide alternate-video-articles" data-carousel="{{ link.handle }}" data-title="{{ article.title }}" data-excerpt='{{ article.excerpt | replace: "'", "&lsquo;" }}' data-iframe='{{ article.content }}' data-image="{{ article.image.src | img_url: 'grande' }}">

														<div class="col-sm-6" style="width: 54.8%;">

															<img src="{{ article.image.src | img_url: 'grande' }}" alt="{{ article.title }}" {% if firstImage == true %} class="active" {% assign firstImage = false %} {% endif %} />

														</div>

														<div class="col-sm-6 alternative-slide-text" style="width: 44.2%;">

															<p>{{ article.title }}</p>

														</div>

														<div style="clear: both;"></div>

													</div>

												{% endif %}

											{% endfor %}

										{% endfor %}

									</div>

								</div>

						{% endif %}

					{% endfor %}

				{% endfor %}

		</div>

		{% unless forloop.last == true %}<hr class="horizontal-divider" />{% endunless %}

	{% endfor %}

</section>