{% include 'theme-variables' %}

  <script>mixed_cart = true;</script>
<section id="cart-wrap" class="section-wrap">
  {% include '__containers-open' %}
  <div class="row">
  <div class="col-sm-6 col-xs-12">
  <h1 class="page-header">Your Bag</h1>
    <!-- Bold: Quantity Breaks - Step 7 -->
<div id="shappify-qty-cart-msg"></div>
<!-- // end Bold code -->
  </div>
  <div class="col-sm-6 col-xs-12">
  <a class="top-shopping-link" href="{{ collections.[settings.collection-to-link-to-if-cart-empty].url }}">{% include '__localize' with 'Continue Shopping' %}</a>
  </div>
  </div>
  {% if has_cart and cart.item_count > 0 %}
  <script type="text/javascript">
  function remove_item(id, el) {
    //document.getElementById('updates_'+id).value = 0;
    //document.getElementById('cart').submit();
    $(el).parent().parent().find("[name*=updates]").val(0);
    $("[name=update]").click();
  }
  </script>

  <div class="text-left">
	{% comment %}{% if settings.cart-page-content %}
	{{ pages[settings.cart-page-content].content }}
	{% endif %}{% endcomment %}
    <form action="/cart" method="post" id="cart">
      <div class="row">
        <div class="{% if settings.show-shipping-estimator %}col-md-9{% else %}col-md-12{% endif %}">
          
          <table class="table" id="shopping-bag-table">
            <thead>
                <tr>
                  <td colspan="2">Item</td>
                  <td class="center-align">Unit Price</td>
                  <td class="center-align">Qty</td>
                  <td class="center-align">Remove</td>
                </tr>
            </thead>
            <tbody>
              <script>mixed_cart = false;</script>
              {% assign show_paypal = true %} 
              {% for i in cart.items %}
              {% assign item = i %}
              {% include 'bold-ro-price-fix' %}
{% assign prod_index = forloop.index0 %}
<input type="hidden" name="product_id[{{ forloop.index0 }}]" value="{{ item.product.id }}">
<input type="hidden" name="variant_id[{{ forloop.index0 }}]" value="{{ item.variant.id }}">
<input type="hidden" name="quantity[{{ forloop.index0 }}]" value="{{ item.quantity }}">

              <tr>
                <td><img id="cart-product-image" src="{{ i | img_url: 'medium' }}"></td>
                <td>
                    {{ i.product.title | link_to: i.url }}<br>
                    <small class="text-muted">{{ i.title | remove: i.product.title | remove: ' - ' }}</small><br>
        				  <p>
        					<!--{% comment %}<small class="text-muted">
        						<dl>
        						{% for p in i.properties %}
        						{% unless p.last == blank %}
        						<dt>{{ p.first }}:</dt>
        						<dd>
        							{% if p.last contains '/uploads/' %}
        							<a href="#{{ i.product.handle}}" data-toggle="modal">{{ p.last | split: '/' | last }}</a>
        							<div class="modal fade" id="{{ i.product.handle }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        								<div class="modal-dialog">
        									<div class="modal-content">
        										<img src="{{ p.last }}" alt="{{ p.first }}">
        									</div>
        								</div>
        							</div>
        							{% else %}
        							{{ p.last }}
        							{% endif %}
        						</dd>
        						{% endunless %}
        						{% endfor %}
        						</dl>
        					</small>{% endcomment %}-->
                            <!-- bold-ro-liquid -->
{% if item.properties.frequency_num %}
  <script>mixed_cart = true;</script>
  <br>
  <span class="bold_ro_every">Every</span>
  <input type="hidden" name="{{ prod_index }}[number]" value="{{ item.properties.frequency_num }}" />
  <span class="bold_ro_frequency_num">{{ item.properties.frequency_num }}</span>
{% endif %}
{% if item.properties.frequency_type %}
  <input type="hidden" name="{{ prod_index }}[type_id]" value="{{ item.properties.frequency_type }}" />
{% endif %}
{% if item.properties.frequency_type_text %}
  <span class="bold_ro_frequency_type_text">{{ item.properties.frequency_type_text }}</span>
{% endif %}
{% if item.properties.group_id %}
                            {% assign show_paypal = false %}
  <input type="hidden" name="{{ prod_index }}[group_id]" value="{{ item.properties.group_id }}" />
{% endif %}
{% if item.properties._ro_unformatted_price %}
  <br><span class="bold_ro_discounted_price">Discounted Price</span>
  <span class="discounted_price_in_cart">{{ item.properties._ro_unformatted_price | money }}</span> <span class="bold_ro_each">each</span>
{% endif %}
<!-- bold-ro-liquid -->
        				</p>
                </td>
                <td class="center-align"><span class='money'>{{ ro_item_price | money | replace: ' ','&nbsp' }}</span></td>
                <td class="center-align">
                  {% if i.variant.inventory_quantity <= 1 and i.variant.inventory_management == 'shopify' and i.variant.inventory_policy == 'deny' %}
                  <input type="hidden" name="updates[]" id="updates_{{ i.id }}" value="{{ i.quantity }}"/>
                  {{ i.quantity }}
                  {% else %}
            	    {% include '_product-max-qty' with i.product %}
                  <input type="number" class="form-control bag-qty" name="updates[]" id="updates_{{ i.id }}" value="{{ i.quantity }}" min="0"{% if product_max_qty %} max="{{ product_max_qty }}"{% endif %} onfocus="this.select();"/>
                  {% endif %}
                </td>
                <td><a class="text-muted bold-ro-remove" href="#" onclick="remove_item({{ i.variant.id }}, this); return false;">{{ 'cart-remove.gif' | asset_url | img_tag:'Remove' }}</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% if settings.show-shipping-estimator %}
        <div class="col-md-3">
          {% include 'shipping-calculator' %}
        </div>
        {% endif %}
      </div>
      <div class="row">
        <div class="form-group col-sm-8 col-md-9">
          <!--{% comment %}<h4>{% include '__localize' with 'Any comments or special instructions?' %}</h4>
          <div class="collapse in cart-note-action">
            <a href="#cart-note" class="btn btn-default" data-toggle="collapse">Add note</a>
          </div>
          <div class="collapse cart-note" id="cart-note">
            <textarea id="note" name="note" class="form-control" rows="3">{{ cart.note }}</textarea>
          </div>{% endcomment %}-->
        </div>
    
        <div class="form-actions text-right col-sm-4 col-md-3">
          <div class="row">
          <div class="col-xs-6">
          <p class="product-price cart-left-align">{% include '__localize' with 'Subtotal' %}</p>
          </div>
          <div class="col-xs-6">
          <p class="product-price">{{ ro_cart_total | money | replace: ' ','&nbsp' }}</p>
          </div>
          </div>
          {% include 'free-shipping-message' %}
		  
		  {% if settings.show-agree-with-terms-and-conditions-checkbox %}
		  {% comment %}Need to tidy this up{% endcomment %}
		  <p style="float:none; text-align:right; clear: both; margin: 10px 0;">
			  <input type="checkbox" id="agree" />
			  <label for="agree">{% include '__localize' with 'I agree with the terms and conditions.' %}</label>
		  </p>
		  {% endif %}
          
        <input name="shopify_customer_id" type="hidden" value="{{ customer.id }}" > 
<input name="email" type="hidden" value="{{ customer.email }}" > 
<input name="address1" type="hidden" value="{{ customer.default_address.address1 }}" > 
<input name="address2" type="hidden" value="{{ customer.default_address.address2 }}" > 
<input name="city" type="hidden" value="{{ customer.default_address.city }}" > 
<input name="company" type="hidden" value="{{ customer.default_address.company }}" > 
<input name="country" type="hidden" value="{{ customer.default_address.country }}" > 
<input name="first_name" type="hidden" value="{{ customer.default_address.first_name }}" > 
<input name="last_name" type="hidden" value="{{ customer.default_address.last_name }}" > 
<input name="phone" type="hidden" value="{{ customer.default_address.phone }}" > 
<input name="province" type="hidden" value="{{ customer.default_address.province }}" > 
<input name="zip" type="hidden" value="{{ customer.default_address.zip }}" >
{% include 'bold-ro-cart' %}
          {% if settings.ajax-cart %}
          <input type="submit" name="checkout" value="{% include '__localize' with 'Checkout' %}" class="btn btn-primary btn-block home-call-to-action" />
          {% else %}
          <div class="btn-group">
            <input type="submit" id="update-cart" name="update" value="{% include '__localize' with 'Update' %}" class="btn btn-default" />
            <input type="submit" name="checkout" value="{% include '__localize' with 'Checkout' %}" class="btn btn-primary home-call-to-action" />
          </div>
          {% endif %}
          {% if additional_checkout_buttons and show_paypal %}
          <div class="additional-checkout-buttons">
            <span class="text-muted">or</span>
            {{ content_for_additional_checkout_buttons }}
          </div>
          {% endif %}
        </div>
      </div>
    </form>
  </div>

  {% else %}
  {% assign cart_message = 'Your cart is empty' %}
  {% unless has_cart %}{% assign cart_message = 'The shopping cart is currently disabled' %}{% endunless %}
  <p>
    {% include '__localize' with cart_message %}.{% unless settings.collection-to-link-to-if-cart-empty == blank %} <a href="{{ collections.[settings.collection-to-link-to-if-cart-empty].url }}">{% include '__localize' with 'Browse' %} {{ collections.[settings.collection-to-link-to-if-cart-empty].title }}</a>.{% endunless %}
  </p>
  {% endif %}
  {% include '__containers-close' %}
</section>

{% if settings.show-agree-with-terms-and-conditions-checkbox %}
<script>
$('[name="checkout"], input[name="goto_pp"], input[name="goto_gc"]').click(function() {
  if($('#agree').is(':checked')){
    $(this).submit();
  }
  else{
    alert("{% include '__localize' with 'You must agree with the terms and conditions of sales to check out.' %}");
    return false;
  }
});
</script>
{% endif %}



<script>
$(document).on("click","[name='recurring_radio_btn']", function() {

    if($('.recurring_div').hasClass('bold_active')){
        $('.additional-checkout-buttons').hide();
    }else{
        $('.additional-checkout-buttons').show();
    }
});

</script>