{% include 'theme-variables' %}

{% if settings.advanced-homepage-layout != blank %}
	{% include 'index-advanced-layout' %}
{% else %}

<section id="home-product-grid">
  <div class="container full-width-container">
      <div class="row">
        <div id="cleaners-box" class="col-md-5 grid-product-box lazy" data-src="{{ 'home-cleaners-bg.gif' | asset_url }}">
          <div class="grid-product-container">
            <div class="grid-product-info">
              <p>Filth-Fighting</p>
              <h2>Cleaners</h2>
              <div class="form-group">
                  <a href="/collections/natural-cleaners" class="btn btn-default home-call-to-action" >SHOP</a>
              </div>
            </div>
            <div class="grid-product-info">
              <img src="{{ 'placeholder.gif' | asset_url }}" data-src="{{ 'all-purpose-cleaner-bottle.png' | asset_url }}" alt="All-purpose Cleaner" class="lazy" />
            </div>
          </div>
        </div>
        <div id="soaps-box" class="col-md-4 grid-product-box lazy" data-src="{{ 'home-soaps-bg.gif' | asset_url }}">
          <div class="grid-product-container">
            <div class="grid-product-info">
              <p>Dirt Demolishing</p>
              <h2>Laundry <br /> Detergent</h2>
              <div class="form-group">
                  <a href="/collections/laundry" class="btn btn-default home-call-to-action">SHOP</a>
              </div>
            </div>
            <div class="grid-product-info">
              <img src="{{ 'placeholder.gif' | asset_url }}" data-src="{{ 'laundry-detergent-bottle.png' | asset_url }}" alt="Natural Laundry Detergent" class="lazy" />
            </div>
          </div>
        </div>
        <div id="find-a-store-box" class="col-md-3 grid-product-box lazy" data-src="{{ 'map-bg.gif' | asset_url }}">
          <div class="grid-product-container">
            <div class="grid-product-info">
              <h2>Free Shipping<br>Over $50</h2>
              <p><a href="/pages/faq#free-shipping-faq">See details.</a></p>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="container full-width-container">
      <div class="row">
        <div id="kits-box" class="col-md-5 grid-product-box-2 lazy" data-src="{{ 'home-kits-bg.jpg' | asset_url }}">
          <div class="grid-product-container-2">
            <div class="grid-product-info">
              <p>Grime-Busting</p>
              <h2>Cleaning <span class="cleaning-kits-break">Kits</span></h2>
              <div class="form-group">
                  <a href="/collections/kits" class="btn btn-default home-call-to-action">SHOP</a>
              </div>
            </div>
          </div>
        </div>
        <div id="bulk-box" class="col-md-3 grid-product-box-2 lazy" data-src="{{ 'home-bulk-bg.jpg' | asset_url }}">
          <div class="grid-product-container-2" id="grid-bulk-container">
            <div class="grid-product-info">
              <p>Mess-Conquering</p>
              <h2>Refills</h2>
              <div class="form-group">
                  <a href="/collections/refills-and-multi-packs" class="btn btn-default home-call-to-action">SHOP</a>
              </div>
            </div>
          </div>
        </div>
        <div id="free-shipping-box" class="col-md-4 grid-product-box-2 lazy">
          <div class="grid-product-container-2">
            <div class="grid-product-info">
              <!--<h3>Free Shipping<br>Over $50</h3>
              <a href="/pages/faq#free-shipping-faq">See details.</a>-->
            </div>
          </div>
        </div>
      </div>
  </div>
</section> 

<section id="good-info">
  <div class="container full-width-container">
      <div class="row flex">
        <div id="good-text" class="col-md-5"> 
          <div id="good-text-container">
            <div id="good-text-positioned">
              <h1>Natural Cleaning Products for Today's Homeowners</h1>
              <h3>Cleaner By Nature.</h3>
              <ul>  
                <li>Powerful</li>
                <li>Plant-derived Ingredients and Scents</li>
                <li>Non-Toxic</li>
                <li>Biodegradable</li>
                <li>Never Tested on Animals</li>
                <li>Dye-Free</li>
              </ul>
            </div>
          </div>
          <div id="good-chemistry" class="row">
            <div class="col-md-3 lazy" id="good-chemistry-bg" data-src="{{ 'home-chemistry-bg.jpg' | asset_url }}">
            </div>
            <div class="col-md-9 lazy" id="good-chemistry-text" data-src="{{ 'home-chemistry-bolt.gif' | asset_url }}">
              <h3>Good<br>Chemistry.</h3>
              <p>Better Life was created by two dads (and lifelong friends) who wanted to show the world that safety and performance can play nice together.</p>
              <a href="/pages/about">Our story.</a>
            </div>
          </div>
        </div>
        <div id="good-image" class="col-md-7 lazy"> </div>
      </div>
  </div>
</section>

<section id="compare-newsletter-video">
  <div class="container full-width-container">
      <div class="row email-bg lazy">
        <div id="mailing-list" class="col-md-5">
          <div id="mailing-list-container">
              <!--<h4>Join Our Mailing List</h4>
              <p>Discover special discounts, new products, and natural cleaning tips.</p>
              <div id="mc_embed_signup">
                <form action="//cleanhappens.us2.list-manage.com/subscribe/post?u=49c891c4b7723d9be668988ac&amp;id=ad62d6a7e1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                  
                <!--<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>-->
                <!--<div class="mc-field-group">
                  <!--<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                </label>-->
                  <!--<input placeholder="E-mail Address" type="email" value="" name="EMAIL" class="required email home-email-signup" id="mce-EMAIL">
                <!--</div>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <!--<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_49c891c4b7723d9be668988ac_ad62d6a7e1" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default home-call-to-action-2"></div>
                    </div>
                </form>
              </div>-->
          </div>
        </div>  
        <div id="compare-products" class="col-md-3 lazy" data-src="{{ 'home-cleaners-bg.gif' | asset_url }}">
          <h4>We're Clean<br>Beyond Compare</h4>
        </div>
        <div id="video-featured" class="col-md-4">
          {% include 'featured-product' %}
          <!--<a href="#" data-toggle="modal" data-target=".flower-video-modal">
            <img src="{{ 'placeholder.gif' | asset_url }}" data-src="{{ 'flower-video-thumb.jpg' | asset_url }}" alt="Flower Timelapse" class="lazy row featured-image-video" />
          </a>
          <div class="modal fade flower-video-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <iframe src="about:blank" data-src="https://player.vimeo.com/video/139618664?title=0&byline=0&portrait=0" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
          </div>-->
        </div>
      </div>
  </div>
</section>

{% endif %}