{% include 'theme-variables' %}
<section id="page-wrap" class="section-wrap about-content">
	<div class="container">
		<div class="row">
			<div class="col-md-5 about-content-left">
				<div id="about-header-container">
					<h4 class="page-header">{{ page_title }}</h4>
				</div>
				{{ 'on-shark-tank.jpg' | asset_url | img_tag: 'Better Life on Shark Tank' }}
				<div id="shark-tank-box">
					<h4>AS SEEN ON<br><em>SHARK TANK</em>.</h4>
					<p><a href="/pages/about-shark-tank">Learn more about our experience.</a></p>
				</div>
			</div>
			<div class="col-md-7 col-sm-12 about-content-right">
				{{ 'about-bio-pic.jpg' | asset_url | img_tag: 'Founder Tim Barklage and his son' }}
				<div class="about-content-text">
					{% include '__formatted-content' with page.content %}
					<p id="cruelty-free" class="text-pull-left">
					{{ 'cruelty-free-logo.gif' | asset_url | img_tag: 'Cruelty Free' }}
					Better Life loves animals.<br>We don’t test on them (and we never will).
					</p>
					<img src="{{ 'fido.svg' | asset_url }}" alt="Fido is happy!" class="svg-rollover fido" onmouseover="this.src='{{ 'fido_active.svg' | asset_url }}';" onmouseout="this.src='{{ 'fido.svg' | asset_url }}';" width="100" />
					<img src="{{ 'fluffy.svg' | asset_url }}" alt="Fluffy is fluffy!" class="svg-rollover fluffy" onmouseover="this.src='{{ 'fluffy_active.svg' | asset_url }}';" onmouseout="this.src='{{ 'fluffy.svg' | asset_url }}';" width="100" />
					<img src="{{ 'planet.svg' | asset_url }}" alt="The planet is happy!" class="svg-rollover planet" onmouseover="this.src='{{ 'planet_active.svg' | asset_url }}';" onmouseout="this.src='{{ 'planet.svg' | asset_url }}';" width="100" />
					<img src="{{ 'flipper.svg' | asset_url }}" alt="Flipper is overjoyed!" class="svg-rollover flipper" onmouseover="this.src='{{ 'flipper_active.svg' | asset_url }}';" onmouseout="this.src='{{ 'flipper.svg' | asset_url }}';" width="100" />
					<img src="{{ 'grown.svg' | asset_url }}" alt="Grown Ups love it!" class="svg-rollover grown" onmouseover="this.src='{{ 'grown_active.svg' | asset_url }}';" onmouseout="this.src='{{ 'grown.svg' | asset_url }}';" width="100" style="width: 200px;" />
					<img src="{{ 'kid.svg' | asset_url }}" alt="Kids love it!" class="svg-rollover kid" onmouseover="this.src='{{ 'kid_active.svg' | asset_url }}';" onmouseout="this.src='{{ 'kid.svg' | asset_url }}';" width="100" />
				</div>
			</div>
			<div class="col-xs-12" id="mobile-shark-tank-callout">
			{{ 'on-shark-tank.jpg' | asset_url | img_tag: 'Better Life on Shark Tank' }}
				<div id="shark-tank-box">
					<h4>AS SEEN ON<br><em>SHARK TANK</em>.</h4>
					<p><a href="/pages/about-shark-tank">Learn more about our experience</a></p>
				</div>
			</div>
			<div class="col-md-12" id="ingredients-header">
				<h3>A Non-toxic Friendship.</h3>
			</div>
		</div>
	</div>
	<div class="container full-width-container">
		<div class="row">
			<div class="col-md-6" id="good-ingredients">
				<h4>Ingredients We Love</h4>
				<p class="ingredient-main">Plant-Derived Cleaning Agents</p>
				<p class="ingredient-secondary">From coconut, corn, and soap bark</p>
				<p class="ingredient-main">Natural Scents</p>
				<p class="ingredient-secondary">From botanical extracts</p>
			</div>
			<div class="col-md-6 col-xs-12" id="harsh-ingredients">
				<h4>Harsh Chemicals We Leave Out</h4>
						<div class="col-md-6 col-xs-6">
							<ul class="list-left">
								<li>Perfumes</li>
								<li>Dyes</li>
								<li>Alcohol</li>
								<li>Ammonia</li>
								<li>Bleach</li>
								<li>Chlorine</li>
								<li>Chloroform</li>
								<li>Ethers</li>
							</ul>
						</div>
						<div class="col-md-6 col-xs-6">
							<ul class="list-right">
								<li>Ethoxylates</li>
								<li>Parabens</li>
								<li>Petroleum Solvents</li>
								<li>Phosphates</li>
								<li>Phthalates</li>
								<li>Sulfates (SLS/SLES)</li>
								<li>Triclosan</li>
							</ul>
						</div>
			</div>
			<div class="col-md-8 col-xs-12" id="about-video">
				<!--<a id="flower-video-about" href="#" data-toggle="modal" data-target=".flower-video-modal">{{ 'flower-video-thumb.jpg' | asset_url | img_tag:'Flower Timelapse' , 'featured-image-video' }}</a>
		          <div class="modal fade flower-video-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		            <div class="modal-dialog modal-xl">
		              <div class="modal-content">
		                <iframe src="https://player.vimeo.com/video/139618664?title=0&byline=0&portrait=0" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		              </div>
		            </div>
		          </div>-->
			</div>

			<div class="col-md-4 col-xs-12" id="about-image">
				{{ 'about-lifestyle-image.jpg' | asset_url | img_tag: 'About Better Life' }}
			</div>
		</div>
	</div>
</section>