{% include 'theme-variables' %}
{% layout 'theme.landing-page-subscribe' %}
<section id="page-wrap subscribe-page" class="subscribe-page center-block text-center">
	{% include '__containers-open' %}
		<div id="subscribe-header-container" class="page-header">
			<h1><span>{{ page_title }}</span></h1>
			{% include '__formatted-content' with page.content %}
		</div>
		<!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
        <form method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="" action="https://cleanhappens.us2.list-manage.com/subscribe/post?u=49c891c4b7723d9be668988ac&amp;id=ad62d6a7e1">
        <div id="mc_embed_signup_scroll">
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
        <div class="mc-field-group"><input value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" type="email" placeholder="Email Address *" /><!--<label for="mce-EMAIL">Email Address <span class="asterisk">*</span> </label>--> </div>
        <div class="mc-field-group"><input value="" name="MMERGE22" class="form-control" id="mce-MMERGE22" type="text"  placeholder="Zip Code" /><!--<label for="mce-MMERGE22">Zip Code </label> --></div>
        <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display: none;"></div>
        <div class="response" id="mce-success-response" style="display: none;"></div>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input name="b_49c891c4b7723d9be668988ac_ad62d6a7e1" tabindex="-1" value="" type="text" /></div>
        <div class="clear"><input value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default home-call-to-action" type="submit" /></div>
        </div>
        </form>
        </div>
        <!--End mc_embed_signup-->
  
	{% include '__containers-close' %}
</section>



