{% include 'theme-variables' %}
<section id="page-wrap" class="section-wrap where-to-buy-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Find Better Life Products.</h1>
				<iframe scrolling="no" src="http://www.betterlifeclean.com/wheretobuy" frameborder="0"></iframe>
			</div>
		</div>
	</div>
</section>