{% include 'theme-variables' %}
<section id="page-wrap" class="section-wrap compare-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12 compare-page-header">
				<!--<a id="compare-video-trigger" href="#" data-toggle="modal" data-target=".compare-video-modal">{{ 'compare-video-thumb.jpg' | asset_url | img_tag: 'Flower Timelapse' }}</a>
				<div class="modal fade compare-video-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		            <div class="modal-dialog modal-xl">
		              <div class="modal-content">
		                <iframe src="about:blank" data-src="https://player.vimeo.com/video/139618664?title=0&byline=0&portrait=0" width="1100" height="615" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		              </div>
		            </div>
		        </div>-->
				<h1>{{ page.title }}</h1>
				{% include '__formatted-content' with page.content %}
			</div>
		</div>
	</div>
	<div class="container-fluid">
			<div class="col-md-12">
				<div class="table-responsive">
				<table class="table table-bordered" id="comparison-table">
					<thead>
						<tr>
							<th class="comparison-header"></th>
							<th>
								<h4>method</h4>
							 	<p>All-Purpose Cleaner<sup>1</sup></p>
							</th>
							<th>
								<h4>Better Life</h4></a>
							 	<p>All-Purpose Cleaner </p>
							</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td colspan="4">
								<sup>1</sup>As published on methodhome.com - 2/2/2018
							</td>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<td class="row-header">Dyes</td>
							<td class="table-checked"><div class="compare-circle method-circle"></div></td>
							<td class="better-life-col">&nbsp;</td>
						</tr>
						<tr>
							<td class="row-header">Alcohol</td>
							<td>&nbsp;</td>
                            <td class="better-life-col">&nbsp;</td>
						</tr>
						<tr>
							<td class="row-header">Synthetic Fragrance</td>
							<td class="table-checked"><div class="compare-circle method-circle"></div></td>
							<td class="better-life-col">&nbsp;</td>
						</tr>
						<tr>
							<td class="row-header">Sulfates<br><span class="row-sub-header">and/or Sulfanates</span></td>
							<td>&nbsp;</td>
                            <td class="better-life-col">&nbsp;</td>
						</tr>
						<tr>
							<td class="row-header">Ethoxylates<br><span class="row-sub-header">Petroleum-Based Cleaning Agents</span></td>
							<td class="table-checked"><div class="compare-circle method-circle"></div></td>
							<td class="better-life-col">&nbsp;</td>
						</tr>
					
					</tbody>
				</table>
				</div>
				<h2>More feeling good. Fewer warning labels.</h2>
				<p>How does Better Life stack up:</p>
			</div>
	</div>
	{% include 'compare-qa-box' %}
	
</section>