{% include 'theme-variables' %}
<section id="page-wrap" class="section-wrap about-shark-content">
	<div class="container">
		<div class="row">
			<div class="col-md-5 about-content-left">
				{{ 'kevin-drinks-cleaner.jpg' | asset_url | img_tag: 'Better Life products are safe!' }}
				<p>"The co-founders of Better Life spent six weeks preparing for their appearance on <em>Shark Tank</em>. It paid off."</p>
				<a href="http://www.inc.com/magazine/201411/leigh-buchanan/how-to-impress-mark-cuban-and-the-other-judges-on-shark-tank.html" target="_blank">- Inc. Magazine</a>
				<p>"[Better Life] is so safe that the guy was willing to spray his cleaning product in his mouth."</p>
				<a href="http://www.examiner.com/article/better-life-gets-a-deal-on-shark-tank-win-your-own-products-or-buy-them" target="_blank">- AXS Entertainment</a>
			</div>
			<div class="col-md-7 col-sm-12 about-content-right">
				<a href="#" data-toggle="modal" data-target=".shark-video-modal">{{ 'shark-tank-video-thumbnail.jpg' | asset_url | img_tag: 'Better Life on Shark Tank' }}</a>
				<div class="modal fade shark-video-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		            <div class="modal-dialog modal-lg">
		              <div class="modal-content">
		                <iframe src="about:blank" data-src="https://player.vimeo.com/video/88078295?title=0&byline=0&portrait=0" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		              </div>
		            </div>
		          </div>
				<div class="about-content-text">
					{% include '__formatted-content' with page.content %}
				</div>
				<div id="mobile-shark-tank-info">
					<div class="col-sm-6 col-xs-12">
					<p>"The co-founders of Better Life spent six weeks preparing for their appearance on <em>Shark Tank</em>. It paid off."</p>
					<a href="http://www.inc.com/magazine/201411/leigh-buchanan/how-to-impress-mark-cuban-and-the-other-judges-on-shark-tank.html" target="_blank">- Inc. Magazine</a>
					</div>
					<div class="col-sm-6 col-xs-12">
					<p>"[Better Life] is so safe that the guy was willing to spray his cleaning product in his mouth."</p>
					<a href="http://www.examiner.com/article/better-life-gets-a-deal-on-shark-tank-win-your-own-products-or-buy-them" target="_blank">- AXS Entertainment</a>
					</div>
				</div>
				<div id="shark-kit-offer">
					<div id="shark-kit-offer-text">
						<h3>Grab the Shark Kit!</h3>
						<p>Includes all Better Life products seen on <em>Shark Tank</em>, plus our Naturally Dirt-Destroying Floor Cleaner and microfiber cloth.</p>
						<div class="input-group">
			                <a href="/products/shark-kit" class="btn btn-default home-call-to-action-2">BUY NOW</a>
			             </div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
</section>