{% include 'theme-variables' %}
<section id="page-wrap" class="section-wrap retailer-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{{ 'retailer-hero.jpg' | asset_url | img_tag:'Become a Retailer' }}
				<h1>Irresistible on the Shelf.</h1>
				<h2>Better Life’s natural household cleaners, soaps, and lotions will exceed your customers’ expectations. As a family-run business, we’re committed to creating products – and a partnership – that will help you succeed.</h2>
				<p>Better Life's Products are:</p>
			</div>
		</div>
	</div>
	<div class="container retailer-feature-box">
		<div class="row">
			<div class="col-md-3 col-sm-6 retail-feature-container">
				<div class="retail-feature-box" id="feature-image">
					
				</div>
			</div>
			<div class="col-md-3 col-sm-6 retail-feature-container">
				<div class="retail-feature-box">
					<h3>In Demand</h3>
					<ul>
						<li>Recent appearance on <a href="/pages/about-shark-tank">ABC’s <em>Shark Tank</em></a></li>
						<li>National <a href="/pages/press">press coverage</a></li>
						<li>Named one of the 1,000 fastest growing companies for two consecutive years by <em>Inc. Magazine</em></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 retail-feature-container">
				<div class="retail-feature-box">
					<h3>Good For Business</h3>
					<ul>
						<li>High gross margins</li>
						<li>Colorful labels offer a distinctive shelf presence</li>
						<li>Ingredient and performance profiles that you can confidently stand behind</li>
						<li>Our pledge to exceed expectations = repeat business</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 retail-feature-container">
				<div class="retail-feature-box">
					<h3>Loved By Customers</h3>
					<ul>
						<li>Outperform conventional cleaners</li>
						<li>Meet customers’ highest expectations for green cleaning</li>
						<li>Safe for people, pets, and the planet</li>
						<li>Safe for high-end surfaces</li>
						<li>Competitive price point per ounce</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<a href="/pages/compare" id="purchase" class="purchase-btn">LEARN MORE</a>
				<h4>Request More Information</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8" id="retailer-contact">
				<!-- Note :

			   - You can modify the font style and form style to suit your website. 

			   - Code lines with comments “Do not remove this code”  are required for the form to work properly, make sure that you do not remove these lines of code. 

			   - The Mandatory check script can modified as to suit your business needs. 

			   - It is important that you test the modified form before going live.-->

			<div id='crmWebToEntityForm'>

			   <META HTTP-EQUIV ='content-type' CONTENT='text/html;charset=UTF-8'>

			   <form action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads751168000001435006 method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatory()' accept-charset='UTF-8'>



				 <!-- Do not remove this code. -->

				<input type='text' style='display:none;' name='xnQsjsdp' value='fc1dd4afb4fa46a22dcf97e1e773f8640aebe022d5d9658be074acdabcabf8bc'/>

				<input type='hidden' name='zc_gad' id='zc_gad' value=''/>

				<input type='text' style='display:none;' name='xmIwtLD' value='0e974995df4c5a5295c7373970e3a94bf7e37e324ca8838afbe74111e96fc1d1'/>

				<input type='text' style='display:none;'  name='actionType' value='TGVhZHM='/>



				<input type='text' style='display:none;' name='returnURL' value='http&#x3a;&#x2f;&#x2f;www.cleanhappens.com&#x2f;pages&#x2f;retailer-thank-you' /> 

				 <!-- Do not remove this code. -->

				<label for="retailer-company" class="sr-only">Company<span style='color:red;'>*</span></label><input type='text' maxlength='100' name='Company' id="retailer-company" placeholder="*Company" />

				<label for="retailer-first" class="sr-only">First Name<span style='color:red;'>*</span></label><input type='text' maxlength='40' name='First Name' id="retailer-first" placeholder="*First Name" />

				<label for="retailer-last" class="sr-only">Last Name<span style='color:red;'>*</span></label><input type='text' maxlength='80' name='Last Name' id="retailer-last" placeholder="*Last Name" />

				<label for="retailer-email" class="sr-only">Email<span style='color:red;'>*</span></label><input type='email' maxlength='100' name='Email' id="retailer-email" placeholder="*Email Address" />

				<label for="retailer-phone" class="sr-only">Phone<span style='color:red;'>*</span></label><input type='tel' maxlength='30' name='Phone' id="retailer-phone" placeholder="*Phone Number" />

				<label for="retailer-website" class="sr-only">Website</label><input type='text' maxlength='255' name='Website' id="retailer-website" placeholder="Website" />

				<label for="retailer-street" class="sr-only">Street</label><input type='text' maxlength='250' name='Street' id="retailer-street" placeholder="Street Address" />

				<label for="retailer-city" class="sr-only">City</label><input type='text' maxlength='30' name='City' id="retailer-city" placeholder="City" />

				<div class="row">

					<div class="col-sm-6">

						<label for="retailer-state" class="sr-only">State</label><input type='text' maxlength='30' name='State' id="retailer-state" placeholder="State" />

					</div>

					<div class="col-sm-6">

						<label for="retailer-zip" class="sr-only">Zip Code</label><input type='text' maxlength='30' name='Zip Code' id="retailer-zip" placeholder="Zip Code" />

					</div>

					<div class="col-sm-6">

						<label for="retailer-country" class="sr-only">Country</label><input type='text' maxlength='30' name='Country' id="retailer-country" placeholder="Country" />

					</div>

				</div>

				<label for="business-select">What type of business do you have&#x3f;</label>

				<select name='LEADCF18' id="business-select">

					<option value='-None-'>-None-</option>

					<option value='Brick&#x20;&amp;&#x20;Mortar&#x20;Store'>Brick &amp; Mortar Store</option>

					<option value='Online&#x20;Retailer'>Online Retailer</option>

					<option value='Distributor'>Distributor</option>

					<option value='Broker'>Broker</option>

					<option value='Commercial&#x20;Cleaning&#x20;Company'>Commercial Cleaning Company</option>

					<option value='Restaurant&#x20;&#x2f;&#x20;Hotel&#x20;&#x2f;&#x20;Similar&#x20;Facility'>Restaurant / Hotel / Similar Facility</option>

					<option value='Other'>Other</option>

				</select>

				<label for="retailer-hear-about" class="sr-only">How did you hear about us&#x3f;</label><textarea name='LEADCF20' id="retailer-hear-about" placeholder="How did you hear about us?" rows="5" style="resize: none;"></textarea>

				<input type='submit' value='Submit' class="btn btn-default home-call-to-action-2" />

				<input type='reset' value='Reset' class="btn btn-default home-call-to-action-2" />

				<script>

			 	  var mndFileds=new Array('Company','First Name','Last Name','Email','Phone');

			 	  var fldLangVal=new Array('Company','First Name','Last Name','Email','Phone');

					var name='';

					var email='';



			 	  function checkMandatory() {

					for(i=0;i<mndFileds.length;i++) {

					  var fieldObj=document.forms['WebToLeads751168000001435006'][mndFileds[i]];

					  if(fieldObj) {

						if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length==0) {

						 if(fieldObj.type =='file')

							{ 

							 alert('Please select a file to upload'); 

							 fieldObj.focus(); 

							 return false;

							} 

						alert(fldLangVal[i] +' cannot be empty'); 

			   	   	  	  fieldObj.focus();

			   	   	  	  return false;

						}  else if(fieldObj.nodeName=='SELECT') {

			  	   	   	 if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {

							alert(fldLangVal[i] +' cannot be none'); 

							fieldObj.focus();

							return false;

						   }

						} else if(fieldObj.type =='checkbox'){

			 	 	 	 if(fieldObj.checked == false){

							alert('Please accept  '+fldLangVal[i]);

							fieldObj.focus();

							return false;

						   } 

						 } 

						 try {

						     if(fieldObj.name == 'Last Name') {

							name = fieldObj.value;

			 	 	 	    }

						} catch (e) {}

					    }

					}

				     }

				   

			</script>

				</form>

			</div>
				<p>Questions? Call us at 877-256-4767 x2.</p>
			</div>
			<div class="col-md-4" id="compare-products">
				<h4>We're Clean<br>Beyond Compare</h4>
          		<a href="/pages/compare">But compare us anyway.</a>
			</div>
		</div>
	</div>
</section>