{% include 'theme-variables' %}
<section id="page-wrap" class="section-wrap press-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Good News Travels Fast.</h1>
			</div>
			<div class="col-md-5 col-sm-12 press-content-left">
				<div id="press-header-container">
					<h4>About Better Life</h4>
					<p>Better Life challenges the way people think about natural cleaning.</p>
					<a href="/pages/about">Discover our story.</a>
				</div>
			</div>
			<div class="col-md-7 col-sm-12 press-content-right">
					<div id="blogger-box">
						<h4>Media and Blogger Inquiries</h4>
						<a href="mailTo:pressinquiries@cleanhappens.com?subject=Press Inquiry">pressinquiries@cleanhappens.com</a>
						<a class="contact-info contact-phone">877-CLN-HPNS x1 (877-256-4767 x1)</a>
						<p>Monday – Friday, 8:30 – 5:00 CT</p>
					</div>
				<a href="#" data-toggle="modal" data-target=".shark-video-modal" class="shark-episode-trigger">{{ 'shark-tank-video-thumbnail.jpg' | asset_url | img_tag: 'Better Life on Shark Tank' }}</a>
				<a class="shark-episode-trigger" href="#" data-toggle="modal" data-target=".shark-video-modal">Watch our <strong><em>Shark Tank</em></strong> episode now.</a>
				<div class="modal fade shark-video-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		            <div class="modal-dialog modal-xl">
		              <div class="modal-content">
		                <iframe src="about:blank" data-src="https://player.vimeo.com/video/88078295?title=0&byline=0&portrait=0" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		              </div>
		            </div>
		          </div>
			</div>
		</div>
		<div class="row recent-press">
			<header class="col-md-11 col-sm-12 col-md-offset-1">
				<h2>Recent Press</h2>
				<div class="controls">
					<a href="#RecentPressCarousel" data-slide="prev">&lsaquo;</a>
					<a href="#RecentPressCarousel" data-slide="next">&rsaquo;</a>
				</div>
			</header>
			<div id="RecentPressCarousel" class="carousel slide press-multi-slide" data-interval="false">
				<div class="carousel-inner">
					{% for article in blogs.recent-press.articles %}
						<div class="item{% if forloop.first == true %} active{% endif %}">
							<article class="col-sm-3 col-sm-offset-1 col-xs-6 article" data-id="{{ article.id }}" data-pdf="{{ article.content }}" onclick="TogglePressExpanded($(this));">
								<div>
									<img src="{{ article | img_url: '270x' }}" alt="{{ article.title | escape }}" />
									<h3>{{ article.title }}</h3>
									{{ article.excerpt }}
								</div>
							</article>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="row recent-press-expanded">
			<div class="col-sm-11 col-sm-offset-1">
				<div style="position:relative;padding-bottom:56.25%;">
					<embed src="{{ 'test-pdf.pdf' | asset_url }}#zoom=FitH" frameborder="0"/>
				</div>
				<div class="social-bar">
					<ul>
						<li><a href="" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="" target="_blank" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="" target="_blank" class="tumblr"><i class="fa fa-tumblr"></i></a></li>
					</ul>
				</div>
				<p class="pdf-new-tab"><a href="{{ 'test-pdf.pdf' | asset_url }}" target="_blank">Not displaying correctly? Click here.</a></p>
			</div>
		</div>
		<div class="row press-releases">
			<header class="col-md-11 col-sm-12 col-md-offset-1">
				<h2>Press Releases</h2>
			</header>
			<article class="col-md-3 col-sm-4 col-md-offset-1 article">
				<h3>June 17, 2014</h3>
				<p><a href="{{ 'Better-Life-Expands-Commitment-to-the-Environment.pdf' | asset_url }}" target="_blank">Better Life Expands Commitment to the Environment</a></p>
			</article>
			<article class="col-md-3 col-sm-4 col-md-offset-1 article">
				<h3>November 5, 2013</h3>
				<p><a href="{{ 'ABCs-Shark-Tank-Investors-Hooked-by-Better-Life-All-Natural-Household-Cleaning-Products.pdf' | asset_url }}" target="_blank">ABC's <em>Shark Tank</em> Investors Hooked by Better Life Natural Household Cleaning Products</a></p>
			</article>
			<article class="col-md-3 col-sm-4 col-md-offset-1 article">
				<h3>October 31, 2013</h3>
				<p><a href="{{ 'Better-Life-Will-Be-Featured-on-ABCs-Shark-Tank-Friday-Nov-1st.pdf' | asset_url }}" target="_blank">Better Life Will Be Featured on ABC's <em>Shark Tank</em> Friday Nov 1st</a></p>
			</article>
		</div>
	</div>	
</section>