{% include 'theme-variables' %}
<section id="page-wrap" class="section-wrap compare-content">
	<div class="container" id="thank-you-container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="thank-you-message">Thanks for signing up for the Better Life Newsletter!</h1>
				<p class="intro-text">To complete the subscription process, check your email and follow the directions to confirm your email address</p>
				<p class="intro-text">Get ready to receive exclusive news, specials and deals!</p>
				<div id="shark-kit-offer">
					<div id="shark-kit-offer-text">
						<h3>Grab the Shark Kit!</h3>
						<p>Includes all Better Life products seen on <em>Shark Tank</em>, plus our Naturally Dirt-Destroying Floor Cleaner and microfiber cloth.</p>
						<div class="input-group">
			                <a href="/products/shark-kit" class="btn btn-default home-call-to-action-2">BUY NOW</a>
			             </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>