{% include 'theme-variables' %}
<section id="page-wrap" class="section-wrap faq-content">
	<div class="container">
		<div class="row">
			<div class="col-md-5 faq-content-left">
				{{ 'on-shark-tank.jpg' | asset_url | img_tag: 'Better Life on Shark Tank' }}
				<div id="shark-tank-box">
					<h4>AS SEEN ON<br><em>SHARK TANK</em>.</h4>
					<p><a href="/pages/about-shark-tank">Learn more about our experience.</a></p>
				</div>
			</div>
			<div class="col-md-7 col-sm-12 faq-content-right">
				<h1>{{ page_title }}</h1>
				<h2>It Doesn't Hurt<br> to Ask.</h2>
				<div class="faq-content-text">
					{% comment %}{% include '__formatted-content' with page.content %}{% endcomment %}
					{{ page.content }}
				</div>
				<div class="col-xs-12" id="mobile-shark-tank-callout">
				{{ 'on-shark-tank.jpg' | asset_url | img_tag: 'Better Life on Shark Tank' }}
					<div id="shark-tank-box">
						<h4>AS SEEN ON<br>SHARK TANK.</h4>
						<p><a href="/pages/about-shark-tank">Learn more about our experience</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>