{% include 'theme-variables' %}
<section id="page-wrap" class="section-wrap thanks-content">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="page-header text-center">{{ page_title }}</h1>
				<div class="content-wrapper">
					{% include '__formatted-content' with page.content %}
				</div>
				<a class="shop-button btn btn-default home-call-to-action" href="https://www.betterlifecleaning.ca">Let's Shop</a>
				{% if page.handle  == 'thanks-for-subscribing' %}<a class="preferences-link btn btn-default home-call-to-action" href="https://www.betterlifecleaning.ca/account">Manage Preferences</a>{% endif %}
			</div>
		</div>

		<div class="row product-row">
			<div class="col-sm-6">
				<div class="row">
					<div class="col-md-6">
						<a class="product-link" href="https://www.betterlifecleaning.ca/collections/natural-cleaners">
							<div class="product-img-wrapper">
								{{ 'allpurpose.png' | asset_url | img_tag: 'Shop Natural Cleaners' }}
							</div>
							<div class="product-title">
								Shop Natural <br/>Cleaners
							</div>
						</a>
					</div>
					<div class="col-md-6">
						<a class="product-link" href="https://www.betterlifecleaning.ca/collections/dish">
							<div class="product-img-wrapper">
								{{ 'dishwashergel.png' | asset_url | img_tag: 'Shop Dish' }}
							</div>
							<div class="product-title">
								Shop Dish
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row">
					<div class="col-md-6">
						<a class="product-link" href="https://www.betterlifecleaning.ca/collections/laundry">
							<div class="product-img-wrapper">
								{{ 'laundry-detergent.png' | asset_url | img_tag: 'Shop Laundry' }}
							</div>
							<div class="product-title">
								Shop Laundry
							</div>
						</a>
					</div>
					<div class="col-md-6">
						<a class="product-link" href="https://www.betterlifecleaning.ca/collections/soaps-and-lotions">
							<div class="product-img-wrapper">
								{{ 'lotion.png' | asset_url | img_tag: 'Shop Soaps and Lotions' }}
							</div>
							<div class="product-title">
								Shop Soaps &amp; Lotions
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="row product-row padded-row">
			<div class="col-md-4 col-sm-6 odd-row-offset">
				<a class="product-link" href="https://www.betterlifecleaning.ca/collections/accessories">
                    <div class="product-img-wrapper">
                      	{{ 'accessory.png' | asset_url | img_tag: 'Shop Accessories' }}
                    </div>
                    <div class="product-title">
                      	Shop Accessories
                    </div>
                </a>
			</div>
			<div class="col-md-4 col-sm-6">
				<a class="product-link" href="https://www.betterlifecleaning.ca/collections/refills-and-multi-packs">
                    <div class="product-img-wrapper">
                      	{{ 'refill.png' | asset_url | img_tag: 'Shop Refills and Multi-Packs' }}
                    </div>
                    <div class="product-title">
                      	Shop Refills &amp; multi-packs
                    </div>
                </a>
			</div>
			<div class="col-md-4 col-sm-12">
				<a class="product-link" href="https://www.betterlifecleaning.ca/collections/kits-and-gifts">
                    <div class="product-img-wrapper">
                      	{{ 'kit.png' | asset_url | img_tag: 'Shop Kits and Gifts' }}
                    </div>
                    <div class="product-title">
                      	Shop Kits &amp; Gifts
                    </div>
                </a>
			</div>
		</div>

		<div class="row big-gray-box text-center">
			<div class="box-welcome-text"><p>Here are just a few reasons to pick up a bottle of Better Life if you haven’t already:</p></div>
			<div class="row">
				<div class="col-md-4 reason-box">
					{{ 'x-icon.png' | asset_url | img_tag: 'No perfume, dyes, alcohol, or bleach.' }}
					<div class="reason-title"><p>No perfume, dyes, alcohol, or bleach.</p></div>
					<div class="reason-text"><p>Our products are made with plant-derived cleaning agents and natural scents – never any harsh chemicals.</p></div>
				</div>
				<div class="col-md-4 reason-box">
					{{ 'duck-icon.png' | asset_url | img_tag: 'Better Life is safe around kids and pets.' }}
					<div class="reason-title"><p>Better Life is safe around kids and pets.</p> </div>
					<div class="reason-text"><p>Our formulas are free of unnecessary ingredients that could pose health risks.</p></div>
				</div>
				<div class="col-md-4 reason-box">
					{{ 'sparkle-icon.png' | asset_url | img_tag: 'Our products power through grease and grime.' }}
					<div class="reason-title"><p>Our products power through grease and grime.</p></div>
					<div class="reason-text"><p>Amazing things happen when you take the toxins out of household cleaners. Better Life shines, naturally.</p></div>
				</div>
			</div>
			<a class="shop-button btn btn-default home-call-to-action" href="https://www.betterlifecleaning.ca">Let's Shop</a>
		</div>

    </div>
</section>