{% include 'theme-variables' %}
<section id="page-wrap" class="section-wrap compare-content">
	<div class="container retailer-thank-you-page" id="thank-you-container">
		<div class="row">
			<div class="col-md-12">
				<h1>Thanks for your interest in becoming a Better Life Retailer</h1>
				<p class="intro-text">You've taken the first step in exceeding your customer's expectations with our natural household cleaners, soaps, and lotions.</p>
				<p class="intro-text">We'll contact you if we need additional information. In the meantime, if you have questions, don't hesitate to <a href="mailto:info@cleanhappens.com?Subject=Becoming a Retailer">reach out</a>.</p>
			</div>
		</div>
	</div>
</section>