{% include 'theme-variables' %}
<section id="contact-page-wrap" class="section-wrap">
	<div class="full-width-container" id="contact-header">
		<div class="container">
			<div class="row">
				<div class="main-contact-content col-md-12">
					<h1>Say It</h1>
					<h2>(And Spray It).</h2>
					<p>Whether it’s a question, comment, suggestion, rant, or rave, we'd love to hear from you. Call us to chat or use the form below to send an email if you’re big on brevity.</p>
				</div>
			</div>
		</div>	
	</div>
	<div class="full-width-container" id="contact-body">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-12" id="contact-phone">
					<h3>Send us an Email</h3>
					{% include 'contact-form' %}
				</div>
				<div class="col-md-6 col-sm-12">
					<h3>General</h3>
					<!--<a class="contact-info contact-email" href="mailto:info@cleanhappens.com?Subject=Web Inquiry">info@cleanhappens.com</a>-->
					<a class="contact-info contact-phone">905-363-1501</a>
					<p>Monday - Friday, 8:30 - 5:00 EST<br>
					<em>Press 1 for questions regarding online<br>orders<br>Press 3 for wholesale information</em></p>
					<h3>Advertising</h3>
					<a class="contact-info contact-email" href="mailto:advertising@cleanhappens.com?Subject=Advertising Inquiry">advertising@cleanhappens.com</a>
					<h3>Media and Bloggers</h3>
					<a class="contact-info contact-email" href="mailto:pressinquiries@cleanhappens.com?Subject=Press Inquiry">pressinquiries@cleanhappens.com</a>
				</div>
			</div>
		</div>
	</div>
	<div class="full-width-container" id="contact-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h4>Not ready to reach out?</h4>
					<p>Our <a href="/pages/faq">frequently asked questions</a> might save the day.</p>
						<div class="row">
							<div class="col-md-3 col-md-offset-10 contact-social-icons">
							<a href="http://www.facebook.com/CleanHappens" target="_blank">{{ 'contact-facebook-icon.gif' | asset_url | img_tag: 'Find us on Facebook!' }}</a>
							<a href="http://www.twitter.com/CleanHappens" target="_blank">{{ 'contact-twitter-icon.gif' | asset_url | img_tag: 'Follow us on Twitter!' }}</a>
							<a href="http://www.pinterest.com/cleanhappens/" target="_blank">{{ 'contact-pinterest-icon.gif' | asset_url | img_tag: 'Follow us on Pinterest!' }}</a>
							</div>
						</div>
				</div>
				<!--<div class="col-md-4" id="contact-find-store">
				<a class="large-button-hover" href="/pages/find-a-store">
					<h3>Find a Store</h3>
					<p>Find Better Life products near you.</p>
					</a>
				</div>-->
			</div>
			<div class="row">
				<div class="col-md-3 col-md-offset-5" id="contact-become-retailer">
				<a class="large-button-hover" href="/pages/become-a-retailer/">
				<h3>Become a<br>Retailer</h3>
				</a>
				</div>
				<div class="col-md-4" id="contact-lifestyle-photo">
					{{ 'contact-lifestyle-photo.jpg' | asset_url | img_tag: 'Cute Puppy!' }}
				</div>
			</div>
		</div>
	</div>
</section>