{% include 'theme-variables' %}
<section id="page-wrap" class="section-wrap compare-content">
	<!-- Start Custom Content -->
	{{ page.content }}
	<!-- End Custom Content -->
	{% include 'compare-qa-box' %}
	
</section>