{% include 'theme-variables' %}
<section id="page-wrap" class="section-wrap compare-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!--<a id="compare-video-trigger" href="#" data-toggle="modal" data-target=".compare-video-modal">{{ 'compare-video-thumb.jpg' | asset_url | img_tag: 'Flower Timelapse' }}</a>
				<div class="modal fade compare-video-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		            <div class="modal-dialog modal-xl">
		              <div class="modal-content">
		                <iframe src="about:blank" data-src="https://player.vimeo.com/video/139618664?title=0&byline=0&portrait=0" width="1100" height="615" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		              </div>
		            </div>
		        </div>-->
				<h1>Cleaner by Nature.</h1>
				<p class="intro-text">Clean shouldn’t sting. It doesn’t need neon dyes, and it shouldn’t have to wear perfume. At Better Life, we develop all of our products in-house to ensure we’re creating the safest, best performing products, without compromise. Amazing things happen when you take the toxins out of the household cleaners.</p>
			</div>
		</div>
	</div>
	<div class="container-fluid">
			<div class="col-md-12">
				<div class="table-responsive">
				<table class="table table-bordered" id="comparison-table">
					<thead>
						<tr>
							<th class="comparison-header"></th>
							<th>
								<h4>method</h4></a>
							 	<p>All Purpose Cleaner<sup>1</sup></p>
							</th>
							<th>
								<h4>Mrs. Meyer's</h4></a>
							 	<p>All Purpose Cleaner<sup>1</sup></p>
							</th>
							<th>
								<h4>Green Works</h4></a>
							 	<p>All-Purpose Cleaner<sup>1</sup></p>
							</th>
							<th>
								<h4>The Honest Company</h4></a>
							 	<p>All Purpose Cleaner<sup>1</sup></p>
							</th>
							<th>
								<h4>BioKleen</h4></a>
							 	<p>All- Purpose Cleaner<sup>1</sup></p>
							</th>
							<th>
								<h4>Better Life</h4></a>
							 	<p>All Purpose Cleaner<sup>1</sup></p>
							</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td colspan="2">
								<sup>1</sup>(Pulled from competitors websites 02/02/2018)<br>
								
							</td>
							
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<td class="row-header">Dyes</td>
							<td class="table-checked"><div class="compare-circle method-circle"></div></td>
							<td>&nbsp;</td>
							<td class="table-checked"><div class="compare-circle green-works-circle"></div></td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td class="better-life-col">&nbsp;</td>
						</tr>
						<tr>
							<td class="row-header">Alcohol</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td class="table-checked"><div class="compare-circle green-works-circle"></div></td>
							<td class="table-checked"><div class="compare-circle honest-circle"></div></td>
							<td>&nbsp;</td>
							<td class="better-life-col">&nbsp;</td>
						</tr>
						<tr>
							<td class="row-header">Synthetic Fragrance</td>
							<td class="table-checked"><div class="compare-circle method-circle"></div></td>
							<td class="table-checked"><div class="compare-circle meyers-circle"></div></td>
							<td class="table-checked"><div class="compare-circle green-works-circle"></div></td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td class="better-life-col">&nbsp;</td>
						</tr>
						<tr>
							<td class="row-header">Sulfates<br><span class="row-sub-header">and/or Sulfanates</span></td>
							<td>&nbsp;</td>
							<td class="table-checked"><div class="compare-circle meyers-circle"></div></td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td class="table-checked"><div class="compare-circle biokleen-circle"></div></td>
							<td class="better-life-col">&nbsp;</td>
						</tr>
						<tr>
							<td class="row-header">Ethoxylates<br><span class="row-sub-header">Petroleum-Based Cleaning Agents</span></td>
							<td class="table-checked"><div class="compare-circle method-circle"></div></td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td class="table-checked"><div class="compare-circle honest-circle"></div></td>
							<td class="table-checked"><div class="compare-circle biokleen-circle"></div></td>
							<td class="better-life-col">&nbsp;</td>
						</tr>
						
					</tbody>
				</table>
				</div>
				<h2>More feeling good. Fewer warning labels.</h2>
				<p>How does Better Life stack up:</p>
			</div>
	</div>
	{% include 'compare-qa-box' %}
	
</section>