{% include 'theme-variables' %}

{% assign respond_js_secret_key = (shop.domain | md5) %}
{% unless search.terms == respond_js_secret_key %}

<section id="search-wrap" class="section-wrap">
  {% include '__containers-open' %}
  <h1 class="page-header">{% include 'smart-title' %}</h1>

  {% if search.results_count > 0 %}
  {% include '__default-pagination' %}
  {% paginate search.results by default-pagination %}
  <div class="row search-products">
    {% for i in search.results %}
    {% if i.price != blank %}
    {% assign product_count = forloop.length %}
    {% include 'product-loop' with i %}
    {% endif %}
    {% endfor %}
  </div>
  <div class="search-pages">
    {% for i in search.results %}
    {% if i.price == blank %}
    {% include 'search-loop' %}
    {% endif %}
    {% endfor %}
  </div>
  {% include 'pagination' %}
  {% endpaginate %}
  {% else %}
  <h3>{% include '__localize' with 'No search results found' %}.</h3>
  <p class="lead">
    {% include '__localize' with 'Try another search' %}{% unless settings.collection-to-link-to-if-cart-empty == blank %} <a href="{{ collections.[settings.collection-to-link-to-if-cart-empty].url }}">{% include '__localize' with ' or browse all products' %}</a>.{% endunless %}
  </p>
  <form class="form-inline" action="/search">
    <div class="input-group input-group-appended">
      <input type="search" name="q" class="form-control search-bar" autocomplete="off" placeholder="{% include '__localize' with 'Search' %}" value="{{ search.terms }}">
      <span class="input-group-btn">
        <input type="submit" class="btn btn-primary" value="Search" />
      </span>
    </div>
  </form>
  {% endif %}
  {% include '__containers-close' %}
</section>

{% else %}
{% layout none %}
{% include 'respond' %}
{% endunless %}
<script>
$(document).ready(function(){
    $('.swatch li').click(function(){
      var this_element = $(this);
      var parent_element = this_element.parent();
      var img_wrapper = this_element.parents('.product-thumbnail');
      var variantImgPath = this_element.find('input[type=hidden]').val();
        var img_element = $(img_wrapper).find('img')[0];
        $(img_element).attr('src', variantImgPath);
      var scent_list_items = parent_element.find(' li');
      scent_list_items.each(function() {
        $(this).removeClass('option-active');
    });
      var option_value = this_element.data('option-value');
      var productid_value = this_element.data('product-id');
        $(this).addClass('option-active'); 
        $('input[data-product-id='+productid_value+']').val(option_value);  
    });
});
</script>